<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
        <multipart-config>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/</welcome-file>
    </welcome-file-list>
    <error-page>
        <location>/error</location>
    </error-page>
    <ejb-local-ref>
        <ejb-ref-name>CategoryFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>vn.htdshop.sb.CategoryFacadeLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CustomerFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>vn.htdshop.sb.CustomerFacadeLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>DeliveryFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>vn.htdshop.sb.DeliveryFacadeLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>Order1Facade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>vn.htdshop.sb.Order1FacadeLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>OrderDetailFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>vn.htdshop.sb.OrderDetailFacadeLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>PreBuiltFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>vn.htdshop.sb.PreBuiltFacadeLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>PreBuiltImageFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>vn.htdshop.sb.PreBuiltImageFacadeLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>PreBuiltRatingFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>vn.htdshop.sb.PreBuiltRatingFacadeLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ProductCommentFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>vn.htdshop.sb.ProductCommentFacadeLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ProductCommentReplyFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>vn.htdshop.sb.ProductCommentReplyFacadeLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ProductFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>vn.htdshop.sb.ProductFacadeLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ProductImageFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>vn.htdshop.sb.ProductImageFacadeLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>PromotionDetailFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>vn.htdshop.sb.PromotionDetailFacadeLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>PromotionFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>vn.htdshop.sb.PromotionFacadeLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>RightsDetailFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>vn.htdshop.sb.RightsDetailFacadeLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>RoleFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>vn.htdshop.sb.RoleFacadeLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>RoleRightsFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>vn.htdshop.sb.RoleRightsFacadeLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>StaffFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>vn.htdshop.sb.StaffFacadeLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>UserFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>vn.htdshop.sb.CategoryFacadeLocal</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ImageSlideFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>vn.htdshop.sb.ImageSlideFacadeLocal</local>
    </ejb-local-ref>
</web-app>
