<!DOCTYPE html>
<!--
    + To use layout, add following attribute in <html> tag: 
        layout:decorate="~{path_from_java's_webapp_root_folder_and_without_extension}"

    + To change content from layout, add following attribute to correspondly tag:
        layout:fragment="fragment_name"
      Declare any unique tag like <title>,... will replace it from layout 

    + Any src / href attribute that using relative url from web, change it all to th:src and th:href
    like following code:
        th:src="@{/url_from_context_path_(not_include_context_path)}"
        th:href="@{/url_from_context_path_(not_include_context_path)}"
-->

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{HTDManager/layout}">

<head>
    <title>HTD Manager - Image Slide</title>
    <!-- Hide default datatable's filter -->
    <style>
        .dataTables_filter {
            float: right !important;
        }
    </style>
</head>

<body>
    <!--
        
    -->
    <span layout:fragment="title">
        <i class="fas fa-images" style="font-size:20px"></i> Image Slide
        <a class="btn btn-success" th:href="@{/manager/imageslide/add}">
            <i class="fas fa-plus-square fa-lg mr-2"></i> Add new Slide
        </a>
    </span>

    <div layout:fragment="breadcrumb">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a th:href="@{/manager}">Home</a></li>
            <li class="breadcrumb-item active">Image Slide</li>
        </ol>
    </div>

    <div layout:fragment="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-purple card-outline card-outline-tabs">
                    <div class="card-header p-0 pt-1 border-bottom-0">
                        <ul class="nav nav-tabs" id="imageslide-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="imageslide-active-tab" data-toggle="pill"
                                    href="#imageslide-active" role="tab" aria-controls="imageslide-active"
                                    aria-selected="true">Active Image Slides</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="imageslide-disabled-tab" data-toggle="pill"
                                    href="#imageslide-disabled" role="tab" aria-controls="imageslide-disabled"
                                    aria-selected="false">Disabled Image Slides</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="imageslide-tabContent">
                            <div class="tab-pane fade show active" id="imageslide-active" role="tabpanel"
                                aria-labelledby="imageslide-active-tab">
                                <table id="tblImageSlide" class="table table-bordered table-striped table-hover">
                                    <thead class="bg-purple">
                                        <th>Image</th>
                                        <th>Order</th>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Action</th>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                    <tfoot class="bg-purple">
                                        <th>Image</th>
                                        <th>Order</th>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Action</th>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="imageslide-disabled" role="tabpanel"
                                aria-labelledby="imageslide-disabled-tab">
                                <table id="tblImageSlideDisabled"
                                    class="table table-bordered table-striped table-hover">
                                    <thead class="bg-purple">
                                        <th>Image</th>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Action</th>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                    <tfoot class="bg-purple">
                                        <th>Image</th>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Action</th>
                                    </tfoot>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>

    <!--In case using custom script at pages using layout, add th:inline="none" like below-->
    <script layout:fragment="script" th:inline="javascript">
        /*<![CDATA[*/
        var lastOrder = +/*[[${lastOrder}]]*/0;

        function confirmDelete(title, url) {
            showModal('Confirm deletion',
                'Are you sure to delete "' + title + '" ?',
                url,
                true,
                true);
        }

        function doDisable(id) {
            $.ajax({
                url: /*[[@{/manager/imageslide/doDisable}]]*/"",
                type: 'POST',
                processData: true,
                data: { id: id },
                success: function (data) {
                    if (data == true) {
                        Toast.fire({
                            type: 'success',
                            title: "Successfully disabled image slide."
                        });
                        refreshLastOrder();
                        table.ajax.reload(null, false);
                        tableDisabled.ajax.reload(null, false);
                    } else {
                        Toast.fire({
                            type: 'error',
                            title: "Error while disabling this image slide",
                            timer: 5000
                        });
                    }
                }
            });
        }

        function doReorder(id, order) {
            $.ajax({
                url: /*[[@{/manager/imageslide/doReorderAjax}]]*/"",
                type: 'POST',
                processData: true,
                data: { id: id, order: order },
                success: function (data) {
                    if (data == true) {
                        Toast.fire({
                            type: 'success',
                            title: "Successfully re-order."
                        });
                        refreshLastOrder();
                        table.ajax.reload(null, false);
                        tableDisabled.ajax.reload(null, false);
                    } else {
                        Toast.fire({
                            type: 'error',
                            title: "Error while re-ordering this slide. Please refresh",
                            timer: 5000
                        });
                    }
                }
            });
        }

        function refreshLastOrder() {
            $.ajax({
                url: /*[[@{/manager/imageslide/lastOrder}]]*/"",
                type: 'POST',
                processData: true,
                success: function (data) {
                    lastOrder = parseInt(data);
                }
            });
        }

        // Setting up table here
        var table = $('#tblImageSlide').DataTable({
            // Move filter from foot to head
            initComplete: function () {
                $('div.dataTables_length').addClass('form-inline mt-3');
            },
            "paging": true,
            "lengthChange": true,
            "lengthMenu": [
                [10, 25, 50, -1], [10, 25, 50, "All"]
            ],
            "searching": true,
            "ordering": false,
            "info": true,
            ajax: { url:/*[[@{/manager/imageslide/list(status=1)}]]*/"", dataSrc: "", type: "POST" },
            "autoWidth": false,
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": 0,
                    "render": function (data, type, row, meta) {
                        var imgurl = /*[[@{/images/}]]*/"";
                        var str = "<img ";
                        str += "src=\"" + imgurl + row.image + "\"";
                        str += 'style="width: 100%;max-width:150px;cursor:pointer;"';
                        str += 'onclick="showModal(\'' + row.title.replace("\"", "&quot;").replace("\'", "") + '\',\'<img src=' + imgurl + row.image + ' style=&quot;width:100%&quot; />\',null,false,false)"';
                        str += "/>";
                        return str;
                    }
                },
                {
                    "targets": 1,
                    "render": function (data, type, row, meta) {
                        var str = "";
                        str += '<select name="order" id="' + row.id + '">';
                        str += "<option disabled>-- Order --</option>";
                        str += '<option value="0" ' + (row.order == null ? 'selected="selected"' : '') + '>Automatically</option >';
                        str += '<option value="1" ' + (row.order == 1 ? 'selected="selected"' : '') + '>1</option>';
                        for (let i = 2; i <= lastOrder; i++) {
                            str += '<option value="' + i + '" ' + (row.order == i ? 'selected="selected"' : '') + '>' + i + '</option >';
                        }
                        if (row.order == null) {
                            str += '<option value="' + (lastOrder + 1) + '" >Last</option >';
                        }

                        str += '</select>';
                        return str;
                    }
                },
                {
                    "targets": 4,
                    "render": function (data, type, row, meta) {
                        var imageSlidelink = /*[[@{/manager/imageslide}]]*/'';
                        var id = row.id;
                        var str = "";
                        str += '<a class="btn btn-warning btn-sm" href="' + imageSlidelink + '/edit?id=' + id + '" data-toggle="tooltip" title = "Edit" > <i class="fas fa-pencil-alt" ></i></a> ';
                        str += '<a class="btn btn-danger btn-sm" data-toggle="tooltip" style="cursor:pointer" title="Disable" onclick="doDisable(' + id + ')"> <i class="fas fa-stop-circle" ></i></a> ';
                        str += '<button class="btn btn-danger btn-sm" data-toggle="tooltip" title="Delete" onclick=\"confirmDelete(\'' + row.title.replace("\"", "&quot;").replace("\'", "") + '\',\'' + imageSlidelink + '/doDelete?id=' + id + '\')\"><i class="fas fa-trash"></i></button>';
                        return str;
                    }
                }
            ],
            "columns": [
                { "width": "25%", "data": null, "className": "text-center" },
                { "width": "10%", "data": null, "className": "text-center" },
                { "width": "20%", "data": "title" },
                { "width": "30%", "data": "description" },
                { "width": "15%", "data": null, "className": "text-center" }
            ],
            "drawCallback": function (settings) {
                $('[data-toggle="tooltip"]').tooltip();
                $("select[name='order']").each(function (i) {
                    var curId = $(this).attr("id");
                    $(this).on("change", function () {
                        doReorder(curId, $(this).val());
                    });
                });
            }
        });

        // Setting up table here
        var tableDisabled = $('#tblImageSlideDisabled').DataTable({
            // Move filter from foot to head
            initComplete: function () {
                $('div.dataTables_length').addClass('form-inline mt-3');
            },
            "paging": true,
            "lengthChange": true,
            "lengthMenu": [
                [10, 25, 50, -1], [10, 25, 50, "All"]
            ],
            "searching": true,
            "ordering": false,
            "info": true,
            ajax: { url:/*[[@{/manager/imageslide/list(status=0)}]]*/"", dataSrc: "", type: "POST" },
            "autoWidth": false,
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": 0,
                    "render": function (data, type, row, meta) {
                        var imgurl = /*[[@{/images/}]]*/"";
                        var str = "<img ";
                        str += "src=\"" + imgurl + row.image + "\"";
                        str += 'style="width: 100%;max-width:150px;cursor:pointer;"';
                        str += 'onclick="showModal(\'' + row.title.replace("\"", "&quot;").replace("\'", "") + '\',\'<img src=' + imgurl + row.image + ' style=&quot;width:100%&quot; />\',null,false,false)"';
                        str += "/>";
                        return str;
                    }
                },
                {
                    "targets": 3,
                    "render": function (data, type, row, meta) {
                        var imageSlidelink = /*[[@{/manager/imageslide}]]*/'';
                        var id = row.id;
                        var str = "";
                        str += '<a class="btn btn-warning btn-sm" href="' + imageSlidelink + '/edit?id=' + id + '" data-toggle="tooltip" title = "Edit" > <i class="fas fa-pencil-alt" ></i></a> ';
                        str += '<button class="btn btn-danger btn-sm" data-toggle="tooltip" title="Delete" onclick=\"confirmDelete(\'' + row.title.replace("\"", "&quot;").replace("\'", "") + '\',\'' + imageSlidelink + '/doDelete?id=' + id + '\')\"><i class="fas fa-trash"></i></button> ';
                        return str;
                    }
                }
            ],
            "columns": [
                { "width": "30%", "data": null, "className": "text-center" },
                { "width": "20%", "data": "title" },
                { "width": "30%", "data": "description" },
                { "width": "20%", "data": null, "className": "text-center" }
            ],
            "createdRow": function (row, data, dataIndex) {
                $(row).addClass('bg-secondary');
            },
            "drawCallback": function (settings) {
                $('[data-toggle="tooltip"]').tooltip();
            }
        });

        /*]]>*/
    </script>
</body>

</html>