<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{HTDManager/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTD Manager - Prebuilt</title>
    <th:block layout:fragment="additionalCss">
        <link th:href="@{/manager_resources/plugins/icheck-bootstrap/icheck-bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/manager_resources/plugins/summernote/summernote-lite.css}" rel="stylesheet" />
        <link th:href="@{/manager_resources/plugins/jquery-ui/jquery-ui.min.css}" rel="stylesheet" />
        <link th:href="@{/manager_resources/plugins/jquery-ui/jquery-ui.theme.min.css}" rel="stylesheet" />
    </th:block>
</head>

<body>
    <span layout:fragment="title">
        <a th:href="@{/manager/prebuilt}">
            <i class="fas fa-balance-scale" style="font-size:20px"></i> Prebuilt
        </a>
        >
        <th:block th:if="${update==null}">Add new Prebuilt</th:block>
        <th:block th:if="${update!=null}">Edit Prebuilt: "<th:block th:text="${prebuilt.name}"></th:block>"</th:block>
    </span>

    <div layout:fragment="breadcrumb">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a th:href="@{/manager}">Home</a></li>
            <li class="breadcrumb-item active"><a th:href="@{/manager/prebuilt}">Prebuilt</a></li>
        </ol>
    </div>
    <div layout:fragment="content">
        <form th:action="@{/manager/prebuilt/__${formUrl}__}" th:object="${prebuilt}" method="POST"
            enctype="multipart/form-data" autocomplete="off" name="frmPrebuilt" id="frmPrebuilt">
            <div class="row">
                <div class="col-lg-12 mb-3" th:if="${#fields.hasErrors('global')}">
                    <p class="alert alert-danger">
                        <i class="fas fa-exclamation-circle"></i> 
                        <span th:errors="*{global}">Name Error</span>
                    </p>
                </div>
                <div class="col-lg-12">
                    <div class="card-header">
                        <h3 class="card-title">Prebuilt Information</h3>
                    </div>
                    <!-- NAME -->                    
                    <div class="form-group row">
                        <label for="name" class="col-sm-3 col-form-label text-right">Name<i
                                class="text-danger">*</i></label>
                        <div class="col-sm-9">
                            <input type="text" autocomplete="off" class="form-control" id="name" name="name"
                                th:classappend="${(#fields.hasErrors('name')?'is-invalid':'') + (submited != null and !#fields.hasErrors('name')?'is-valid':'')}" required th:field="*{name}"/>
                        </div>
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9" >
                            <ul class="text-danger">
                                <li th:each="err : ${#fields.errors('name')}" th:text="${err}" th:if="${#fields.hasErrors('name')}">Name Error</li>
                            </ul> 
                        </div>
                    </div>
                    <!-- DETAIL -->
                    <div class="form-group row">
                        <label for="detail" class="col-sm-3 col-form-label text-right">Detail<i
                                class="text-danger">*</i></label>
                        <div class="col-sm-9">
                            <textarea class="form-control textarea" id="detail" th:field="*{detail}" placeholder="First Name" type="text"
                                th:classappend="${(#fields.hasErrors('detail')?'is-invalid':'') + (submited != null and !#fields.hasErrors('detail')?'is-valid':'')}" required>
                            </textarea>
                        </div>
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9" th:if="${#fields.hasErrors('detail')}">
                            <ul class="text-danger">
                                <li th:each="err : ${#fields.errors('detail')}" th:text="${err}">Name Error</li>
                            </ul> 
                        </div>
                    </div>
                    <!-- CPU ID -->
                    <div class="form-group row">
                        <label for="cpu" class="col-sm-3 col-form-label text-right">CPU<i
                                class="text-danger">*</i></label>
                        <div class="col-sm-9">
                            <select class="form-control select2" id="cpu" th:field="*{cpu.id}" placeholder="First Name" type="text"
                                th:classappend="${(#fields.hasErrors('cpu')?'is-invalid':'') + (submited != null and !#fields.hasErrors('cpu')?'is-valid':'')}" required>
                                <option value="">-- Choose CPU --</option>
                                <th:block th:each="c : ${cpuList}">
                                    <option th:value="${c.id}" th:text="${c.name}"></option>
                                </th:block>
                            </select>
                        </div>
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9" th:if="${#fields.hasErrors('cpu')}">
                            <ul class="text-danger">
                                <li th:each="err : ${#fields.errors('cpu')}" th:text="${err}">CPU Error</li>
                            </ul> 
                        </div>
                    </div>
                    <!-- CPU COOLER ID -->
                    <div class="form-group row">
                        <label for="cpucooler" class="col-sm-3 col-form-label text-right">CPU Cooler</label>
                        <div class="col-sm-9">
                            <select class="form-control select2" id="cpucooler" th:field="*{cpucooler.id}" placeholder="First Name" type="text"
                                th:classappend="${(#fields.hasErrors('cpucooler')?'is-invalid':'') + (submited != null and !#fields.hasErrors('cpucooler')?'is-valid':'')}" required>
                                <option value="-1">-- Choose Cooler --</option>
                                <th:block th:each="c : ${cpucoolerList}">
                                    <option th:value="${c.id}" th:text="${c.name}"></option>
                                </th:block>
                            </select>
                        </div>
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9" th:if="${#fields.hasErrors('cpucooler')}">
                            <ul class="text-danger">
                                <li th:each="err : ${#fields.errors('cpucooler')}" th:text="${err}">Cooler Error</li>
                            </ul> 
                        </div>
                    </div>
                    <!-- MOTHERBOARD ID -->
                    <div class="form-group row">
                        <label for="motherboard" class="col-sm-3 col-form-label text-right">Motherboard<i
                                class="text-danger">*</i></label>
                        <div class="col-sm-9">
                            <select class="form-control select2" id="motherboard" th:field="*{motherboard.id}" placeholder="First Name" type="text"
                                th:classappend="${(#fields.hasErrors('motherboard')?'is-invalid':'') + (submited != null and !#fields.hasErrors('motherboard')?'is-valid':'')}" required>
                                <option value="">-- Choose Cooler --</option>
                                <th:block th:each="c : ${motherboardList}">
                                    <option th:value="${c.id}" th:text="${c.name}"></option>
                                </th:block>
                            </select>
                        </div>
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9" th:if="${#fields.hasErrors('motherboard')}">
                            <ul class="text-danger">
                                <li th:each="err : ${#fields.errors('motherboard')}" th:text="${err}">Motherboard Error</li>
                            </ul> 
                        </div>
                    </div>
                    <!-- MEMORY ID -->
                    <div class="form-group row">
                        <label for="memory" class="col-sm-3 col-form-label text-right">Memory<i
                                class="text-danger">*</i></label>
                        <div class="col-sm-9">
                            <select class="form-control select2" id="memory" th:field="*{memory.id}" placeholder="First Name" type="text"
                                th:classappend="${(#fields.hasErrors('memory')?'is-invalid':'') + (submited != null and !#fields.hasErrors('memory')?'is-valid':'')}" required>
                                <option value="">-- Choose RAM --</option>
                                <th:block th:each="c : ${memoryList}">
                                    <option th:value="${c.id}" th:text="${c.name}"></option>
                                </th:block>
                            </select>
                        </div>
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9" th:if="${#fields.hasErrors('memory')}">
                            <ul class="text-danger">
                                <li th:each="err : ${#fields.errors('memory')}" th:text="${err}">Memory Error</li>
                            </ul> 
                        </div>
                    </div>
                    <!-- STORAGE ID -->
                    <div class="form-group row">
                        <label for="storage" class="col-sm-3 col-form-label text-right">Storage<i
                                class="text-danger">*</i></label>
                        <div class="col-sm-9">
                            <select class="form-control select2" id="storage" th:field="*{storage.id}" placeholder="First Name" type="text"
                                th:classappend="${(#fields.hasErrors('storage')?'is-invalid':'') + (submited != null and !#fields.hasErrors('storage')?'is-valid':'')}" required>
                                <option value="">-- Choose Storage --</option>
                                <th:block th:each="c : ${storageList}">
                                    <option th:value="${c.id}" th:text="${c.name}"></option>
                                </th:block>
                            </select>
                        </div>
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9" th:if="${#fields.hasErrors('storage')}">
                            <ul class="text-danger">
                                <li th:each="err : ${#fields.errors('storage')}" th:text="${err}">Memory Error</li>
                            </ul> 
                        </div>
                    </div>
                    <!-- GPU ID -->
                    <div class="form-group row">
                        <label for="gpu" class="col-sm-3 col-form-label text-right">GPU</label>
                        <div class="col-sm-9">
                            <select class="form-control select2" id="gpu" th:field="*{vga.id}" placeholder="First Name" type="text"
                                th:classappend="${(#fields.hasErrors('vga')?'is-invalid':'') + (submited != null and !#fields.hasErrors('vga')?'is-valid':'')}" required>
                                <option value="">-- Choose GPU --</option>
                                <th:block th:each="c : ${gpuList}">
                                    <option th:value="${c.id}" th:text="${c.name}"></option>
                                </th:block>
                            </select>
                        </div>
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9" th:if="${#fields.hasErrors('vga')}">
                            <ul class="text-danger">
                                <li th:each="err : ${#fields.errors('vga')}" th:text="${err}">GPU Error</li>
                            </ul> 
                        </div>
                    </div>
                    <!-- CASE ID -->
                    <div class="form-group row">
                        <label for="cases" class="col-sm-3 col-form-label text-right">Case<i
                                class="text-danger">*</i></label>
                        <div class="col-sm-9">
                            <select class="form-control select2" id="cases" th:field="*{cases.id}" placeholder="First Name" type="text"
                                th:classappend="${(#fields.hasErrors('cases')?'is-invalid':'') + (submited != null and !#fields.hasErrors('cases')?'is-valid':'')}" required>
                                <option value="">-- Choose case --</option>
                                <th:block th:each="c : ${caseList}">
                                    <option th:value="${c.id}" th:text="${c.name}"></option>
                                </th:block>
                            </select>
                        </div>
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9" th:if="${#fields.hasErrors('cases')}">
                            <ul class="text-danger">
                                <li th:each="err : ${#fields.errors('cases')}" th:text="${err}">Case Error</li>
                            </ul> 
                        </div>
                    </div>
                    <!-- PSU ID -->
                    <div class="form-group row">
                        <label for="psu" class="col-sm-3 col-form-label text-right">Power Supply<i
                                class="text-danger">*</i></label>
                        <div class="col-sm-9">
                            <select class="form-control select2" id="psu" th:field="*{psu.id}" placeholder="First Name" type="text"
                                th:classappend="${(#fields.hasErrors('psu')?'is-invalid':'') + (submited != null and !#fields.hasErrors('psu')?'is-valid':'')}" required>
                                <option value="">-- Choose PSU --</option>
                                <th:block th:each="c : ${psuList}">
                                    <option th:value="${c.id}" th:text="${c.name}"></option>
                                </th:block>
                            </select>
                        </div>
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9" th:if="${#fields.hasErrors('psu')}">
                            <ul class="text-danger">
                                <li th:each="err : ${#fields.errors('psu')}" th:text="${err}">PSU Error</li>
                            </ul> 
                        </div>
                    </div>
                    <!-- MONITOR ID -->
                    <div class="form-group row">
                        <label for="monitor" class="col-sm-3 col-form-label text-right">Monitor</label>
                        <div class="col-sm-9">
                            <select class="form-control select2" id="monitor" th:field="*{monitor.id}" placeholder="First Name" type="text"
                                th:classappend="${(#fields.hasErrors('monitor')?'is-invalid':'') + (submited != null and !#fields.hasErrors('monitor')?'is-valid':'')}">
                                <option value="-1" selected>-- Choose Monitor --</option>
                                <th:block th:each="m : ${monitorList}">
                                    <option th:value="${m.id}" th:text="${m.name}"></option>
                                </th:block>
                            </select>
                        </div>
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9" th:if="${#fields.hasErrors('monitor')}">
                            <ul class="text-danger">
                                <li th:each="err : ${#fields.errors('monitor')}" th:text="${err}">Monitor Error</li>
                            </ul> 
                        </div>
                    </div>
                    <!-- PRICE -->                    
                    <div class="form-group row">
                        <label for="price" class="col-sm-3 col-form-label text-right">Price<i
                                class="text-danger">*</i></label>
                        <div class="col-sm-9">
                            <input type="number" autocomplete="off" class="form-control" id="price" name="price"
                                th:classappend="${(#fields.hasErrors('price')?'is-invalid':'') + (submited != null and !#fields.hasErrors('price')?'is-valid':'')}" required th:field="*{price}"/>
                        </div>
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9" >
                            <ul class="text-danger">
                                <li th:each="err : ${#fields.errors('price')}" th:text="${err}" th:if="${#fields.hasErrors('price')}">Price Error</li>
                            </ul> 
                        </div>
                    </div>
                    <!-- STOCK -->                    
                    <div class="form-group row">
                        <label for="stock" class="col-sm-3 col-form-label text-right">Stock<i
                                class="text-danger">*</i></label>
                        <div class="col-sm-9">
                            <input type="number" autocomplete="off" class="form-control" id="stock" name="stock"
                                th:classappend="${(#fields.hasErrors('stock')?'is-invalid':'') + (submited != null and !#fields.hasErrors('stock')?'is-valid':'')}" required th:field="*{stock}"/>
                        </div>
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9" >
                            <ul class="text-danger">
                                <li th:each="err : ${#fields.errors('stock')}" th:text="${err}" th:if="${#fields.hasErrors('stock')}">Stock Error</li>
                            </ul> 
                        </div>
                    </div>
                </div>
                <!-- Submit button -->
                <div class="col-lg-12 text-right mb-3"> 
                    <input type="submit" class="btn btn-success" value="Add Prebuilt" th:if="${update==null}"></input>
                    <input type="submit" class="btn btn-success" value="Update Prebuilt" th:if="${update!=null}"></input>
                </div>
            </div>
        </form>
    </div>
    <th:block layout:fragment="additionalScript">
        <script th:src="@{/manager_resources/plugins/summernote/summernote-lite.min.js}"></script>
        <script th:src="@{/manager_resources/plugins/jquery-ui/jquery-ui.min.js}"></script>
        <script th:src="@{/manager_resources/plugins/jquery-validation/jquery.validate.js}"></script>
        <script th:src="@{/manager_resources/plugins/jquery-validation/additional-methods.min.js}"></script>
    </th:block>
    <script layout:fragment="script" th:inline="none">
        //Initialize Select2 Elements
        $('.select2').select2();

        //Initialize Select2 Elements
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        });

        $('.textarea').summernote({
            minHeight: 200,
            maxHeight: 650
        });

        $("#frmPrebuilt").on("change", function () { $(this).submit() });
    </script>
</body>

</html>