<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
    <!-- 
            =========================
                        Basic
            This is basic information
            that every product must
            have, so make this one 
            an include-able part
            =========================
        -->
    <th:block th:fragment="basic">
        <input type="hidden" th:field="*{id}">
        <div class="col-lg-6">
            <div class="card card-purple">
                <div class="card-header">
                    <h3 class="card-title">Basic information</h3>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        
                        <label for="name" class="col-sm-3 col-form-label text-center">Product name<i
                                class="text-danger">*</i></label>
                        <div class="col-sm-9">
                            <input class="form-control" id="name" placeholder="Product name" th:field="*{name}"
                                th:classappend="${(#fields.hasErrors('name')?'is-invalid':'') + (submited != null and !#fields.hasErrors('name')?'is-valid':'')}" />
                        </div>
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9" th:if="${#fields.hasErrors('name')}">
                                <ul class="text-danger">
                                    <li th:each="err : ${#fields.errors('name')}" th:text="${err}">Name Error</li>
                                </ul> 
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="manufacturer" class="col-sm-3 col-form-label text-center">Manufacturer<i
                                class="text-danger">*</i></label>
                            <div class="col-sm-9">
                                <input class="form-control" id="manufacturer" placeholder="Manufacturer"
                                        th:field="*{manufacturer}"
                                        th:classappend="${(#fields.hasErrors('manufacturer')?'is-invalid':'') + (submited != null and !#fields.hasErrors('manufacturer')?'is-valid':'')}"/>
                            </div>
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9" th:if="${#fields.hasErrors('manufacturer')}">
                                <ul class="text-danger">
                                    <li th:each="err : ${#fields.errors('manufacturer')}" th:text="${err}">Name Error</li>
                                </ul> 
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="warrantyPeriod" class="col-sm-3 col-form-label text-right">Warranty
                                Period<i
                                class="text-danger">*</i></label>
                            <div class="input-group col-sm-9">
                                <input type="number" class="form-control" id="warrantyPeriod"
                                        placeholder="Warranty Period" th:field="*{warrantyPeriod}"
                                        th:classappend="${(#fields.hasErrors('warrantyPeriod')?'is-invalid':'') + (submited != null and !#fields.hasErrors('warrantyPeriod')?'is-valid':'')}"/>
                                <div class="input-group-append">
                                    <span class="input-group-text">months</span>
                                </div>
                            </div>
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9" th:if="${#fields.hasErrors('warrantyPeriod')}">
                                <ul class="text-danger">
                                    <li th:each="err : ${#fields.errors('warrantyPeriod')}" th:text="${err}">Name Error</li>
                                </ul> 
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="color" class="col-sm-2 col-form-label text-right">Color<i
                                class="text-danger">*</i></label>
                            <div class="col-sm-4">
                                <select class="form-control select2" id="color" th:field="*{color}"
                                th:classappend="${(#fields.hasErrors('color')?'is-invalid':'') + (submited != null and !#fields.hasErrors('color')?'is-valid':'')}">
                                    <option value="" disabled selected>-- Choose color --</option>
                                    <option value="none" th:selected="${product.color=='none'}">None</option>
                                    <option value="red" class="bg-red font-weight-bold" th:selected="${product.color=='red'}">Red</option>
                                    <option value="blue" class="bg-blue font-weight-bold" th:selected="${product.color=='blue'}">Blue
                                    </option>
                                    <option value="green" class="bg-green font-weight-bold" th:selected="${product.color=='green'}">Green
                                    </option>
                                    <option value="yellow" class="bg-yellow font-weight-bold" th:selected="${product.color=='yellow'}">Yellow
                                    </option>
                                    <option value="white" class="bg-white font-weight-bold" th:selected="${product.color=='white'}">White
                                    </option>
                                    <option value="black" class="bg-dark font-weight-bold" th:selected="${product.color=='black'}">Black
                                    </option>
                                    <option value="gray" class="bg-gray font-weight-bold" th:selected="${product.color=='gray'}">Gray
                                    </option>
                                </select>
                            </div>
                            <label for="unit" class="col-sm-2 col-form-label text-right">Unit</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="unit" placeholder="Unit" th:field="*{unit}"
                                th:classappend="${(#fields.hasErrors('unit')?'is-invalid':'') + (submited != null and !#fields.hasErrors('unit')?'is-valid':'')}" />
                            </div>
                            <div class="col-sm-2"></div>
                            <div class="col-sm-4" th:if="${#fields.hasErrors('color')}">
                                <ul class="text-danger">
                                    <li th:each="err : ${#fields.errors('color')}" th:text="${err}">Name Error</li>
                                </ul> 
                            </div>
                            <div class="col-sm-2"></div>
                            <div class="col-sm-4" th:if="${#fields.hasErrors('unit')}">
                                <ul class="text-danger">
                                    <li th:each="err : ${#fields.errors('unit')}" th:text="${err}">Name Error</li>
                                </ul> 
                            </div>
                        </div> 
                        <div class="form-group row">
                            <label for="price" class="col-sm-2 col-form-label text-right">Price<i
                                class="text-danger">*</i></label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" id="price" placeholder="Price"
                                        th:field="*{price}"
                                        th:classappend="${(#fields.hasErrors('price')?'is-invalid':'') + (submited != null and !#fields.hasErrors('price')?'is-valid':'')}"/>
                            </div>
                            <label for="stock" class="col-sm-2 col-form-label text-right">Stock<i
                                class="text-danger">*</i></label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" id="stock" placeholder="Stock"
                                        th:field="*{stock}"
                                        th:classappend="${(#fields.hasErrors('stock')?'is-invalid':'') + (submited != null and !#fields.hasErrors('stock')?'is-valid':'')}"/>
                            </div>
                            <div class="col-sm-2"></div>
                            <div class="col-sm-4" th:if="${#fields.hasErrors('price')}">
                                <ul class="text-danger">
                                    <li th:each="err : ${#fields.errors('price')}" th:text="${err}">Name Error</li>
                                </ul> 
                            </div>
                            <div class="col-sm-2"></div>
                            <div class="col-sm-4" th:if="${#fields.hasErrors('stock')}">
                                <ul class="text-danger">
                                    <li th:each="err : ${#fields.errors('stock')}" th:text="${err}">Name Error</li>
                                </ul> 
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="status" class="col-sm-3 col-form-label text-right">Status<i
                                class="text-danger">*</i></label>
                            <div class="col-sm-9">
                                <div class="custom-control custom-radio">
                                    <input class="custom-control-input" type="radio" value="1" th:field="*{status}"
                                    th:selected="${product.status==1}" id="status1"/>
                                    <label for="status1" class="custom-control-label">Is selling</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input class="custom-control-input" type="radio" value="2" th:field="*{status}"
                                    th:selected="${product.status==2}" id="status2"/>
                                    <label for="status2" class="custom-control-label">Upcoming</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input class="custom-control-input" type="radio" value="3" th:field="*{status}"
                                    th:selected="${product.status==3}" id="status3"/>
                                    <label for="status3" class="custom-control-label">Not available</label>
                                </div>
                            </div>
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9" th:if="${#fields.hasErrors('status')}">
                                <ul class="text-danger">
                                    <li th:each="err : ${#fields.errors('status')}" th:text="${err}">Name Error</li>
                                </ul> 
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </th:block>
        <!-- 
            =========================
                        CPU 
            =========================
        -->
        <th:block th:fragment="2">
            <form action="" id="frmProductEditCpu" th:action="@{/manager/product/doEditCPU?id=__${product.id}__}" th:object="${product}" method="POST">
                <div class="row">
                    <div class="col-lg-12 mb-3" th:if="${#fields.hasErrors('global')}">
                        <p class="alert alert-danger">
                            <i class="fas fa-exclamation-circle"></i> <span th:errors="*{global}">Name Error</span>
                        </p>
                    </div>
                     <!-- Include basic info part -->
                     <th:block th:replace="this :: basic"></th:block>
                     <!-- Start specific info part -->

                     <div class="col-lg-6">
                        <div class="card card-purple">
                            <div class="card-header">
                                <h3 class="card-title">Specific information</h3>
                            </div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <label for="socket" class="col-sm-3 col-form-label text-right">Socket<i
                                        class="text-danger">*</i></label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="socket" placeholder="Socket"  th:field="*{socket}"
                                        th:classappend="${(#fields.hasErrors('socket')?'is-invalid':'') + (submited != null and !#fields.hasErrors('socket')?'is-valid':'')}"/>
                                    </div>
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-9" th:if="${#fields.hasErrors('socket')}">
                                        <ul class="text-danger">
                                            <li th:each="err : ${#fields.errors('socket')}" th:text="${err}">Name Error</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="chipset" class="col-sm-3 col-form-label text-right">Chipset<i
                                        class="text-danger"></i></label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="chipset" placeholder="Chipset"  th:field="*{chipset}"
                                        th:classappend="${(#fields.hasErrors('chipset')?'is-invalid':'') + (submited != null and !#fields.hasErrors('chipset')?'is-valid':'')}"/>
                                    </div>
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-9" th:if="${#fields.hasErrors('chipset')}">
                                        <ul class="text-danger">
                                            <li th:each="err : ${#fields.errors('chipset')}" th:text="${err}">Name Error</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="tdp" class="col-sm-3 col-form-label text-right">TDP<i
                                        class="text-danger">*</i></label>
                                    <div class="input-group col-sm-9">
                                        <input type="number" class="form-control" id="tdp" placeholder="TDP (W)"  th:field="*{tdp}"
                                        th:classappend="${(#fields.hasErrors('tdp')?'is-invalid':'') + (submited != null and !#fields.hasErrors('tdp')?'is-valid':'')}"/>
                                        <div class="input-group-append">
                                            <span class="input-group-text">W</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-9" th:if="${#fields.hasErrors('tdp')}">
                                        <ul class="text-danger">
                                            <li th:each="err : ${#fields.errors('tdp')}" th:text="${err}">Name Error</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="core" class="col-sm-3 col-form-label text-right">Cores number<i
                                        class="text-danger">*</i></label>
                                    <div class="col-sm-3">
                                        <input type="number" class="form-control" id="core" placeholder="Cores"  th:field="*{core}"
                                        th:classappend="${(#fields.hasErrors('core')?'is-invalid':'') + (submited != null and !#fields.hasErrors('core')?'is-valid':'')}"/>
                                    </div>

                                    <label for="thread" class="col-sm-3 col-form-label text-right">Threads number<i
                                        class="text-danger">*</i></label>
                                    <div class="col-sm-3">
                                        <input type="number" class="form-control" id="thread" placeholder="Threads"  th:field="*{thread}"
                                        th:classappend="${(#fields.hasErrors('thread')?'is-invalid':'') + (submited != null and !#fields.hasErrors('thread')?'is-valid':'')}"/>
                                    </div>

                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-3" th:if="${#fields.hasErrors('core')}">
                                        <ul class="text-danger">
                                            <li th:each="err : ${#fields.errors('core')}" th:text="${err}">Name Error</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-3" th:if="${#fields.hasErrors('thread')}">
                                        <ul class="text-danger">
                                            <li th:each="err : ${#fields.errors('thread')}" th:text="${err}">Name Error</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-12 text-right mb-3">
                        <input type="submit" class="btn btn-success" value="Update this CPU"></input>
                    </div>

                </div>
            </form>
        </th:block>

        <!-- 
            =========================
                    CPU Cooler 
            =========================
        -->
        <th:block th:fragment="8">
            CPU Cooler
        </th:block>
    </body>

</html>