<!DOCTYPE html>
<!--
    + To use layout, add following attribute in <html> tag: 
        layout:decorate="~{path_from_java's_webapp_root_folder_and_without_extension}"

    + To change content from layout, add following attribute to correspondly tag:
        layout:fragment="fragment_name"
      Declare any unique tag like <title>,... will replace it from layout 

    + Any src / href attribute that using relative url from web, change it all to th:src and th:href
    like following code:
        th:src="@{/url_from_context_path_(not_include_context_path)}"
        th:href="@{/url_from_context_path_(not_include_context_path)}"
-->

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{HTDManager/layout}">

<head>
    <title>HTD Manager - Product Image</title>
    <!-- Hide default datatable's filter -->
    <style>
        .dataTables_filter {
            float: right !important;
            display: none;
        }

        .product-img {
            cursor: pointer;
            height: 15rem;
            width: 20rem;
            object-fit: contain;
            background-color: white;
            border: 1px solid #9628f08c;
        }
    </style>
</head>

<body>
    <!--
        
    -->
    <span layout:fragment="title">
        <a th:href="@{/manager/product}">
            <i class="fas fa-box-open" style="font-size:20px"></i> Product
        </a>
        > Image
        <div class="file btn btn-success" style="position:relative;overflow:hidden;">
            <i class="fas fa-plus-square fa-lg mr-2"></i> Add new Image
            <input type="file" style="position: absolute;font-size:50px;opacity: 0;right: 0;top: 0;cursor: pointer;"
                id="btnUploadImage" multiple="multiple" name="uploadimg" accept="image/*">
        </div>
    </span>

    <div layout:fragment="breadcrumb">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a th:href="@{/manager}">Home</a></li>
            <li class="breadcrumb-item"><a th:href="@{/manager/product}">Product</a></li>
            <li class="breadcrumb-item active">Image</li>
        </ol>
    </div>

    <div layout:fragment="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-purple card-outline">
                    <div class="card-body">

                        <table id="tblProductImage" class="table table-bordered table-striped table-hover">
                            <thead class="bg-purple">
                                <th>Main Image</th>
                                <th>Image</th>
                                <th>Action</th>
                            </thead>

                            <tbody>

                                <tr th:if="${productImages eq null or productImages.empty}">
                                    <td colspan="2">No products</td>
                                </tr>
                                

                            </tbody>
                            <tfoot class="bg-purple">
                                <th>Main Image</th>
                                <th>Image</th>
                                <th>Action</th>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!--In case using custom script at pages using layout, add th:inline="none" like below-->
    <script layout:fragment="script" th:inline="javascript">
        /*<![CDATA[*/

        var existImgSize = +0;

        function confirmDelete(title, url) {
            showModal('Confirm deletion',
                'Are you sure to delete "' + title + '" ?<br><p class="text-danger">Warning: this will delete all images and promotion of this product.</p>',
                url,
                true,
                true);
        }

        $("#btnUploadImage").on("change", function () {
            var productid =/*[[${param.id[0]}]]*/0;
            if (this.files && this.files[0]) {
                if ((this.files.length + existImgSize) > 10) {
                    Toast.fire({
                        type: 'error',
                        title: 'Product can have maximum 10 images.'
                    });
                    $(this).val("");
                    return;
                }

                var myFormData = new FormData();
                for (var i = 0; i < this.files.length; i++) {
                    myFormData.append('uploadimg', this.files[i]);
                }
                myFormData.append("id", productid);

                $.ajax({
                    url: /*[[@{/manager/product/image/doAdd}]]*/'',
                    type: 'POST',
                    processData: false, // important
                    contentType: false, // important
                    data: myFormData,
                    success: function (result) {
                        if (result == "ok") {
                            Toast.fire({
                                type: 'success',
                                title: 'Successfully added image.'
                            });
                            table.ajax.reload();
                        } else {
                            Toast.fire({
                                type: 'error',
                                title: result,
                                timer: 5000
                            });
                        }
                    }
                });
            }
            $(this).val("");
        });

        // Add custom filter for datatable
        $('#tblProductImage tfoot th').each(function () {
            var title = $(this).text();
            if (title == "Action" || title == "Image" || title == "Main Image") {
                // Collum that not using filter
                $(this).html('');
            }

        });
        // Setting up table here
        var table = $('#tblProductImage').DataTable({
            // Move filter from foot to head
            initComplete: function () {
                var r = $('#tblProductImage tfoot tr');
                r.find('th').each(function () {
                    $(this).css('padding', 8);
                });
                $('#tblProductImage thead').append(r);
                $('div.dataTables_length').addClass('form-inline');
                table.columns().every(function () {
                    var thisCol = this;
                    // Set up action listener for text filter
                    $('input', this.footer()).on('keyup change clear', function () {
                        if (thisCol.search() !== this.value) {
                            thisCol.search(this.value).draw();
                        }
                    });
                    // Set up data for select filter
                    $('select', this.footer()).each(function () {
                        var title = thisCol.header();
                        // Using unique data from table
                        var thisSelect = this;
                        thisCol.data().unique().sort().each(function (d, j) {
                            $(thisSelect).append("<option value='" + d + "'>" + d + "</option>");
                        });
                        /* Or using customized data
                        if($(title).html()=="Status"){
                            var thisSelect = this;
                            $(thisSelect).append("<option value='1'>"+Is selling+"</option>");
                        }*/
                    });
                    // Set up action listener for select filter
                    $('select', this.footer()).on('change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
                        thisCol.search(val ? '^' + val + '$' : '', true, false).draw();
                    });

                });
            },
            "paging": true,
            "lengthChange": false,
            "lengthMenu": [
                [10, 25, 50, -1], [10, 25, 50, "All"]
            ],
            "searching": true,
            "ordering": false,
            "info": true,
            "autoWidth": false,
            ajax: {
                url:/*[[@{/manager/product/image/list(id=${param.id})}]]*/"",
                dataSrc: function (json) {
                    //Make your callback here.
                    existImgSize = json.length;
                    return json;
                },
                type: "POST"
            },
            "deferRender": true,
            "columnDefs": [{
                "targets": 1,
                "render": function (data, type, row, meta) {
                    var img = /*[[@{/images/}]]*/'';
                    var str = "";
                    if (data != "") {
                        str += "<img src='" + img + data + "' class='product-img' onclick=\"showModal(\'\', \'<img src=" + img + data + " style=width:100%; />\', null, false, false);\"></img>";
                    }
                    return str;
                }
            }, {
                "targets": 2,
                "render": function (data, type, row, meta) {
                    var productImagelink = /*[[@{/manager/product/image}]]*/'';
                    var id = row.id;
                    var str = "";
                    str += '<button class="btn btn-danger btn-sm" name="delete" id="' + row.id + '" data-toggle="tooltip" title="Delete"><i class="fas fa-trash"></i></button>';
                    return str;
                }
            }, {
                "targets": 0,
                "render": function (data, type, row, meta) {
                    var str = "";
                    if (data == true) {
                        str += "<i class='fas fa-star text-center'></i>";
                    } else {
                        str += "<button class='btn btn-success' name='makeMainImage' id=\'" + row.id + "\' >Choose as main</button>"
                    }

                    return str;
                }
            }],
            // custom collums's width
            "columns": [
                { "width": "10%", "data": "mainImage" },
                { "width": "80%", "data": "imagePath" },
                { "width": "10%", "data": null }
            ],
            "createdRow": function (row, data, dataIndex) {
                if (data.mainImage == true) {
                    $(row).addClass('bg-success');
                }
                $(row).addClass('text-center');
            },
            "drawCallback": function (settings) {
                $('[data-toggle="tooltip"]').tooltip();

                $("button[name='makeMainImage']").click(function () {
                    var mainUrl = /*[[@{/manager/product/image/makeMainImage}]]*/"";
                    mainUrl += "?id=" + $(this).attr("id");
                    $.ajax({
                        url: mainUrl,
                        method: 'POST',
                        success: function (result) {
                            if (result == true) {
                                Toast.fire({
                                    type: 'success',
                                    title: 'Successfully changed main image.'
                                });
                                table.ajax.reload();
                            } else {
                                Toast.fire({
                                    type: 'error',
                                    title: 'Cannot make this main image.'
                                });
                            }
                        }
                    });
                });

                $("button[name='delete']").click(function () {
                    var mainUrl = /*[[@{/manager/product/image/doDelete}]]*/"";
                    mainUrl += "?id=" + $(this).attr("id");
                    $.ajax({
                        url: mainUrl,
                        method: 'POST',
                        success: function (result) {
                            if (result == true) {
                                Toast.fire({
                                    type: 'success',
                                    title: 'Successfully deleted image.'
                                });
                                table.ajax.reload();
                            } else {
                                Toast.fire({
                                    type: 'error',
                                    title: 'Cannot delete this image.'
                                });
                            }
                        }
                    });
                });
            }
        });

        /*]]>*/
    </script>
</body>

</html>