<!DOCTYPE html>
<!--
    + To use layout, add following attribute in <html> tag: 
        layout:decorate="~{path_from_java's_webapp_root_folder_and_without_extension}"

    + To change content from layout, add following attribute to correspondly tag:
        layout:fragment="fragment_name"
      Declare any unique tag like <title>,... will replace it from layout 

    + Any src / href attribute that using relative url from web, change it all to th:src and th:href
    like following code:
        th:src="@{/url_from_context_path_(not_include_context_path)}"
        th:href="@{/url_from_context_path_(not_include_context_path)}"
-->

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{HTDManager/layout}">

<head>
    <title>HTD Manager - Product</title>

    <!-- Hide default datatable's filter -->
    <style>
        .dataTables_filter {
            float: right !important;
            display: none;
        }

        .product-img {
            cursor: pointer;
            height: 4rem;
            width: 6rem;
            object-fit: contain;
            background-color: white;
            border: 1px solid #9628f08c;
        }

        table.dataTable tbody>tr.selected,
        table.dataTable tbody>tr>.selected {
            background-color: #0275d8 !important;
        }
    </style>

</head>

<body>
    <!--
        
    -->
    <span layout:fragment="title">
        <i class="fas fa-box-open" style="font-size:20px"></i> Product
        <a class="btn btn-success" th:href="@{/manager/product/add}">
            <i class="fas fa-plus-square fa-lg mr-2"></i> Add new Product
        </a>
    </span>

    <div layout:fragment="breadcrumb">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a th:href="@{/manager}">Home</a></li>
            <li class="breadcrumb-item active">Product</li>
        </ol>
    </div>

    <div layout:fragment="content">
        <div class="row">

            <div class="col-lg-12">
                <div class="card card-purple card-outline">
                    <div class="card-body">
                        <!-- <div class="col-lg-12" id="events">0 row(s) selected</div> -->
                        <table id="tblProduct" class="table table-bordered table-striped table-hover">
                            <thead class="bg-purple">
                                <th>ID</th>
                                <th>Name</th>
                                <th>Category</th>
                                <th>Manufacturer</th>
                                <th>Price</th>
                                <th>Stock</th>
                                <th>Image</th>
                                <th>Status</th>
                                <th>Action</th>
                            </thead>

                            <tbody>
                                <!--
                                + th:if will render it's tag if conditions is reached
                                Like below, the 
                                <tr>
                                    <td colspan="9">No products</td>
                                </tr>
                                will be rendered when attribute "products" is null or empty
                            -->
                                <tr th:if="${products eq null or products.empty}">
                                    <td colspan="9">No products</td>
                                </tr>
                                <!--
                                + To get data from controller through model, use:
                                    th:each="child_item_name : ${attribute_from_controller's_name}"

                                + After that, to show data in tags (like td/span/p/...), add following attribute in that tag
                                    th:text="${child_item_name.child_item's_attribute}"
                                 All of that tag content will be repace with content from th:text

                                + th:classappend will add class if conditions is reached (using shorthand condition)
                                We can use multiple condition: 
                                    th:classappend="${(condition_1)+(condition_2)}""

                                + Thymeleaf may not use intellisense or autocomplete, so we just follow object's class attribute.
                                For example, to check if the RightDetail's Tag from RoleRights's list from Role of the loggedInStaff
                                in session contains the 'product_read' or not:
                                    th:if="${#session.getAttribute('loggedInStaff').role.roleRightsCollection.![rightsDetail.tag].contains('product_read')}"
                                For more example, check layout.html in HTDManager section

                            -->

                            </tbody>
                            <tfoot class="bg-purple">
                                <th>ID</th>
                                <th>Name</th>
                                <th>Category</th>
                                <th>Manufacturer</th>
                                <th>Price</th>
                                <th>Stock</th>
                                <th>Image</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!--In case using custom script at pages using layout, add th:inline="none" like below-->
    <script layout:fragment="script" th:inline="javascript">
        /*<![CDATA[*/
        function confirmDelete(title, url) {
            showModal('Confirm deletion',
                'Are you sure to delete "' + title + '" ?<br><p class="text-danger">Warning: this will delete all images and promotion of this product.</p>',
                url,
                true,
                true);
        }
        // Add custom filter for datatable
        $('#tblProduct tfoot th').each(function () {
            var title = $(this).text();
            if (title == "Action" || title == "Image") {
                // Collum that not using filter
                $(this).html('');
            } else if (title == "Status" || title == "Category") {
                // Collum that using select filter
                $(this).html('<select id="txtSearch' + title + '" class="form-control"><option value="">All</option></select>');
            } else if (title == "Price") {
                $(this).html('<div class="d-flex"><input type="number" id="txtSearch' + title + 'Min" placeholder="Min" class="form-control" style="width:100%" value="0"/> - <input type="number" id="txtSearch' + title + 'Max" placeholder="Max" class="form-control" style="width:100%" value="1000000"/></div>');
            } else if (title == "Stock") {
                $(this).html('<div class="d-flex"><input type="number" id="txtSearch' + title + 'Min" placeholder="Min" class="form-control" style="width:100%" value="0"/> - <input type="number" id="txtSearch' + title + 'Max" placeholder="Max" class="form-control" style="width:100%" value="10000"/></div>');
            } else {
                // Collum that using text filter
                $(this).html('<input id="txtSearch' + title + '" type="text" placeholder="Search ' + title + '" class="form-control" style="width:100%" />');
            }

        });
        // Setting up table here
        var table = $('#tblProduct').DataTable({
            // Move filter from foot to head
            initComplete: function () {
                var r = $('#tblProduct tfoot tr');
                r.find('th').each(function () {
                    $(this).css('padding', 8);
                });
                $('#tblProduct thead').append(r);
                $('div.dataTables_length').addClass('form-inline');
                table.columns().every(function () {
                    var thisCol = this;
                    // Set up action listener for text filter
                    $('input[type="text"]', this.footer()).on('keyup change clear', function () {
                        if (thisCol.search() !== this.value) {
                            thisCol.search(this.value).draw();
                        }
                    });
                    // Set up data for select filter
                    $('select', this.footer()).each(function () {
                        var title = thisCol.header();
                        // Using unique data from table
                        var thisSelect = this;
                        thisCol.data().unique().sort().each(function (d, j) {
                            $(thisSelect).append("<option value='" + d + "'>" + d + "</option>");
                        });
                        /* Or using customized data
                        if($(title).html()=="Status"){
                            var thisSelect = this;
                            $(thisSelect).append("<option value='1'>"+Is selling+"</option>");
                        }*/
                    });
                    // Set up action listener for select filter
                    $('select', this.footer()).on('change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
                        thisCol.search(val ? '^' + val + '$' : '', true, false).draw();
                    });
                    $("#events").html('0 item(s) selected');

                    $.fn.dataTable.ext.search.push(
                        function (settings, data, dataIndex) {
                            var pricemin = isNaN(+$('#txtSearchPriceMin').val()) ? 0 : +$('#txtSearchPriceMin').val();
                            var pricemax = isNaN(+$('#txtSearchPriceMax').val()) ? 1000000 : +$('#txtSearchPriceMax').val();
                            var price = parseFloat(data[4]) || 0;
                            var stockmin = isNaN(+$('#txtSearchStockMin').val()) ? 0 : +$('#txtSearchStockMin').val();
                            var stockmax = isNaN(+$('#txtSearchStockMax').val()) ? 10000 : +$('#txtSearchStockMax').val();
                            var stock = parseInt(data[5]) || 0;
                            if ((pricemin <= price && price <= pricemax) && (stockmin <= stock && stock <= stockmax)) {
                                return true;
                            }
                            return false;
                        }
                    );
                    $('#txtSearchPriceMin, #txtSearchPriceMax, #txtSearchStockMin, #txtSearchStockMax').on("keyup change clear", function () {
                        table.draw();
                    });
                });


            },
            "paging": true,
            "lengthChange": true,
            "lengthMenu": [
                [5, 10, 25, 50, 100, 500, -1], [5, 10, 25, 50, 100, 500, "All"]
            ],
            "searching": true,
            "ordering": false,
            "info": true,
            "autoWidth": false,
            ajax: { url:/*[[@{/manager/product/list}]]*/"", dataSrc: "", type: "POST" },
            "deferRender": true,
            "columnDefs": [{
                "targets": 6,
                "render": function (data, type, row, meta) {
                    var img = /*[[@{/images/}]]*/'';
                    var productlink = /*[[@{/manager/product}]]*/'';
                    var str = "";
                    if (data != "") {
                        str += "<img src='" + img + data + "' class='product-img' onclick=\"showModal(\'" + row.name.replace("\"", "&quot;") + "\', \'<img src=" + img + row.image + " style=width:100%; />\', null, false, false);\"></img>";
                    } else {
                        str += "<a href='" + productlink + "/image?id=" + row.id + "'><img src='" + img + "noimage.png' class='product-img'></img></a>";
                    }
                    if (row.imageMore > 0) {
                        str += "<br><a href='" + productlink + "/image?id=" + row.id + "'>(" + row.imageMore + " more...)</a>";
                    }
                    return str;
                }
            }, {
                "targets": 8,
                "render": function (data, type, row, meta) {
                    var productlink = /*[[@{/manager/product}]]*/'';
                    var id = row.id;
                    var str = "";
                    str += '<a class="btn btn-info btn-sm" href="' + productlink + '/image?id=' + id + '" data-toggle="tooltip" title = "Images" > <i class="fas fa-images" ></i></a>';
                    str += '<a class="btn btn-warning btn-sm" href="' + productlink + '/edit?id=' + id + '" data-toggle="tooltip" title = "Edit" > <i class="fas fa-pencil-alt" ></i></a>';
                    str += '<button class="btn btn-danger btn-sm" data-toggle="tooltip" title="Delete" onclick=\"confirmDelete(\'' + row.name.replace("\"", "&quot;") + '\',\'' + productlink + '/doDelete?id=' + id + '\')\"><i class="fas fa-trash"></i></button>';
                    return str;
                }
            }],
            // custom collums's width
            "columns": [
                { "width": "5%", "data": "id" },
                { "width": "18%", "data": "name" },
                { "width": "12%", "data": "category" },
                { "width": "10%", "data": "manufacturer" },
                { "width": "15%", "data": "price" },
                { "width": "15%", "data": "stock" },
                { "width": "10%", "data": "imageThumbnail", "className": "text-center" },
                { "width": "5%", "data": "status" },
                { "width": "10%", "data": null, "className": "text-center" }
            ],
            "createdRow": function (row, data, dataIndex) {
                if (data.status == 'Upcoming') {
                    $(row).addClass('bg-info');
                }
                if (data.status == 'Unavailable') {
                    $(row).addClass('bg-secondary');
                }
            },
            "drawCallback": function (settings) {
                $('[data-toggle="tooltip"]').tooltip();
            },
            "select": {
                style: 'os',
                items: 'row',
                info: false
            },
            dom: "<'row'<'#events.col-sm-12 col-md-3'><'col-sm-12 col-md-9 text-right'B>>" +
                "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
            buttons: [
                {
                    text: 'Select filtered items',
                    action: function () {
                        table.rows().deselect();
                        table.rows({ search: 'applied' }).select()
                    },
                    enabled: false
                },
                'selectAll',
                'selectNone',

                {
                    extend: 'collection',
                    text: 'Selected items\'s action',
                    buttons: [
                        {
                            text: 'Disable selected items',
                            action: function () {
                                var myFormData = new FormData();
                                table.rows({ selected: true }).every(function (rowId) {
                                    myFormData.append('id', table.row(rowId).data().id);
                                });
                                myFormData.append("status", '3');
                                var url = /*[[@{/manager/product/setStatus}]]*/'';
                                doAjax(url, myFormData, 'Successfully disabled item(s).');
                            }
                        },
                        {
                            text: 'Enable selected items',
                            action: function () {
                                var myFormData = new FormData();
                                table.rows({ selected: true }).every(function (rowId) {
                                    myFormData.append('id', table.row(rowId).data().id);
                                });
                                myFormData.append("status", '1');
                                var url = /*[[@{/manager/product/setStatus}]]*/'';
                                doAjax(url, myFormData, 'Successfully enabled item(s).');
                            }
                        }
                    ],
                    enabled: false
                },
                {
                    text: 'Reset filter',
                    action: function () {
                        $("#txtSearchID").val("").change();
                        $("#txtSearchName").val("").change();
                        $("#txtSearchCategory").val("").change();
                        $("#txtSearchManufacturer").val("").change();
                        $("#txtSearchPriceMin").val(0);
                        $("#txtSearchPriceMax").val(1000000);
                        $("#txtSearchStockMin").val(0);
                        $("#txtSearchStockMax").val(10000).change();
                        $("#txtSearchStatus").val("").change();
                    }
                }
            ],
            language: {
                buttons: {
                    selectAll: "Select all",
                    selectNone: "Select none"
                }
            }

        });
        table.on('select deselect', function (e, dt, type, indexes) {
            var count = table.rows({ selected: true }).count();
            $("#events").html(count + ' item(s) selected');

            table.button(3).enable(count > 0);
        });

        table.on('search.dt', function () {
            var filtered = true;
            var totalCount = table.rows().count();
            var count = table.rows({ search: "applied" }).count();
            if ($("#txtSearchID").val() == ""
                && $("#txtSearchName").val() == ""
                && $("#txtSearchCategory").val() == ""
                && $("#txtSearchManufacturer").val() == ""
                && parseFloat($("#txtSearchPriceMin").val()) == 0
                && parseFloat($("#txtSearchPriceMax").val()) == 1000000
                && parseInt($("#txtSearchStockMin").val()) == 0
                && parseInt($("#txtSearchStockMax").val()) == 10000
                && $("#txtSearchStatus").val() == "") {
                filtered = false;
            } else {
                filtered = true;
            }

            if (count > 0 && count < totalCount) {
                table.button(0).text("Select filtered (" + count + " items)");
            } else {
                table.button(0).text("Select filtered");
            }
            table.button(0).enable(filtered);
        });

        function doAjax(formUrl, formData, successText) {
            $.ajax({
                url: formUrl,
                type: 'POST',
                processData: false,
                contentType: false,
                data: formData,
                success: function (data) {
                    if (data == "ok") {
                        Toast.fire({
                            type: 'success',
                            title: successText
                        });
                        table.ajax.reload(null, false);
                    } else {
                        Toast.fire({
                            type: 'error',
                            title: data,
                            timer: 5000
                        });
                    }
                }
            });
        }
        /*]]>*/
    </script>
</body>

</html>