<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{HTDManager/layout}">

<head>
    <title>HTD Manager - Promotion</title>
    <!-- Hide default datatable's filter -->
    <style>
        .dataTables_filter {
            float: right !important;
        }
    </style>
</head>

<body>

    <span layout:fragment="title">
        <i class="fas fa-gifts" style="font-size:20px"></i> Promotion
        <a class="btn btn-success" th:href="@{/manager/promotion/add}">
            <i class="fas fa-plus-square fa-lg mr-2"></i> Add new Promotion
        </a>
    </span>

    <div layout:fragment="breadcrumb">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a th:href="@{/manager}">Home</a></li>
            <li class="breadcrumb-item active">Promotion</li>
        </ol>
    </div>

    <div layout:fragment="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-purple card-outline card-outline-tabs">
                    <div class="card-header p-0 pt-1 border-bottom-0">
                        <ul class="nav nav-tabs" id="promotion-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="promotion-active-tab" data-toggle="pill"
                                    href="#promotion-active" role="tab" aria-controls="promotion-active"
                                    aria-selected="true">Active Promotion</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="promotion-disabled-tab" data-toggle="pill"
                                    href="#promotion-disabled" role="tab" aria-controls="promotion-disabled"
                                    aria-selected="false">Disabled Promotion</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="promotion-tabContent">
                            <div class="tab-pane fade show active" id="promotion-active" role="tabpanel"
                                aria-labelledby="promotion-active-tab">
                                <table id="tblPromotion" class="table table-bordered table-striped table-hover">
                                    <thead class="bg-purple">
                                        <th>Name</th>
                                        <th>Detail</th>
                                        <th>Date</th>
                                        <th>Image</th>
                                        <th>Action</th>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                    <tfoot class="bg-purple">
                                        <th>Name</th>
                                        <th>Detail</th>
                                        <th>Date</th>
                                        <th>Image</th>
                                        <th>Action</th>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="promotion-disabled" role="tabpanel"
                                aria-labelledby="promotion-disabled-tab">
                                <table id="tblDisabledPromotion" class="table table-bordered table-striped table-hover">
                                    <thead class="bg-purple">
                                        <th>Name</th>
                                        <th>Detail</th>
                                        <th>Date</th>
                                        <th>Image</th>
                                        <th>Action</th>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                    <tfoot class="bg-purple">
                                        <th>Name</th>
                                        <th>Detail</th>
                                        <th>Date</th>
                                        <th>Image</th>
                                        <th>Action</th>
                                    </tfoot>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
    <th:block layout:fragment="additionalScript">
        <script th:src="@{/manager_resources/plugins/moment/moment.min.js}"></script>
    </th:block>
    <script layout:fragment="script" th:inline="javascript">
        /*<![CDATA[*/
        function confirmDelete(title, url) {
            showModal('Confirm deletion',
                'Are you sure to delete "' + title + '" ?',
                url,
                true,
                true);
        }

        function createImageSlide(id) {
            $.ajax({
                url: /*[[@{/manager/promotion/doCreateImageSlide}]]*/"",
                type: 'POST',
                processData: true,
                data: { id: id },
                success: function (data) {
                    if (data == "ok") {
                        Toast.fire({
                            type: 'success',
                            title: "Successfully create image slide."
                        });
                        table.ajax.reload(null, false);
                    } else {
                        Toast.fire({
                            type: 'error',
                            title: data,
                            timer: 5000
                        });
                    }
                }
            });
        }

        function doDisable(id) {
            $.ajax({
                url: /*[[@{/manager/promotion/doDisable}]]*/"",
                type: 'POST',
                processData: true,
                data: { id: id },
                success: function (data) {
                    if (data == true) {
                        Toast.fire({
                            type: 'success',
                            title: "Successfully disabled promotion."
                        });
                        table.ajax.reload(null, false);
                        tableDisabled.ajax.reload(null, false);
                    } else {
                        Toast.fire({
                            type: 'error',
                            title: "Error while disabling this promotion",
                            timer: 5000
                        });
                    }
                }
            });
        }


        var table = $('#tblPromotion').DataTable({
            initComplete: function () {
                $('div.dataTables_length').addClass('form-inline mt-3');
            },
            "paging": true,
            "lengthChange": true,
            "lengthMenu": [
                [10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]
            ],
            "searching": true,
            "ordering": false,
            "info": true,
            ajax: { url:/*[[@{/manager/promotion/list(status=1)}]]*/"", dataSrc: "", type: "POST" },
            "autoWidth": false,
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": 0,
                    "render": function (data, type, row, meta) {
                        var str = row.name;
                        str += "<br>" + "<i class='text-muted'>[";
                        str += row.target + "]</i>";
                        return str;
                    }
                },
                {
                    "targets": 2,
                    "render": function (data, type, row, meta) {
                        var str = "";
                        if (row.isAlways == true) {
                            str += "Always";
                        } else {
                            str += "From: " + moment(row.startDate).format("DD/MM/YYYY") + "<br>";
                            str += "To: " + moment(row.endDate).format("DD/MM/YYYY");
                        }
                        return str;
                    }
                },
                {
                    "targets": 3,
                    "render": function (data, type, row, meta) {
                        var imgurl = /*[[@{/images/}]]*/"";
                        var str = "<img ";
                        str += "src=\"" + imgurl + row.image + "\"";
                        str += 'style="width: 100%;max-width:150px;cursor:pointer;"';
                        str += 'onclick="showModal(\'' + row.name.replace("\"", "&quot;").replace("\'", "") + '\',\'<img src=' + imgurl + row.image + ' style=&quot;width:100%&quot; />\',null,false,false)"';
                        str += "/>";
                        return str;
                    }
                },
                {
                    "targets": 4,
                    "render": function (data, type, row, meta) {
                        var promotionlink = /*[[@{/manager/promotion}]]*/'';
                        var id = row.id;
                        var str = "";
                        str += '<a class="btn btn-warning btn-sm" href="' + promotionlink + '/edit?id=' + id + '" data-toggle="tooltip" title = "Edit" > <i class="fas fa-pencil-alt" ></i></a> ';
                        if (!row.hasImageSlide) {
                            str += '<a class="btn btn-info btn-sm" data-toggle="tooltip" title="Make Image Slide" onclick="createImageSlide(' + id + ')" style="cursor:pointer"><i class="fas fa-photo-video"></i></a> ';
                        }           
                        str += '<a class="btn btn-danger btn-sm" data-toggle="tooltip" style="cursor:pointer" title="Disable" onclick="doDisable(' + id + ')"> <i class="fas fa-stop-circle" ></i></a> ';
                        str += '<button class="btn btn-danger btn-sm" data-toggle="tooltip" title="Delete" onclick=\"confirmDelete(\'' + row.name.replace("\"", "&quot;").replace("\'", "") + '\',\'' + promotionlink + '/doDelete?id=' + id + '\')\"><i class="fas fa-trash"></i></button> ';
                        return str;
                    }
                }
            ],
            // custom collums's width
            "columns": [
                { "width": "15%", "data": null },
                { "width": "20%", "data": "detail" },
                { "width": "20%", "data": null },
                { "width": "20%", "data": null, "className": "text-center" },
                { "width": "15%", "data": null, "className": "text-center" }
            ],
            "createdRow": function (row, data, dataIndex) {
                if (data.endDate != null && moment(data.endDate).isBefore(moment(), 'date')) {
                    $(row).addClass('bg-warning');
                    $(row).attr("data-toggle", "tooltip");
                    $(row).attr("title", "Promotion is outdated! Please disable or update date.");
                }
            },
            "drawCallback": function (settings) {
                $('[data-toggle="tooltip"]').tooltip();
            }
        });

        var tableDisabled = $('#tblDisabledPromotion').DataTable({
            initComplete: function () {
                $('div.dataTables_length').addClass('form-inline mt-3');
            },
            "paging": true,
            "lengthChange": true,
            "lengthMenu": [
                [10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]
            ],
            "searching": true,
            "ordering": false,
            "info": true,
            ajax: { url:/*[[@{/manager/promotion/list(status=0)}]]*/"", dataSrc: "", type: "POST" },
            "autoWidth": false,
            "deferRender": true,
            "columnDefs": [
                {
                    "targets": 0,
                    "render": function (data, type, row, meta) {
                        var str = row.name;
                        str += "<br>" + "<i class='text-muted'>[";
                        str += row.target + "]</i>";
                        return str;
                    }
                },
                {
                    "targets": 2,
                    "render": function (data, type, row, meta) {
                        var str = "";
                        if (row.isAlways == true) {
                            str += "Always";
                        } else {
                            str += "From: " + moment(row.startDate).format("DD/MM/YYYY") + "<br>";
                            str += "To: " + moment(row.endDate).format("DD/MM/YYYY");
                        }
                        return str;
                    }
                },
                {
                    "targets": 3,
                    "render": function (data, type, row, meta) {
                        var imgurl = /*[[@{/images/}]]*/"";
                        var str = "<img ";
                        str += "src=\"" + imgurl + row.image + "\"";
                        str += 'style="width: 100%;max-width:150px;cursor:pointer;"';
                        str += 'onclick="showModal(\'' + row.name.replace("\"", "&quot;").replace("\'", "") + '\',\'<img src=' + imgurl + row.image + ' style=&quot;width:100%&quot; />\',null,false,false)"';
                        str += "/>";
                        return str;
                    }
                },
                {
                    "targets": 4,
                    "render": function (data, type, row, meta) {
                        var promotionlink = /*[[@{/manager/promotion}]]*/'';
                        var id = row.id;
                        var str = "";
                        str += '<a class="btn btn-warning btn-sm" href="' + promotionlink + '/edit?id=' + id + '" data-toggle="tooltip" title = "Edit" > <i class="fas fa-pencil-alt" ></i></a> ';
                        str += '<button class="btn btn-danger btn-sm" data-toggle="tooltip" title="Delete" onclick=\"confirmDelete(\'' + row.name.replace("\"", "&quot;").replace("\'", "") + '\',\'' + promotionlink + '/doDelete?id=' + id + '\')\"><i class="fas fa-trash"></i></button> ';
                        return str;
                    }
                }
            ],
            // custom collums's width
            "columns": [
                { "width": "15%", "data": null },
                { "width": "20%", "data": "detail" },
                { "width": "20%", "data": null },
                { "width": "20%", "data": null, "className": "text-center" },
                { "width": "15%", "data": null, "className": "text-center" }
            ],
            "createdRow": function (row, data, dataIndex) {
                $(row).addClass('bg-secondary');
            },
            "drawCallback": function (settings) {
                $('[data-toggle="tooltip"]').tooltip();
            }
        });

        // Activate tooltip
        // To show tooltip add following attributes: data-toggle="tooltip" title="tooltip_content"
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
        /*]]>*/
    </script>
</body>

</html>