<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{HTDShop/layout}">

<head>
    <title>HTD Shop - Cart Management</title>
    <th:block layout:fragment="additionalCss">
        <link rel="stylesheet" th:href="@{/resources/Content/fontawesome-free/css/all.min.css}">
    </th:block>

</head>

<body>
    <div layout:fragment="content">
        <div class="breadcrumb-area pt-10 pb-10"
            style="background-image: linear-gradient(141deg, #7906d88c 0%, #fff 51%, #7906d88c 75%);">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <ul>
                        <li><a th:href="@{/}">HOME</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cart-main-area pt-95 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h1 class="cart-heading">Cart Management</h1>
                        <form action="#">
                            <div class="table-content table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>remove</th>
                                            <th>images</th>
                                            <th>Product</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>SubTotal</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:if="${cart eq null or cart.empty}">
                                            <td colspan="9">No Item in Cart</td>
                                        </tr>
                                        <tr th:each="c ,ite : ${cart}" th:with="product = ${shopSv.getCartInfo(c.id)}">
                                            <td class="product-remove"><a th:onclick="doRemoveFromCart([[${c.id}]])"><i
                                                        class="pe-7s-close"></i></a></td>
                                            <td class="product-thumbnail">
                                                <a th:href="@{/prebuilt(id=${#strings.substring(c.id, 1)})}" th:if="${#strings.substring(c.id, 0, 1).equals('b')}">
                                                    <img style="width:85px;height:101px;" th:if="${product.preBuiltImageCollection.size() > 0}"
                                                        th:src="@{/images/__${product.preBuiltImageCollection[0].path}__}" alt=""
                                                        class="cart-item">
                                                    <img style="width:85px;height:101px;" th:if="${product.preBuiltImageCollection.size() == 0}" th:src="@{/images/noimage.png}" alt=""
                                                        class="cart-item">
                                                </a>
                                                <a th:href="@{/product(id=${#strings.substring(c.id, 1)})}" th:if="${#strings.substring(c.id, 0, 1).equals('a')}">
                                                    <img style="width:85px;height:101px;" th:if="${product.productImageCollection.?[mainImage==true].size() > 0}"
                                                        th:src="@{/images/__${product.productImageCollection.?[mainImage==true][0].imagePath}__}" alt=""
                                                        class="cart-item">
                                                    <img style="width:85px;height:101px;" th:if="${product.productImageCollection.?[mainImage==true].size() == 0 && product.productImageCollection.size() > 0}"
                                                        th:src="@{/images/__${product.productImageCollection.?[mainImage==true][0].imagePath}__}" alt=""
                                                        class="cart-item">
                                                    <img style="width:85px;height:101px;" th:if="${product.productImageCollection.size() == 0}" th:src="@{/images/noimage.png}" alt=""
                                                        class="cart-item">
                                                </a>
                                            </td>
                                            <td class="product-name">
                                                <a th:href="@{/product(id=${#strings.substring(c.id, 1)})}" th:text="${product.name}" th:if="${#strings.substring(c.id, 0, 1).equals('a')}">Bits Headphone</a>
                                                <a th:href="@{/prebuilt(id=${#strings.substring(c.id, 1)})}" th:text="${product.name}" th:if="${#strings.substring(c.id, 0, 1).equals('b')}">Bits Headphone</a>
                                            </td>
                                            <td class="product-price-cart">
                                                <span class="amount" th:if="${#strings.substring(c.id, 0, 1).equals('a')}"
                                                th:text="${'$' + #numbers.formatDecimal(shopSv.getDiscountPrice(product) , 1, 'POINT', 2, 'COMMA')}">$79.84</span>
                                                <span class="amount" th:if="${#strings.substring(c.id, 0, 1).equals('b')}"
                                                th:text="${'$' + #numbers.formatDecimal(shopSv.getPreBuiltDiscountPrice(product) , 1, 'POINT', 2, 'COMMA')}"></span>
                                            </td>
                                            <td class="product-quantity">
                                                <input type="number" th:value="${c.quan}" id="quan" name="quan">
                                                </input>
                                            </td>

                                            <td class="product-subtotal"><span th:text="${'$' + #numbers.formatDecimal(shopSv.getcartItemPrice(c.id,c.quan) , 1, 'POINT', 2, 'COMMA')}">$152.97‬</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <form th:action="@{/cart/doUpdateCart}">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="coupon-all">
                                            <div class="coupon2">
                                                <input class="button" name="update_cart" value="Update cart" type="submit">
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </form>
                            <div class="row">
                                <div class="col-md-5 ml-auto">
                                    <div class="cart-page-total">
                                        <h2>Cart totals</h2>
                                        <ul>
                                            <li>Total Price<span th:text="${'$' + #numbers.formatDecimal(shopSv.getCartTotal() , 1, 'POINT', 2, 'COMMA')}">$152.97‬</span></li>
                                        </ul>
                                        <a th:href="@{/cart/checkout}">Proceed to checkout</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/manager_resources/plugins/jquery/jquery.min.js}"></script>
    <!-- Bootstrap 4 -->
    <script th:src="@{/manager_resources/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <!-- AdminLTE App -->
    <script th:src="@{/manager_resources/Scripts/adminlte.min.js}"></script>

    <script>
        function doRemoveFromCart(id) {
            var removeFromCartUrl = /*[[@{/cart/remove}]]*/'';
            removeFromCartUrl += "?id=" + id;
            $.ajax({
                url: removeFromCartUrl,
                method: 'POST',
                cache: false,
                success: function (data) {
                    if (data == "ok") {
                        getCart();
                        Toast.fire({
                            type: 'success',
                            title: 'Removed from cart.'
                        });
                        window.location = window.location;
                    } else {
                        Toast.fire({
                            type: 'error',
                            title: data,
                            timer: 5000
                        });
                    }
                }
            });
        }
    </script>
</body>

</html>