<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{HTDShop/layout}">

<head>
    <title>HTD Shop - Login</title>
    <th:block layout:fragment="additionalCss">
        <link rel="stylesheet" th:href="@{/resources/Content/fontawesome-free/css/all.min.css}">
    </th:block>

</head>

<body>
    <div layout:fragment="content">
        <div class="breadcrumb-area pt-10 pb-10"
            style="background-image: linear-gradient(141deg, #7906d88c 0%, #fff 51%, #7906d88c 75%);">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <ul>
                        <li><a th:href="@{/}">HOME</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="register-area ptb-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 col-12 col-lg-6 col-xl-6 ml-auto mr-auto">
                        <div class="login">
                            <div class="login-form-container">
                                <div class="login-form">
                                    <form action="login/doLogin" method="post"  id="frmLogin">
                                        <input type="email" name="email" placeholder="Email" id="email" required
                                            autofocus>
                                        <input type="password" name="password" placeholder="Password" id="password"
                                            pattern=".{6,}" title="Password have 6 or more character"
                                            required>
                                        <div class="button-box">
                                            <div class="login-toggle-btn">
                                                <input type="checkbox" id="remember" name="remember">
                                                <label for="remember">Remember me</label>
                                                <a th:href="@{/register}">REGISTER?</a>
                                            </div>
                                            <button type="submit" class="default-btn floatright">Login</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/manager_resources/plugins/jquery/jquery.min.js}"></script>
    <!-- Bootstrap 4 -->
    <script th:src="@{/manager_resources/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <!-- AdminLTE App -->
    
    <script th:src="@{/manager_resources/plugins/jquery-validation/jquery.validate.js}"></script>
    <script th:src="@{/manager_resources/plugins/jquery-validation/additional-methods.min.js}"></script>
    <script th:src="@{/manager_resources/Scripts/adminlte.min.js}"></script>
    <script th:inline="none">
        function injectTrim(handler) {
            return function (element, event) {
                if (element.tagName === "TEXTAREA" || (element.tagName === "INPUT"
                    && element.type !== "password")) {
                    element.value = $.trim(element.value);
                }
                return handler.call(this, element, event);
            };
        }

        $("#frmLogin").validate({
            ignore: [],
            errorClass: "is-invalid",
            validClass: "is-valid",
            errorPlacement: function (error, element) {
                error.appendTo('#' + element.attr("id") + "Error");
            },
            highlight: function (element, errorClass, validClass) {
                var elem = $(element);
                if (elem.hasClass("select2")) {
                    $(elem).next().addClass(errorClass);
                    // $("#s2id_" + elem.attr("id") + " ul").addClass(errorClass);
                } else {
                    elem.addClass(errorClass);
                }
            },
            unhighlight: function (element, errorClass, validClass) {
                var elem = $(element);
                if (elem.hasClass("select2")) {
                    $(elem).next().removeClass(errorClass);
                } else {
                    elem.removeClass(errorClass);
                }
            },
            errorElement: "li",
            callback: function () {
                $("#email").val($("#email").val().trim());
                // addRule();
                var form = $("#frmLogin");
                if (form.valid()) {
                    form.submit();
                } else {
                    return false;
                }
            },
            onfocusout: injectTrim($.validator.defaults.onfocusout)
        });
    </script>
</body>

</html>