<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{HTDShop/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Storage Picker</title>
    <style>
        .dataTables_filter {
            float: right !important;
        }
    </style>
    <th:block layout:fragment="additionalCss">
        <link rel="stylesheet" th:href="@{/resources/Plugins/jquery-ui/jquery-ui.min.css}" />
        <link rel="stylesheet" th:href="@{/resources/Plugins/jquery-ui/jquery-ui.theme.min.css}" />
    </th:block>
</head>

<body>
    <div layout:fragment="content">
        <div class="container">
            <div class="row">
                <h2 class="mx-auto">Pick Storage</h2>
            </div>
            <!-- START OF FILTER FORM -->
            <form th:action="@{/build/storage/filterStorage}" method="POST" id="pickStorageForm"
                th:object="${storageValues}">
                <div class="row">
                    <div class="col-md-4">
                        <h4 class="mx-auto">
                            Manufacturer
                        </h4>
                        <div>
                            <select name="socket" id="" th:field=*{manufacturer}>
                                <option value="all">All</option>
                                <option th:each="m : ${storageManufacturerList}" th:value="${m}" th:text="${m}">
                                </option>
                            </select>
                        </div>
                        <h4 class="mx-auto">Price</h4>
                        <div id="priceSlider" class="mb-3"></div>
                        <div class="row">
                            <div class="col-md-5 pb-1">
                                <input type="number" name="priceMin" max="99999" min="0" th:field=*{priceMin}
                                    id="priceFrom" value="0" style="width: 100%;">
                            </div>
                            <div class="col-md-2">
                                <i class="fas fa-long-arrow-alt-right my-auto"></i>
                            </div>
                            <div class="col-md-5">
                                <input type="number" name="priceMax" max="99999" min="0" th:field=*{priceMax}
                                    id="priceTo" value="2000" style="width: 100%;">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h4 class="mx-auto">
                            Size
                        </h4>
                        <div class="row pb-1">
                            <div class="col-md-12">
                                <div id="memorySlider" class="mt-1">
                                    <div id="memoryHandle" class="ui-slider-handle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row pb-1">
                            <div class="col-md-12">
                                <div>
                                    <input type="number" name="memory" id="memory" max="100000" min="0"
                                        th:field=*{memory} value="0"
                                        style="padding-right: 2rem; text-align: right; width: 100%;">
                                    <span style="margin-left: -2rem;">GB</span>
                                </div>
                            </div>
                        </div>
                        <h4 class="mx-auto">
                            Storage Type
                        </h4>
                        <div>
                            <input type="radio" name="storageType" id="" value="all" th:field=*{storageType}> All
                            <br>
                            <th:block th:each="t : ${storageTypeList}">
                                <input type="radio" name="storageType" th:field=*{storageType} th:value="${t}">[[${t}]]
                                <br>
                            </th:block>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h4 class="mx-auto">
                            Form Factor
                        </h4>
                        <div>
                            <input type="radio" name="formFactor" id="" value="all" th:field=*{formFactor}> All
                            <br>
                            <th:block th:each="f : ${storageFormFactorList}">
                                <input type="radio" name="formFactor" th:field=*{formFactor} th:value="${f}">[[${f}]]
                                <br>
                            </th:block>
                        </div>
                        <h4 class="mx-auto">
                            Storage Interface
                        </h4>
                        <div>
                            <input type="radio" name="interface" id="" value="all" th:field=*{partInterface}> All
                            <br>
                            <th:block th:each="i : ${storageInterfaceList}">
                                <input type="radio" name="interface" th:field=*{partInterface} th:value="${i}">[[${i}]]
                                <br>
                            </th:block>
                        </div>
                    </div>
                </div>
            </form>
            <!-- END OF FILTER FORM -->
            <table id="filteredStorageTable" class="table table-striped" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Size</th>
                        <th>Interface</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="s : ${filteredStorage}">
                        <td>
                            <a href="" th:href="@{/product?id=__${s.id}__}" th:text=${s.name}></a>
                        </td>
                        <td>
                            <th:block th:text="${s.storageType}" />
                        </td>
                        <td>
                            <th:block th:if="${s.memory >= 1000}">
                                <th:block th:text="${s.memory/1000}" /> TB
                            </th:block>
                            <th:block th:if="${s.memory < 1000}">
                                <th:block th:text="${s.memory}" /> GB
                            </th:block>
                        </td>
                        <td>
                            <th:block th:text="${s.interface1}" />
                        </td>
                        <td>
                            <th:block th:text="${s.price}" />
                        </td>
                        <td>
                            <form action="" th:action="@{/build/storage/pickStorage?id=__${s.id}__}" method="post">
                                <button class="btn btn-primary">Add to build</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Size</th>
                        <th>Interface</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
            <div class="row justify-content-center py-3">
                <a th:href="@{/build}" class="button btn-hover-black py-1">Back to Build</a>
            </div>
        </div>
    </div>
    <th:block layout:fragment="additionalScript">
        <script th:src="@{/resources/Plugins/jquery-ui/jquery-ui.min.js}"></script>
    </th:block>
    <script th:inline="none" layout:fragment="script">
        $(document).ready(function () {
            $("#pickStorageForm").change(function (e) {
                $("#pickStorageForm").submit();
            });
        });

        $('#filteredStorageTable').DataTable({
            "language": {
                "emptyTable": "<div style='text-align:center;'><a href='storage/reset' th:href='@{/build/storage/reset}'>No results. Reset your search values.</a>" +
                    "<br><a href='storage/reset' th:href='@{/build/storage/reset}' class='btn btn-success'>Reset</a></div>"
            },
            initComplete: function () {
                $('div.dataTables_length').addClass('form-inline');
                $('div.dataTables_length').addClass('mt-4');
            }
        });

        var currentPriceFrom = $("#priceFrom").val();
        var currentPriceTo = $("#priceTo").val();
        var priceSlider = $("#priceSlider").slider({
            range: true,
            min: 0,
            max: 1000,
            values: [$("#priceFrom").val(), $("#priceTo").val()],
            slide: function (event, ui) {
                $("#priceFrom").val(ui.values[0]);
                $("#priceTo").val(ui.values[1]);
            },
            stop: function (event, ui) {
                if (currentPriceFrom != $("#priceFrom").val() || currentPriceTo != $("#priceTo").val()) {
                    $("#pickStorageForm").submit();
                }
            }
        });

        var currentMemory = $("#memory").val();
        var memorySizeSlider = $("#memorySlider").slider({
            min: 0,
            max: 10000,
            value: $("#memory").val(),
            slide: function (event, ui) {
                $("#memory").val(ui.value);
            },
            stop: function (event, ui) {
                if (currentMemory != $("#memory").val()) {
                    $("#pickStorageForm").submit();
                }
            }
        });
    </script>
</body>

</html>