<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{HTDShop/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CPU Picker</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="container">
            <div class="row">
                <h2 class="mx-auto">Pick a CPU</h2>
            </div>
            <!-- START OF FILTER FORM -->
            <form th:action="@{/build/filterCpu}" method="POST" id="pickCPUForm" th:object="${cpuValues}">
                <input type="hidden" th:field="*{partCategory}" value="cpu" />
                <div class="row">
                    <div class="col-md-3">
                        <h4 class="mx-auto">
                            Manufacturer
                        </h4>
                        <div>
                            <input type="radio" name="manufacturer" id="" value="all" th:field=*{manufacturer}> All
                            <br>
                            <input type="radio" name="manufacturer" id="" value="amd" th:field=*{manufacturer}> AMD
                            <br>
                            <input type="radio" name="manufacturer" id="" value="intel" th:field=*{manufacturer}> Intel
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4 class="mx-auto">
                            Socket
                        </h4>
                        <div>
                            <select name="socket" id="" th:field=*{socket}>
                                <option value="">LGA 1155</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
            <h1>
                Searching for
                <th:block th:text="${cpuValues.manufacturer}" />
            </h1>
        </div>
    </div>
    <script th:inline="none" layout:fragment="script">
        $(document).ready(function () {
            $("#pickCPUForm").change(function (e) {
                $("#pickCPUForm").submit();
            });
        });
    </script>
</body>

</html>