<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{HTDShop/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CPU Picker</title>
    <style>
        .dataTables_filter {
            float: right !important;
        }
    </style>
</head>

<body>
    <div layout:fragment="content">
        <div class="container">
            <div class="row">
                <h2 class="mx-auto">Pick a CPU</h2>
            </div>
            <!-- START OF FILTER FORM -->
            <th:block th:replace="~{/HTDShop/pick_filter :: __${category.id}__} ?: ~{}">

            </th:block>
            <!-- END OF FILTER FORM -->

            <th:block th:replace="~{/HTDShop/pick_list :: __${category.id}__} ?: ~{}">

            </th:block>
        </div>
    </div>
    <script th:inline="none" layout:fragment="script">
        $(document).ready(function () {
            $("#frmPick").change(function (e) {
                $("#frmPick").submit();
            });
        });
    </script>
</body>

</html>