<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{HTDShop/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GPU Picker</title>
    <style>
        .dataTables_filter {
            float: right !important;
        }
    </style>
    <th:block layout:fragment="additionalCss">
        <link rel="stylesheet" th:href="@{/resources/Plugins/jquery-ui/jquery-ui.min.css}" />
        <link rel="stylesheet" th:href="@{/resources/Plugins/jquery-ui/jquery-ui.theme.min.css}" />
    </th:block>
</head>

<body>
    <div layout:fragment="content">
        <div class="container">
            <div class="row">
                <h2 class="mx-auto">Pick a GPU</h2>
            </div>
            <!-- START OF FILTER FORM -->
            <form th:action="@{/build/gpu/filterGpu}" method="POST" id="pickGPUForm" th:object="${gpuValues}">
                <input type="hidden" th:field="*{partCategory}" value="gpu" />
                <div class="row">
                    <div class="col-md-4">
                        <div class="pb-2">
                            <h4 class="mx-auto">
                                Manufacturer
                            </h4>
                            <div>
                                <select name="socket" id="" th:field=*{manufacturer}>
                                    <option value="all">All</option>
                                    <option th:each="m : ${gpuManufacturerList}" th:value="${m}" th:text="${m}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <h4 class="mx-auto">Price</h4>
                            <div id="priceSlider" class="mb-3"></div>
                            <div class="row">
                                <div class="col-md-5 pb-1">
                                    <input type="number" name="priceMin" max="99999" min="0" th:field=*{priceMin}
                                        id="priceFrom" value="0" style="width: 100%;">
                                </div>
                                <div class="col-md-2">
                                    <i class="fas fa-long-arrow-alt-right my-auto"></i>
                                </div>
                                <div class="col-md-5">
                                    <input type="number" name="priceMax" max="99999" min="0" th:field=*{priceMax}
                                        id="priceTo" value="2000" style="width: 100%;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h4 class="mx-auto">
                            Chipset
                        </h4>
                        <div>
                            <select name="chipset" id="" th:field=*{chipset}>
                                <option value="all">All</option>
                                <option th:each="c : ${gpuChipsetList}" th:value="${c}" th:text="${c}">
                                </option>
                            </select>
                        </div>
                        <h4 class="mx-auto">
                            Memory Type
                        </h4>
                        <div>
                            <input type="radio" name="memoryType" id="" value="all" th:field=*{memoryType}> All
                            <br>
                            <th:block th:each="m : ${gpuMemoryTypeList}">
                                <input type="radio" name="memoryType" th:field=*{memoryType} th:value="${m}">[[${m}]]
                                <br>
                            </th:block>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row pb-1">
                            <div class="col-md-5">Max TDP:</div>
                            <div class="col-md-7">
                                <div id="tdpSlider" class="mt-1">
                                    <div id="tdpHandle" class="ui-slider-handle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row pb-1">
                            <div class="col-md-5">&nbsp;</div>
                            <div class="col-md-7">
                                <div>
                                    <input type="number" name="tdp" id="tdp" max="1000" min="0" th:field=*{tdp}
                                        value="0" style="padding-right: 1.5rem; text-align: right; width: 100%;">
                                    <span style="margin-left: -1.5rem;">W</span>
                                </div>
                            </div>
                        </div>
                        <div class="row pb-1">
                            <div class="col-md-5">Memory Size:</div>
                            <div class="col-md-7">
                                <div id="memorySizeSlider" class="mt-1"></div>
                            </div>
                        </div>
                        <div class="row pb-1">
                            <div class="col-md-5">&nbsp;</div>
                            <div class="col-md-7">
                                <div>
                                    <input type="number" name="memory" id="memory" max="1000" min="0" th:field=*{memory}
                                        value="0" style="padding-right: 2rem; text-align: right; width: 100%;">
                                    <span style="margin-left: -2rem;">GB</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!-- END OF FILTER FORM -->
            <table id="filteredGPUTable" class="table table-striped" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Chipset</th>
                        <th>Memory</th>
                        <th>TDP (W)</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="g : ${filteredGPU}">
                        <td>
                            <a href="" th:href="@{/product?id=__${g.id}__}" th:text=${g.name}></a>
                        </td>
                        <td>
                            <th:block th:text="${g.chipset}" />
                        </td>
                        <td>
                            <th:block th:text="${g.memory}" /> GB
                        </td>
                        <td>
                            <th:block th:text="${g.tdp}" />
                        </td>
                        <td>
                            <th:block th:if="${g.price !=shopService.getDiscountPrice(g.id)}">
                                <del>
                                    <th:block th:text="${g.price}" />
                                </del>
                            </th:block>
                            <th:block th:text="${#numbers.formatDecimal(shopService.getDiscountPrice(g.id), 1, 'COMMA', 2, 'POINT')}" />
                        </td>
                        <td>
                            <form action="" th:action="@{/build/gpu/pickGpu?id=__${g.id}__}" method="post">
                                <button class="btn btn-primary">Add to build</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Chipset</th>
                        <th>Memory</th>
                        <th>TDP (W)</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
            <div class="row justify-content-center py-3">
                <a th:href="@{/build}" class="button btn-hover-black py-1">Back to Build</a>
            </div>
        </div>
    </div>
    <th:block layout:fragment="additionalScript">
        <script th:src="@{/resources/Plugins/jquery-ui/jquery-ui.min.js}"></script>
    </th:block>
    <script th:inline="none" layout:fragment="script">
        $(document).ready(function () {
            $("#pickGPUForm").change(function (e) {
                $("#pickGPUForm").submit();
            });
        });

        $('#filteredGPUTable').DataTable({
            "language": {
                "emptyTable": "<div style='text-align:center;'><a href='gpu/reset' th:href='@{/build/gpu/reset}'>No results. Reset your search values.</a>" +
                    "<br><a href='gpu/reset' th:href='@{/build/gpu/reset}' class='btn btn-success'>Reset</a></div>"
            },
            "columnDefs": [{
                "targets": 4,
                "orderable": false
            }],
            initComplete: function () {
                $('div.dataTables_length').addClass('form-inline');
                $('div.dataTables_length').addClass('mt-4');
            }
        });

        var currentPriceFrom = $("#priceFrom").val();
        var currentPriceTo = $("#priceTo").val();
        var priceSlider = $("#priceSlider").slider({
            range: true,
            min: 0,
            max: 2000,
            values: [$("#priceFrom").val(), $("#priceTo").val()],
            slide: function (event, ui) {
                $("#priceFrom").val(ui.values[0]);
                $("#priceTo").val(ui.values[1]);
            },
            stop: function (event, ui) {
                if (currentPriceFrom != $("#priceFrom").val() || currentPriceTo != $("#priceTo").val()) {
                    $("#pickGPUForm").submit();
                }
            }
        });

        var currentTDP = $("#tdp").val();
        var tdpSlider = $("#tdpSlider").slider({
            min: 0,
            max: 1000,
            value: $("#tdp").val(),
            slide: function (event, ui) {
                $("#tdp").val(ui.value);
            },
            stop: function (event, ui) {
                if (currentTDP != $("#tdp").val()) {
                    $("#pickGPUForm").submit();
                }
            }
        });

        var currentMemory = $("#memory").val();
        var memorySizeSlider = $("#memorySizeSlider").slider({
            min: 0,
            max: 64,
            value: $("#memory").val(),
            slide: function (event, ui) {
                $("#memory").val(ui.value);
            },
            stop: function (event, ui) {
                if (currentMemoryModule != $("#memory").val()) {
                    $("#pickGPUForm").submit();
                }
            }
        });
    </script>
</body>

</html>