<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{HTDShop/layout}">

<head>
    <title>HTD Shop - Search Pre-built PC</title>
    <th:block layout:fragment="additionalCss">
        <link rel="stylesheet" th:href="@{/resources/Content/fontawesome-free/css/all.min.css}">
    </th:block>
    <style>

    </style>
</head>

<body>
    <div layout:fragment="content">
        <div class="breadcrumb-area pt-10 pb-10"
            style="background-image: linear-gradient(141deg, #9fb8ad 0%, #fff 51%, #9fb8ad 75%);">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <ul>
                        <li><a th:href="@{/}">home</a></li>
                        <li id="searchLabel">Search Pre-built PC: "[[${param.search}]]"</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="shop-page-wrapper shop-page-padding ptb-100">
            <div class="container-fluid">
                <div class="row" id="scrollHere">
                    <div class="col-lg-3">
                        <div class="shop-sidebar mr-50">
                            <div class="sidebar-widget mb-50">
                                <h3 class="sidebar-title">Search Pre-built PC</h3>
                                <div class="sidebar-search">
                                    <form id="searchKeyword">
                                        <input placeholder="Search Products..." type="text" th:value="${param.keyword}"
                                            name="keyword" id="keyword" maxlength="100">
                                        <button type="submit"><i class="ti-search"></i></button>
                                    </form>
                                </div>
                            </div>
                            <div class="sidebar-widget mb-45"
                                th:with="cate = ${new String[]{'cpu', 'motherboard', 'gpu', 'memory', 'psu', 'storage', 'cpucooler', 'case', 'monitor'}}" id="parts">
                                <h3 class="sidebar-title">Parts</h3>
                                <div class="sidebar-categories mb-2" th:each="c, it : ${cate}">
                                    <select class="select" th:name="${c}" th:id="${c}">
                                        <option value="0"
                                            th:selected="${param.__${c}__!=null && T(Integer).parseInt(param.__${c}__) == 0}">
                                            All <th:block th:text="${#strings.capitalize(c == 'cpucooler'?'Cpu Cooler' : c)}"></th:block>
                                        </option>
                                        <option th:each="p : ${products.?[category.id== __${it.index + 1}__]}"
                                            th:value="${p.id}" th:text="${p.name}"
                                            th:selected="${param.__${c}__!=null && T(Integer).parseInt(param.__${c}__) == p.id}">
                                            CPU
                                        </option>
                                    </select>
                                </div>
                                <!-- <div class="sidebar-categories">
                                    <select class="select" name="motherboard" id="motherboard">
                                        <option value="0"
                                            th:selected="${param.motherboard!=null && T(Integer).parseInt(param.motherboard) == 0}">
                                            All Motherboard
                                        </option>
                                        <option th:each="p : ${products.?[category==2]}" th:value="${p.id}"
                                            th:text="${p.name}"
                                            th:selected="${param.motherboard!=null && T(Integer).parseInt(param.motherboard) == p.id}">
                                            Motherboard
                                        </option>
                                    </select>
                                </div> -->
                            </div>
                            <div class="sidebar-widget mb-40">
                                <h3 class="sidebar-title">Filter by Price</h3>
                                <div class="d-flex">
                                    <form id="searchPrice" class="d-flex">
                                        <input type="number" placeholder="From..."
                                            th:value="${param.from!=null?param.from:'0'}" name="from" size="5" required
                                            min=0 max=10000 id="from">
                                        <input type="number" placeholder="To..."
                                            th:value="${param.to!=null?param.to:'10000'}" name="to" size="5" required
                                            min=10 max=10000 id="to">
                                        <button type="submit" style="width: 100%;">Filter</button>
                                    </form>
                                </div>
                            </div>
                            <div class="sidebar-widget mb-40">
                                <div class="d-flex">
                                    <button type="button" id="resetFilter" class="py-2" style="width:100%">Reset all
                                        filter</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9" id="result" style="height: 65rem;">

                    </div>
                </div>
            </div>
        </div>


        <!-- modal -->
        <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="pe-7s-close" aria-hidden="true"></span>
            </button>
            <div class="modal-dialog modal-quickview-width" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="qwick-view-left">
                            <div class="quick-view-learg-img">
                                <div class="quick-view-tab-content tab-content">
                                    <div class="tab-pane active show fade" id="modal1" role="tabpanel">
                                        <img src="assets/img/quick-view/l1.jpg" alt="">
                                    </div>
                                    <div class="tab-pane fade" id="modal2" role="tabpanel">
                                        <img src="assets/img/quick-view/l2.jpg" alt="">
                                    </div>
                                    <div class="tab-pane fade" id="modal3" role="tabpanel">
                                        <img src="assets/img/quick-view/l3.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="quick-view-list nav" role="tablist">
                                <a class="active" href="#modal1" data-toggle="tab" role="tab">
                                    <img src="assets/img/quick-view/s1.jpg" alt="">
                                </a>
                                <a href="#modal2" data-toggle="tab" role="tab">
                                    <img src="assets/img/quick-view/s2.jpg" alt="">
                                </a>
                                <a href="#modal3" data-toggle="tab" role="tab">
                                    <img src="assets/img/quick-view/s3.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="qwick-view-right">
                            <div class="qwick-view-content">
                                <h3>Handcrafted Supper Mug</h3>
                                <div class="price">
                                    <span class="new">$90.00</span>
                                    <span class="old">$120.00 </span>
                                </div>
                                <div class="rating-number">
                                    <div class="quick-view-rating">
                                        <i class="pe-7s-star"></i>
                                        <i class="pe-7s-star"></i>
                                        <i class="pe-7s-star"></i>
                                        <i class="pe-7s-star"></i>
                                        <i class="pe-7s-star"></i>
                                    </div>
                                    <div class="quick-view-number">
                                        <span>2 Ratting (S)</span>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adip elit, sed do tempor incididun ut labore
                                    et dolore magna aliqua. Ut enim ad mi , quis nostrud veniam exercitation .</p>
                                <div class="quick-view-select">
                                    <div class="select-option-part">
                                        <label>Size*</label>
                                        <select class="select">
                                            <option value="">- Please Select -</option>
                                            <option value="">900</option>
                                            <option value="">700</option>
                                        </select>
                                    </div>
                                    <div class="select-option-part">
                                        <label>Color*</label>
                                        <select class="select">
                                            <option value="">- Please Select -</option>
                                            <option value="">orange</option>
                                            <option value="">pink</option>
                                            <option value="">yellow</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="quickview-plus-minus">
                                    <div class="cart-plus-minus">
                                        <input type="text" value="02" name="qtybutton" class="cart-plus-minus-box">
                                    </div>
                                    <div class="quickview-btn-cart">
                                        <a class="btn-hover-black" href="#">add to cart</a>
                                    </div>
                                    <div class="quickview-btn-wishlist">
                                        <a class="btn-hover" href="#"><i class="pe-7s-like"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

    </div>


    <script layout:fragment="script" th:inline="javascript">
        /*<![CDATA[*/
        doSearch();

        $("#parts").on("change", function () { doSearch() });

        $("#searchKeyword").on("submit", function (e) {
            e.preventDefault();
            doSearch();
        });

        $("#searchPrice").on("submit", function (e) {
            e.preventDefault();
            if (+$("#from").val() > +$("#to").val()) {
                $("#from").val(0);
            }
            doSearch();
        });

        $("#resetFilter").on("click", function () {
            $("#from").val(0);
            $("#to").val(10000);
            $("#keyword").val("");
            $("#cpu").val(0);
            $("#motherboard").val(0);
            $("#gpu").val(0);
            $("#memory").val(0);
            $("#psu").val(0);
            $("#storage").val(0);
            $("#cpucooler").val(0);
            $("#case").val(0);
            $("#monitor").val(0);
            doSearch(1, "default");
        });

        function doSearch(page, sort) {
            if (+$("#from").val() > +$("#to").val()) {
                $("#from").val(0);
            }
            var searchUrl = /*[[@{/prebuilt/result}]]*/'';
            var href =  /*[[@{/prebuilt/search}]]*/'';
            var kParam = $("#keyword").val();
            var cpuParam = $("#cpu").val();
            var motherboardParam = $("#motherboard").val();
            var gpuParam = $("#gpu").val();
            var memoryParam = $("#memory").val();
            var psuParam = $("#psu").val();
            var storageParam = $("#storage").val();
            var cpucoolerParam = $("#cpucooler").val();
            var caseParam = $("#case").val();
            var monitorParam = $("#monitor").val();
            var styleParam = /*[[${param.style!=null?param.style:''}]]*/"";
            var pageParam = 1;
            var fromParam = $("#from").val();
            var toParam = $("#to").val();
            var sortParam = /*[[${param.sort!=null?param.sort:'default'}]]*/"default";
            if (sort != null) {
                sortParam = sort;
            }
            if (page != null) {
                pageParam = page;
            }
            searchUrl += "?keyword=" + kParam + "&style=" + styleParam + "&page=" + pageParam + "&from=" + fromParam + "&to=" + toParam + "&sort=" + sortParam + "&cpu=" + cpuParam + "&motherboard=" + motherboardParam + "&gpu=" + gpuParam + "&memory=" + memoryParam + "&psu=" + psuParam + "&storage=" + storageParam + "&cpucooler=" + cpucoolerParam + "&case=" + caseParam + "&monitor=" + monitorParam;
            href += "?keyword=" + kParam + "&style=" + styleParam + "&page=" + pageParam + "&from=" + fromParam + "&to=" + toParam + "&sort=" + sortParam + "&cpu=" + cpuParam + "&motherboard=" + motherboardParam + "&gpu=" + gpuParam + "&memory=" + memoryParam + "&psu=" + psuParam + "&storage=" + storageParam + "&cpucooler=" + cpucoolerParam + "&case=" + caseParam + "&monitor=" + monitorParam;
            if (history.pushState) {
                $("#result").animate({ 'opacity': '0.0' }, 200, function () {
                    $.ajax({
                        url: searchUrl,
                        method: 'POST',
                        cache: false,
                        success: function (data) {
                            $("#result").html(data);
                            $("#result").animate({ 'opacity': '1.0' }, 400);
                            $("#searchLabel").html("Search Pre-built PC: \"" + kParam + "\"");
                            history.pushState('', 'HTD Shop - Search Pre-built PC', href);
                        }
                    });
                });
            } else {
                location.href = href;
            }

            // $.post(searchUrl, function (data) {
            //     $.when(function () {
            //         $("#result").fadeOut();
            //     }).done(function () {
            //         $("#result").html(data).fadeIn();
            //     });
            //     $("#searchLabel").html("Search: \"" + kParam + "\"");
            //     //$("#result").fadeOut('fast').html(data).fadeIn();
            //     //$(data).hide().appendTo('#result').fadeIn();
            //     //$("#result").html(data);
            // });

            // $([document.documentElement, document.body]).animate({
            //     scrollTop: $("#scrollHere").offset().top
            // }, 500);
        }

        /*]]>*/
    </script>
</body>

</html>