<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{HTDShop/layout}">

<head>
    <title>HTD Shop - Search Pre-built PC</title>
    <th:block layout:fragment="additionalCss">
        <link rel="stylesheet" th:href="@{/resources/Content/fontawesome-free/css/all.min.css}">
    </th:block>
    <style>
        .select2-search__field {
            height: auto;
        }

        @media (max-width:1200px) {
            .product-list {
                height: 114rem;
            }

            .product-list2 {
                height: 112rem;
            }
        }

        @media (min-width:1200px) {
            .product-list {
                height: 65rem;
            }

            .product-list2 {
                height: 63rem;
            }
        }

        .select2 {
            width: 100%;
        }
    </style>
</head>

<body>
    <div layout:fragment="content">
        <div class="breadcrumb-area pt-10 pb-10">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <ul>
                        <li><a th:href="@{/}">home</a></li>
                        <li id="searchLabel">Search Pre-built PC: <th:block
                                th:text="${(param.keyword != null && !param.keyword.isEmpty()) ? 'All with filters' : ('&quot;' + param.keyword + '&quot;')}">
                            </th:block>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="shop-page-wrapper shop-page-padding ptb-100">
            <div class="container-fluid">
                <div class="row" id="scrollHere">
                    <div class="col-lg-3">
                        <div class="shop-sidebar mr-50">
                            <div class="sidebar-widget mb-30">
                                <h3 class="sidebar-title">Search Pre-built PC</h3>
                                <div class="sidebar-search">
                                    <form id="searchKeyword">
                                        <input placeholder="Search Pre-built PC..." type="text"
                                            th:value="${param.keyword}" name="keyword" id="keyword" maxlength="100">
                                        <button type="submit"><i class="ti-search"></i></button>
                                    </form>
                                </div>
                            </div>

                            <div class="sidebar-widget mb-30"
                                th:with="cate = ${new String[]{'cpu', 'motherboard', 'gpu', 'memory', 'psu', 'storage', 'cpucooler', 'case', 'monitor'}}"
                                id="parts">
                                <h3 class="sidebar-title">Author</h3>
                                <form id="partFilter">
                                    <div class="sidebar-categories mb-2">
                                        <select class="form-control select2" data-dropdown-css-class="select2-purple"
                                            th:name="auth" id="auth">
                                            <option value="0"
                                                th:selected="${param.auth !=null && T(Integer).parseInt(param.auth[0]) == 0}">
                                                Any Author
                                            </option>
                                            <option value="1"
                                                th:selected="${param.auth !=null && T(Integer).parseInt(param.auth[0]) == 1}">
                                                HTD Shop
                                            </option>
                                            <option value="2"
                                                th:selected="${param.auth !=null && T(Integer).parseInt(param.auth[0]) == 2}">
                                                User
                                            </option>
                                        </select>
                                    </div>
                                </form>
                            </div>

                            <div class="sidebar-widget mb-30"
                                th:with="cate = ${new String[]{'cpu', 'motherboard', 'gpu', 'memory', 'psu', 'storage', 'cpucooler', 'case', 'monitor'}}"
                                id="parts">
                                <h3 class="sidebar-title">Parts</h3>
                                <form id="partFilter">
                                    <div class="sidebar-categories mb-2" th:each="c, it : ${cate}">
                                        <select class="form-control select2" data-dropdown-css-class="select2-purple"
                                            th:name="${c}" th:id="${c}">
                                            <option value="0"
                                                th:selected="${param.__${c}__!=null && T(Integer).parseInt(param.__${c}__) == 0}">
                                                All <th:block th:text="${#strings.capitalize(c == 'cpucooler'?'Cpu Cooler' : c)}"></th:block>
                                            </option>
                                            <option th:each="p : ${products.?[category.id== __${it.index + 1}__]}"
                                                th:value="${p.id}" th:text="${p.name}"
                                                th:selected="${param.__${c}__!=null && T(Integer).parseInt(param.__${c}__) == p.id}">
                                                CPU
                                            </option>
                                        </select>
                                    </div>
                                </form>
                            </div>

                            <div class="sidebar-widget mb-30">
                                <h3 class="sidebar-title">Filter by Price</h3>
                                <div class="d-flex">
                                    <form id="searchPrice" class="d-flex">
                                        <input type="number" placeholder="From..."
                                            th:value="${param.from!=null?param.from:'0'}" name="from" required min=0
                                            max=1000000 id="from" class="form-control mr-2">
                                        <i class="fas fa-long-arrow-alt-right mt-3"></i>
                                        <input type="number" placeholder="To..."
                                            th:value="${param.to!=null?param.to:'1000000'}" name="to" required min=10
                                            max=1000000 id="to" class="ml-2 form-control">
                                    </form>
                                </div>
                            </div>
                            
                            <div class="sidebar-widget mb-40">
                                <div class="d-flex mb-2">
                                    <button type="button" id="filter" class="py-2" style="width:100%">Filter</button>
                                </div>
                                <div class="d-flex">
                                    <button type="button" id="resetFilter" class="py-2" style="width:100%">Reset all
                                        filter</button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-9 product-list">
                        <div class="shop-product-wrapper res-xl res-xl-btn product-list2">
                            <div class="shop-bar-area">
                                <div class="shop-bar pb-60">
                                    <div class="shop-found-selector">
                                        <div class="shop-found">
                                            <p><span id="totalNumber"></span> Pre-built PC Found</p>
                                        </div>
                                        <div class="shop-selector">
                                            <label>Sort By : </label>
                                            <select name="psort" id="psort" style="width: auto;">
                                                <option value="default"
                                                    th:selected="${param.sort==null || param.sort[0].equals('default')}">
                                                    Default (Newest first)
                                                </option>
                                                <option value="priceasc"
                                                    th:selected="${param.sort!=null && param.sort[0].equals('priceasc')}">
                                                    Price low -> high
                                                </option>
                                                <option value="pricedesc"
                                                    th:selected="${param.sort!=null && param.sort[0].equals('pricedesc')}">
                                                    Price high -> low
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- <div class="shop-filter-tab">
                                        <div class="shop-tab nav" role=tablist>
                                            <a class="active" href="#grid-sidebar1" data-toggle="tab" role="tab" aria-selected="false">
                                                <i class="ti-layout-grid4-alt"></i>
                                            </a>
                                            <a href="#grid-sidebar2" data-toggle="tab" role="tab" aria-selected="true">
                                                <i class="ti-menu"></i>
                                            </a>
                                        </div>
                                    </div> -->
                                </div>
                                <div class="shop-product-content tab-content" id="result">

                                </div>
                            </div>
                        </div>

                        <div class="pagination-style mt-30 text-center" id="paging">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <script layout:fragment="script" th:inline="javascript">
        /*<![CDATA[*/

        var searched = +0;

        doSearch();

        $("#searchKeyword").on("submit", function (e) {
            e.preventDefault();
            doSearch(1, null);
        });

        $("#filter").on("click", function () {
            doSearch(1);
        });

        $("#resetFilter").on("click", function () {
            $("#from").val(0);
            $("#to").val(1000000);
            $("#keyword").val("");
            $("#psort").val("default");
            if ($("#cpu").val() != 0) {
                $("#cpu").val(0).trigger('change');
            }
            if ($("#motherboard").val() != 0) {
                $("#motherboard").val(0).trigger('change');
            }
            if ($("#gpu").val() != 0) {
                $("#gpu").val(0).trigger('change');
            }
            if ($("#memory").val() != 0) {
                $("#memory").val(0).trigger('change');
            }
            if ($("#psu").val() != 0) {
                $("#psu").val(0).trigger('change');
            }
            if ($("#storage").val() != 0) {
                $("#storage").val(0).trigger('change');
            }
            if ($("#cpucooler").val() != 0) {
                $("#cpucooler").val(0).trigger('change');
            }
            if ($("#case").val() != 0) {
                $("#case").val(0).trigger('change');
            }
            if ($("#monitor").val() != 0) {
                $("#monitor").val(0).trigger('change');
            }
            if ($("#auth").val() != 0) {
                $("#auth").val(0).trigger("change");
            }

            doSearch(1, "default");
        });

        $("#psort").on("change", function () {
            doSearch(1, $(this).val());
        });

        $("#auth").on("change", function () {
            doSearch(1, null);
        });

        $("#partFilter").on("change", function () {
            doSearch(1, null);
        });

        $("#searchPrice").on("change", function () {
            doSearch(1, null);
        });

        function doSearch(page, sort) {
            // Validate filters
            doValidateFilters();

            // Build url
            var searchUrl = /*[[@{/prebuilt/result}]]*/'';
            var href =  /*[[@{/prebuilt/search}]]*/'';
            var kParam = $("#keyword").val().trim();
            var cpuParam = +/*[[${#httpServletRequest.getParameter('1') != null ? #httpServletRequest.getParameter('1') : 0}]]*/'';
            var motherboardParam = +/*[[${#httpServletRequest.getParameter('2') != null ? #httpServletRequest.getParameter('2') : 0}]]*/'';
            var gpuParam = +/*[[${#httpServletRequest.getParameter('3') != null ? #httpServletRequest.getParameter('3') : 0}]]*/'';
            var memoryParam = +/*[[${#httpServletRequest.getParameter('4') != null ? #httpServletRequest.getParameter('4') : 0}]]*/'';
            var psuParam = +/*[[${#httpServletRequest.getParameter('5') != null ? #httpServletRequest.getParameter('5') : 0}]]*/'';
            var storageParam = +/*[[${#httpServletRequest.getParameter('6') != null ? #httpServletRequest.getParameter('6') : 0}]]*/'';
            var cpucoolerParam = +/*[[${#httpServletRequest.getParameter('7') != null ? #httpServletRequest.getParameter('7') : 0}]]*/'';
            var caseParam = +/*[[${#httpServletRequest.getParameter('8') != null ? #httpServletRequest.getParameter('8') : 0}]]*/'';
            var monitorParam = +/*[[${#httpServletRequest.getParameter('9') != null ? #httpServletRequest.getParameter('9') : 0}]]*/'';
            var styleParam = /*[[${param.style!=null?param.style:''}]]*/"";
            var pageParam = +/*[[${param.page!=null? param.page : 1 }]]*/1;
            var fromParam = $("#from").val();
            var toParam = $("#to").val();
            var sortParam = /*[[${param.sort!=null?param.sort:'default'}]]*/"";
            var authParam = +/*[[${param.auth != null ? param.auth[0] : 0}]]*/"";

            if (searched > 0) {
                sortParam = $("#psort").val();
                cpuParam = $("#cpu").val();
                motherboardParam = $("#motherboard").val();
                gpuParam = $("#gpu").val();
                memoryParam = $("#memory").val();
                psuParam = $("#psu").val();
                storageParam = $("#storage").val();
                cpucoolerParam = $("#cpucooler").val();
                caseParam = $("#case").val();
                monitorParam = $("#monitor").val();
                authParam = $("#auth").val();
            }

            if (sort != null) {
                sortParam = sort;
            }
            if (page != null) {
                pageParam = page;
            }

            // Shorten url
            var urlparams = "";
            if (kParam != "") {
                urlparams += "&keyword=" + encodeURIComponent(kParam);
            }
            if (fromParam > 0) {
                urlparams += "&from=" + encodeURIComponent(fromParam);
            }
            if (toParam < 1000000) {
                urlparams += "&to=" + encodeURIComponent(toParam);
            }
            if (sortParam != "default") {
                urlparams += "&sort=" + encodeURIComponent(sortParam);
            }
            if (styleParam != "" && styleParam != "grid") {
                urlparams += "&style=" + encodeURIComponent(styleParam);
            }
            if (cpuParam > 0) {
                urlparams += "&1=" + encodeURIComponent(cpuParam);
            }
            if (motherboardParam > 0) {
                urlparams += "&2=" + encodeURIComponent(motherboardParam);
            }
            if (gpuParam > 0) {
                urlparams += "&3=" + encodeURIComponent(gpuParam);
            }
            if (memoryParam > 0) {
                urlparams += "&4=" + encodeURIComponent(memoryParam);
            }
            if (psuParam > 0) {
                urlparams += "&5=" + encodeURIComponent(psuParam);
            }
            if (storageParam > 0) {
                urlparams += "&6=" + encodeURIComponent(storageParam);
            }
            if (cpucoolerParam > 0) {
                urlparams += "&7=" + encodeURIComponent(cpucoolerParam);
            }
            if (caseParam > 0) {
                urlparams += "&8=" + encodeURIComponent(caseParam);
            }
            if (monitorParam > 0) {
                urlparams += "&9=" + encodeURIComponent(monitorParam);
            }
            if (authParam > 0) {
                urlparams += "&auth=" + encodeURIComponent(authParam);;
            }
            if (urlparams != "") {
                searchUrl += "?" + urlparams;
                href += "?" + urlparams;
            }

            if (history.pushState) {
                $("#result").animate({ 'opacity': '0.0' }, 200, function () {
                    $.ajax({
                        url: searchUrl,
                        method: 'POST',
                        cache: false,
                        success: function (data) {
                            $("#result").html(data);
                            $("#totalNumber").html($("#result").find("#totalProduct").val());
                            renderPaging(parseInt($("#result").find("#totalPage").val()), pageParam);
                            $("#result").animate({ 'opacity': '1.0' }, 200);
                            $("#searchLabel").html("Search Pre-built PC: " + (kParam == "" ? "All with filters" : ("\"" + kParam + "\"")));
                            history.pushState('', 'HTD Shop - Search Pre-built PC', href);
                        }
                    });
                });
            } else {
                location.href = href;
            }
            searched++;
        }

        function doValidateFilters() {
            // Keyword
            $("#keyword").val($("#keyword").val().trim());

            // Price filter
            if (!$("#searchPrice")[0].checkValidity()) {
                $("#from").val(0);
                $("#to").val(1000000);
            }
            var pricemin = +$("#from").val() || 0;
            var pricemax = +$("#to").val() || 1000000;
            if (pricemin > pricemax) {
                $("#from").val(0);
            }
        }

        function renderPaging(totalPage, curPage) {
            var pageStr = "<ul>";
            if (curPage > 1) {
                pageStr += '<li><a style="cursor: pointer;" onclick="doSearch(' + (curPage - 1) + ', null, false)"><i class="ti-angle-left"></i></a></li>'
            }
            for (let i = 1; i <= totalPage; i++) {
                pageStr += '<li class="' + (i == curPage ? 'active' : '')
                    + '">';
                if (i == curPage) {
                    pageStr += "<a>" + i + "</a>";
                } else {
                    pageStr += "<a onclick='doSearch(" + i + ", null, false)' style='cursor: pointer;'>" + i + "</a>";
                }
                pageStr += "</li>";
            }
            if (curPage < totalPage) {
                pageStr += '<li><a style="cursor: pointer;" onclick="doSearch(' + (curPage + 1) + ', null, false)"><i class="ti-angle-right"></i></a></li>'
            }
            pageStr += "</ul>";
            $("#paging").html(pageStr);
        }


        //Initialize Select2 Elements
        $('.select2').select2();

        //Initialize Select2 Elements
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        });
        /*]]>*/
    </script>
</body>

</html>