<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{HTDShop/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Build</title>
    <style>
        .alert li {
            list-style: disc;
            margin-left: 2rem;
        }
    </style>
    <th:block layout:fragment="additionalCss">
        <link th:href="@{/manager_resources/plugins/icheck-bootstrap/icheck-bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/manager_resources/plugins/summernote/summernote-lite.css}" rel="stylesheet" />
        <link th:href="@{/manager_resources/plugins/jquery-ui/jquery-ui.min.css}" rel="stylesheet" />
        <link th:href="@{/manager_resources/plugins/jquery-ui/jquery-ui.theme.min.css}" rel="stylesheet" />
    </th:block>
</head>

<body>
    <div layout:fragment="content">
        <div class="container">
            <div class="row">
                <h2 class="mx-auto">Share your build</h2>
            </div>
            <div th:if="${errorMessage != null}" class="row alert alert-danger">
                <h4 th:text=${errorMessage}></h4>
            </div>
            <div th:if="${errorMessage eq 'Build is missing required parts'}" class="alert alert-danger">
                To share a build, it must have the following parts:
                <ul>
                    <li>CPU</li>
                    <li>Motherboard</li>
                    <li>Memory</li>
                    <li>Storage</li>
                    <li>Case</li>
                    <li>Power Supply</li>
                </ul>
            </div>
            <form th:action="@{/build/add/doAdd}" th:object="${prebuilt}" method="post">
                <div class="row py-2">
                    <div class="col-md-4">
                        <label for="name">Build Name<i class="text-danger">*</i>:</label>
                    </div>
                    <div class="col-md-8">
                        <input id="name" th:field=*{name} type="text" class="form-control" />
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-md-4">
                        <label for="detail">Describe your build<i class="text-danger">*</i>:</label>
                    </div>
                    <div class="col-md-8">
                        <textarea id="detail" th:field=*{detail} class="form-control textarea" maxlength="500"></textarea>
                    </div>
                </div>
                <div class="row py-2" th:if="${prebuilt.cpu!=null}">
                    <div class="col-md-4 text-right">
                        <label for="cpu">CPU</label>
                    </div>
                    <div class="col-md-8 text-left">
                        <span th:text=*{cpu.name}></span>
                        <input th:field=*{cpu.id} type="text" style="visibility: hidden;" />
                    </div>
                </div>
                <div class="row py-2" th:if="${prebuilt.cpucooler!=null}">
                    <div class="col-md-4 text-right">
                        <label for="cpucooler">CPU Cooler</label>
                    </div>
                    <div class="col-md-8 text-left">
                        <span th:text=*{cpucooler.name}></span>
                        <input th:field=*{cpucooler.id} type="text" style="visibility: hidden;" />
                    </div>
                </div>
                <div class="row py-2" th:if="${prebuilt.motherboard!=null}">
                    <div class="col-md-4 text-right">
                        <label for="motherboard">Motherboard</label>
                    </div>
                    <div class="col-md-8 text-left">
                        <span th:text=*{motherboard.name}></span>
                        <input th:field=*{motherboard.id} type="text" style="visibility: hidden;" />
                    </div>
                </div>
                <div class="row py-2" th:if="${prebuilt.memory!=null}">
                    <div class="col-md-4 text-right">
                        <label for="memory">Memory</label>
                    </div>
                    <div class="col-md-8 text-left">
                        <span th:text=*{memory.name}></span>
                        <input th:field=*{memory.id} type="text" style="visibility: hidden;" />
                    </div>
                </div>
                <div class="row py-2" th:if="${prebuilt.storage!=null}">
                    <div class="col-md-4 text-right">
                        <label for="storage">Storage</label>
                    </div>
                    <div class="col-md-8 text-left">
                        <span th:text=*{storage.name}></span>
                        <input th:field=*{storage.id} type="text" style="visibility: hidden;" />
                    </div>
                </div>
                <div class="row py-2" th:if="${prebuilt.vga!=null}">
                    <div class="col-md-4 text-right">
                        <label for="gpu">GPU</label>
                    </div>
                    <div class="col-md-8 text-left">
                        <span th:text=*{vga.name}></span>
                        <input th:field=*{vga.id} type="text" style="visibility: hidden;" />
                    </div>
                </div>
                <div class="row py-2" th:if="${prebuilt.cases!=null}">
                    <div class="col-md-4 text-right">
                        <label for="case">Case</label>
                    </div>
                    <div class="col-md-8 text-left">
                        <span th:text=*{cases.name}></span>
                        <input th:field=*{cases.id} type="text" style="visibility: hidden;" />
                    </div>
                </div>
                <div class="row py-2" th:if="${prebuilt.psu!=null}">
                    <div class="col-md-4 text-right">
                        <label for="psu">PSU</label>
                    </div>
                    <div class="col-md-8 text-left">
                        <span th:text=*{psu.name}></span>
                        <input th:field=*{psu.id} type="text" style="visibility: hidden;" />
                    </div>
                </div>
                <div class="row py-2" th:if="${prebuilt.monitor!=null}">
                    <div class="col-md-4 text-right">
                        <label for="monitor">Monitor</label>
                    </div>
                    <div class="col-md-8 text-left">
                        <span th:text=*{monitor.name}></span>
                        <input th:field=*{monitor.id} type="text" style="visibility: hidden;" />
                    </div>
                </div>
                <div class="row justify-content-center">
                    <a class="btn btn-primary mx-1" th:href="@{/build}" href="">Back to Build</a>
                    <button type="submit" class="btn btn-success mx-1">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <th:block layout:fragment="additionalScript">
        <script th:src="@{/manager_resources/plugins/summernote/summernote-lite.min.js}"></script>
        <script th:src="@{/manager_resources/plugins/jquery-ui/jquery-ui.min.js}"></script>
        <script th:src="@{/manager_resources/plugins/jquery-validation/jquery.validate.js}"></script>
        <script th:src="@{/manager_resources/plugins/jquery-validation/additional-methods.min.js}"></script>
    </th:block>
    <script layout:fragment="script" th:inline="none">
        $('.textarea').summernote({
            toolbar: [
                // [groupName, [list of button]]
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough', 'superscript', 'subscript']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']]
            ],
            minHeight: 200,
            maxHeight: 900
        });
    </script>
</body>

</html>