<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{HTDShop/layout}">

<head>
    <title>HTD Shop - [[${prebuilt.name}]]</title>
    <th:block layout:fragment="additionalCss">

    </th:block>
    <style>
        .product-details-small {
            max-height: 30em;
            overflow-y: hidden;
            overflow-y: auto;
        }

        .product-details-large {
            max-height: 30em;
        }

        .product-spec li {
            list-style: square
        }


        .card-comments {
            background: #f8f9fa;
        }

        .card-comments .card-comment {
            border-bottom: 1px solid #e9ecef;
            padding: 8px 0;
        }

        .card-comment {
            border-bottom: 1px solid #e9ecef;
            padding: 8px 0;
        }

        .card-comments .card-comment::after {
            display: block;
            clear: both;
            content: "";
        }

        .card-comment::after {
            display: block;
            clear: both;
            content: "";
        }

        .card-comments .card-comment:last-of-type {
            border-bottom: 0;
        }

        .card-comment:last-of-type {
            border-bottom: 0;
        }

        .card-comments .card-comment:first-of-type {
            padding-top: 0;
        }

        .card-comment:first-of-type {
            padding-top: 0;
        }

        .card-comments .card-comment img {
            height: 1.875rem;
            width: 1.875rem;
            float: left;
        }

        .card-comments .comment-text {
            color: #78838e;
            margin-left: 40px;
        }

        .comment-text {
            color: #78838e;
            margin-left: 5px;
        }

        .card-comments .username {
            color: #495057;
            display: block;
            font-weight: 600;
        }

        .username {
            color: #495057;
            display: block;
            font-weight: 600;
        }

        .card-comments .text-muted {
            font-size: 12px;
            font-weight: 400;
        }


        .img-bordered {
            border: 3px solid #adb5bd;
            padding: 3px;
        }

        .img-bordered-sm {
            border: 2px solid #adb5bd;
            padding: 2px;
        }

        .img-rounded {
            border-radius: 0.25rem;
        }

        .img-circle {
            border-radius: 50%;
        }

        .tab-pane {
            text-align: left;
        }

        .tab-pane li {
            list-style: square;
        }
    </style>
</head>

<body>
    <div layout:fragment="content">
        <div class="breadcrumb-area pt-10 pb-10"
            style="background-image: linear-gradient(141deg, #7906d88c 0%, #fff 51%, #7906d88c 75%);">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <ul>
                        <li><a th:href="@{/}">home</a></li>
                        <li><a th:href="@{/prebuilt/search?k=}">Pre-built PC</a></li>
                        <li th:text="${prebuilt.name}"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="product-details ptb-100 pb-90">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-7 col-12">
                        <div class="product-details-img-content">
                            <div class="product-details-tab mr-35 product-details-tab2">
                                <div class="product-details-small nav mr-10 product-details-2" role=tablist
                                    style="display: block;">
                                    <a class="active" th:if="${prebuilt.preBuiltImageCollection.isEmpty()}"
                                        href="#pro-details1" data-toggle="tab" role="tab" aria-selected="true"
                                        style="height:8rem; display: flex;align-items: center;">
                                        <img th:src="@{/images/noimage.png}" alt=""
                                            style="max-height: 8rem;width: 100%;">
                                    </a>
                                    <a class="" th:each="img,it : ${prebuilt.preBuiltImageCollection}"
                                        th:classappend="${it.index==0?'active':''}"
                                        th:href="${'#pro-details'+(it.index+1)}" data-toggle="tab" role="tab"
                                        th:aria-selected="${it.index==0?'true':'false'}"
                                        style="height:8rem;display: flex;align-items: center;">
                                        <img th:src="@{/images/__${img.path}__}" alt=""
                                            th:onerror="'this.onerror=null;this.src=&quot;'+@{/images/noimage.png}+'&quot;'"
                                            style="max-height: 8rem;max-width: 100%;">
                                    </a>

                                </div>
                                <div class="product-details-large tab-content" style="width: 100%; max-height: 30rem;">
                                    <div class="tab-pane active show fade"
                                        th:if="${prebuilt.preBuiltImageCollection.isEmpty()}" id="pro-details1"
                                        role="tabpanel" style="text-align: center;">
                                        <div class="easyzoom"
                                            style="display:inline-block;position: relative;height:25rem">
                                            <img th:src="@{/images/noimage.png}" alt=""
                                                style="width: auto;height:100%;max-height: 25rem;max-width: 100%;object-fit: contain;">
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" th:each="img,it : ${prebuilt.preBuiltImageCollection}"
                                        th:classappend="${it.index==0?'active show':''}"
                                        th:id="${'pro-details'+(it.index+1)}" role="tabpanel"
                                        style="text-align: center;">
                                        <div
                                            style="display:inline-block;position: relative;height:25rem;vertical-align: middle;">
                                            <img th:src="@{/images/__${img.path}__}" alt=""
                                                th:onerror="'this.onerror=null;this.src=&quot;'+@{/images/noimage.png}+'&quot;'"
                                                style="width: auto;height:100%;max-height: 25rem;max-width: 100%;object-fit: contain;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-5 col-12">
                        <div class="product-details-content">
                            <h3>[[${prebuilt.name}]]</h3>
                            <div class="rating-number">

                                <div class="quick-view-number">

                                </div>
                            </div>
                            <div class="details-price">
                                <span th:if="${discountPrice!=null}">
                                    <i class="text-muted">
                                        <del
                                            th:text="${'$'+#numbers.formatDecimal(prebuiltprice, 1, 'POINT', 2, 'COMMA')}"></del>
                                    </i>
                                    <th:block
                                        th:text="${'$'+#numbers.formatDecimal(discountPrice , 1, 'POINT', 2, 'COMMA')}">
                                    </th:block>
                                </span>
                                <th:block th:if="${discountPrice==null}">
                                    <span
                                        th:text="${'$'+#numbers.formatDecimal(prebuiltprice , 1, 'POINT', 2, 'COMMA')}"></span>
                                </th:block>
                            </div>

                            <div class="quickview-plus-minus">
                                <div class="cart-plus-minus">
                                    <input type="text" value="1" name="qtybutton" class="cart-plus-minus-box" max="100">
                                </div>
                                <div class="mt-3">

                                </div>
                                <div class="quickview-btn-cart">
                                    <a class="btn-hover-black" href="#">add to cart</a>
                                </div>
                            </div>

                            <div class="alert alert-warning mt-3" th:if="${promolist.size() > 0}">
                                <strong class="">Promotion</strong>
                                <ul>
                                    <li th:each="promo : ${promolist}">
                                        <i class="fas fa-gift fa-lg"></i>
                                        <th:block th:text="${'&quot;' + promo.promotionDetail.name + '&quot;:'}">
                                        </th:block>
                                        <th:block
                                            th:text="${' ' + (promo.preBuiltTarget == 0?'All Pre-built PC':'HTD exclusive PC') + ' '}">
                                        </th:block>
                                        <strong
                                            th:text="${' discount ' + (promo.percentage != null ? (promo.percentage + '%') : ('$' + #numbers.formatDecimal(promo.exactSaleOff , 0, 'POINT', 0, 'COMMA')))}">
                                        </strong>
                                        <th:block
                                            th:text="${promo.maxSaleOff != null ? ('(Max $' + #numbers.formatDecimal(promo.maxSaleOff , 0, 'POINT', 0, 'COMMA') + ')') : ''}">
                                        </th:block>
                                        <br>
                                        <i>
                                            <th:block
                                                th:text="${promo.minQuantity != null ? ('Minimum quantity to get discount: ' + promo.minQuantity + '.') : ''}">
                                            </th:block>
                                            <th:block
                                                th:text="${promo.maxQuantity != null ? ('Maximum quantity to have discount: ' + promo.maxQuantity + '.' ) : ''}">
                                            </th:block>
                                            <th:block
                                                th:text="${promo.limitedQuantity != null ? ('Discount quantity left: ' + promo.quantityLeft + '.' ) : ''}">
                                            </th:block>
                                            <th:block
                                                th:text="${promo.promotionDetail.isAlways == true ? 'Discount last permanently.' : ('Discount last from ' + #dates.format(promo.promotionDetail.startDate,'dd/MM/yyyy') + ' to ' + #dates.format(promo.promotionDetail.endDate,'dd/MM/yyyy') )}">
                                            </th:block>
                                        </i>
                                    </li>
                                </ul>
                            </div>

                            <div class="product-spec">
                                <div class="product-details-cati-tag mt-35">
                                    <ul>
                                        <li class="categories-title">Specifications :</li>
                                    </ul>
                                </div>
                                <div class="ml-3"
                                    th:with="cate = ${new String[]{'cpu', 'motherboard', 'vga', 'memory', 'psu', 'storage', 'cpucooler', 'cases', 'monitor'}}">
                                    <li th:each="part : ${cate}" th:if="${prebuilt.__${part}__ != null}">
                                        <i class="fas fa-cube"></i>
                                        <strong>
                                            <th:block th:if="${part != 'vga' && part != 'cases' && part != 'cpucooler'}"
                                                    th:text="${#strings.toUpperCase(part)}"></th:block>
                                            <th:block th:if="${part == 'vga'}">GPU</th:block>
                                            <th:block th:if="${part == 'cases'}">CASE</th:block>
                                            <th:block th:if="${part == 'cpucooler'}">CPU COOLER</th:block>
                                        </strong>
                                        :
                                        <a th:href="@{/product(id=${prebuilt.__${part}__.id})}" th:text="${prebuilt.__${part}__.name}"></a>
                                    </li>
                                   
                                </div>

                            </div>


                            <!-- <div class="product-share">
                                <ul>
                                    <li class="categories-title">Share :</li>
                                    <li>
                                        <a href="#">
                                            <i class="icofont icofont-social-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icofont icofont-social-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icofont icofont-social-pinterest"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icofont icofont-social-flikr"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-description-review-area pb-90">
            <div class="container">
                <div class="product-description-review text-center">
                    <div class="description-review-title nav" role=tablist>
                        <a class="active" href="#pro-dec" data-toggle="tab" role="tab" aria-selected="true">
                            Description
                        </a>
                        <a href="#pro-review" data-toggle="tab" role="tab" aria-selected="false">
                            User's ratings (
                            <th:block th:text="${prebuilt.preBuiltRatingCollection.size()}">
                            </th:block>
                            )
                        </a>
                    </div>
                    <div class="description-review-text tab-content">
                        <div class="tab-pane active show fade" id="pro-dec" role="tabpanel" style="margin-left: 10rem;">
                            <p
                                th:utext="${(prebuilt.detail == null || prebuilt.detail.isEmpty()) ? '(No description)' : prebuilt.detail}">
                            </p>
                        </div>
                        <div class="tab-pane fade overflow-auto text-left border border-secondary" id="pro-review"
                            role="tabpanel" style="height: 20em;overflow-y: scroll;">
                            <div class="card border-bottom border-secondary" th:if="${session.loggedInCustomer != null}"
                                style="background-color: lightyellow;">
                                <div class="card-body border-bottom border-warning">
                                    <form action="prebuilt/doRating" method="post"
                                        enctype="application/x-www-form-urlencoded">
                                        <div class="d-flex">
                                            <input type="hidden" name="prebuiltid" th:value="${prebuilt.id}" />
                                            <input type="number" class="form-control form-control-sm" name="rating"
                                                required min=1 max=10 step="1" style="width: 5rem;" />
                                            <input type="text" class="form-control form-control-sm" name="comment"
                                                placeholder="Comment and rating on this pre-built PC" required />
                                            <button type="submit" class="btn btn-secondary" style="height: auto;"><i
                                                    class="fas fa-comment"></i></button>
                                            <br>
                                        </div>
                                        <i class="text-muted">Rating is from 1 - 10</i>
                                    </form>
                                </div>
                            </div>
                            <div class="card border-bottom border-secondary"
                                th:each="r : ${prebuilt.preBuiltRatingCollection}"
                                style="background-color: lightyellow;">
                                <!-- /.card-header -->
                                <div class="card-body border-bottom border-warning">
                                    <div class="card-comment">
                                        <div class="comment-text">
                                            <span class="username">
                                                <th:block
                                                    th:text="${r.user.customerCollection[0].firstName + ' ' + r.user.customerCollection[0].lastName}">

                                                </th:block>

                                                <span class="text-muted float-right" th:text="${#dates.format(r.createdAt, 'dd/MM/yyyy HH:mm')}">8:03 PM Today</span>
                                                <br>
                                                <th:block th:each="i : ${#numbers.sequence(1, r.rating)}">
                                                    <i th:if="${i != r.rating && i % 2 == 0}" class="fas fa-star"></i>
                                                    <i th:if="${i == r.rating && i % 2 == 0}" class="fas fa-star"></i>
                                                    <i th:if="${i == r.rating && i % 2 != 0}" class="fas fa-star-half-alt"></i>
                                                </th:block>
                                                <th:block th:each="i : ${#numbers.sequence(1, 10-r.rating)}" th:if="${r.rating != 10}">
                                                    <i th:if="${i != (10-r.rating) && i % 2 == 0}" class="far fa-star"></i>
                                                    <i th:if="${i == (10-r.rating) && i % 2 == 0}" class="far fa-star"></i>
                                                </th:block>
                                            </span><!-- /.username -->
                                            <th:block th:text="${r.comment}"></th:block>
                                        </div>
                                        <!-- /.comment-text -->
                                    </div>
                                    <!-- /.card-comment -->
                                </div>
                                <!-- /.card-body -->
                            </div>
                            
                            <!-- <a href="#">Be the first to write your review!</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- product area start -->
    </div>

    <script>
    </script>
</body>

</html>