<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{HTDShop/layout}">

<head>
    <title>HTD Shop - [[${product.name}]]</title>
    <th:block layout:fragment="additionalCss">
        <link rel="stylesheet" th:href="@{/resources/Content/fontawesome-free/css/all.min.css}">
    </th:block>
    <style>
        .product-details-small {
            max-height: 30em;
            overflow-y: hidden;
            overflow-y: auto;
        }

        .product-details-large {
            max-height: 30em;
        }

        .product-spec li {
            list-style: square
        }

        .card-comments {
            background: #f8f9fa;
        }

        .card-comments .card-comment {
            border-bottom: 1px solid #e9ecef;
            padding: 8px 0;
        }

        .card-comment {
            border-bottom: 1px solid #e9ecef;
            padding: 8px 0;
        }

        .card-comments .card-comment::after {
            display: block;
            clear: both;
            content: "";
        }

        .card-comment::after {
            display: block;
            clear: both;
            content: "";
        }

        .card-comments .card-comment:last-of-type {
            border-bottom: 0;
        }

        .card-comment:last-of-type {
            border-bottom: 0;
        }

        .card-comments .card-comment:first-of-type {
            padding-top: 0;
        }

        .card-comment:first-of-type {
            padding-top: 0;
        }

        .card-comments .card-comment img {
            height: 1.875rem;
            width: 1.875rem;
            float: left;
        }

        .card-comments .comment-text {
            color: #78838e;
            margin-left: 40px;
        }

        .comment-text {
            color: #78838e;
            margin-left: 5px;
        }

        .card-comments .username {
            color: #495057;
            display: block;
            font-weight: 600;
        }

        .username {
            color: #495057;
            display: block;
            font-weight: 600;
        }

        .card-comments .text-muted {
            font-size: 12px;
            font-weight: 400;
        }


        .img-bordered {
            border: 3px solid #adb5bd;
            padding: 3px;
        }

        .img-bordered-sm {
            border: 2px solid #adb5bd;
            padding: 2px;
        }

        .img-rounded {
            border-radius: 0.25rem;
        }

        .img-circle {
            border-radius: 50%;
        }

        .tab-pane {
            text-align: left;
        }

        .tab-pane li {
            list-style: square;
        }

        .border-purple {
            border-color: #9628f08c !important
        }

        .detail-ellipsis {
            display: block;
            display: -webkit-box;
            max-width: 100%;
            height: 7.5rem;
            margin: 0 auto;
            line-height: 1.1;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-transition: all .8s ease;
            -moz-transition: all .8s ease;
            -ms-transition: all .8s ease;
            -o-transition: all .8s ease;
            transition: all .8s ease;
        }

        .detail-show {
            height: fit-content;
            -webkit-line-clamp: unset;
            -webkit-transition: all .8s ease;
            -moz-transition: all .8s ease;
            -ms-transition: all .8s ease;
            -o-transition: all .8s ease;
            transition: all .8s ease;
        }
    </style>
</head>

<body>
    <div layout:fragment="content">
        <div class="breadcrumb-area pt-10 pb-10"
            style="background-image: linear-gradient(141deg, #7906d88c 0%, #fff 51%, #7906d88c 75%);">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <ul>
                        <li><a th:href="@{/}">home</a></li>
                        <li><a th:href="@{/search?category=__${product.category.id}__}">Category: <th:block
                                    th:text="${product.category.name}"></th:block></a></li>
                        <li th:text="${product.name}"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="product-details ptb-50 pb-90">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-7 col-12">
                        <div class="product-details-img-content">
                            <div class="product-details-tab mr-35 product-details-tab2">
                                <div class="product-details-small nav mr-10 product-details-2" role=tablist
                                    style="display: block;">
                                    <a class="border border-purple active"
                                        th:if="${product.productImageCollection.isEmpty()}" href="#pro-details1"
                                        data-toggle="tab" role="tab" aria-selected="true"
                                        style="height:8rem; display: flex;align-items: center;">
                                        <img th:src="@{/images/noimage.png}" alt=""
                                            style="max-height: 8rem;max-width: 99%;margin-left: auto;margin-right: auto;">
                                    </a>
                                    <a class="border border-purple" th:each="img,it : ${product.productImageCollection}"
                                        th:classappend="${it.index==0?'active':''}"
                                        th:href="${'#pro-details'+(it.index+1)}" data-toggle="tab" role="tab"
                                        th:aria-selected="${it.index==0?'true':'false'}"
                                        style="height:8rem;display: flex;align-items: center;">
                                        <img th:src="@{/images/__${(img.thumbnailPath!=null && !img.thumbnailPath.isEmpty())? img.thumbnailPath : img.imagePath}__}"
                                            alt=""
                                            th:onerror="'this.onerror=null;this.src=&quot;'+@{/images/noimage.png}+'&quot;'"
                                            style="max-height: 8rem;max-width: 99%;margin-left: auto;margin-right: auto;">
                                    </a>
                                    <!-- <a class="mb-10" href="#pro-details2" data-toggle="tab" role="tab"
                                        aria-selected="true">
                                        <img src="assets/img/product-details/s6.jpg" alt="">
                                    </a>
                                    <a class="mb-10" href="#pro-details3" data-toggle="tab" role="tab"
                                        aria-selected="true">
                                        <img src="assets/img/product-details/s7.jpg" alt="">
                                    </a>
                                    <a class="mb-10" href="#pro-details4" data-toggle="tab" role="tab"
                                        aria-selected="true">
                                        <img src="assets/img/product-details/s8.jpg" alt="">
                                    </a> -->
                                </div>
                                <div class="border border-purple product-details-large tab-content"
                                    style="width: 100%; max-height: 30rem;">
                                    <div class="tab-pane active show fade"
                                        th:if="${product.productImageCollection.isEmpty()}" id="pro-details1"
                                        role="tabpanel" style="text-align: center;">
                                        <div style="display:inline-block;position: relative;height:25rem">
                                            <img th:src="@{/images/noimage.png}" alt=""
                                                style="width: auto;height:100%;max-height: 25rem;max-width: 100%;object-fit: contain;max-width: 99%;">
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" th:each="img,it : ${product.productImageCollection}"
                                        th:classappend="${it.index==0?'active show':''}"
                                        th:id="${'pro-details'+(it.index+1)}" role="tabpanel"
                                        style="text-align: center;">
                                        <div
                                            style="display:inline-block;position: relative;height:25rem;vertical-align: middle;">
                                            <img th:src="@{/images/__${img.imagePath}__}" alt=""
                                                th:onerror="'this.onerror=null;this.src=&quot;'+@{/images/noimage.png}+'&quot;'"
                                                style="width: auto;height:100%;max-height: 25rem;max-width: 100%;object-fit: contain;max-width: 99%;">
                                        </div>
                                    </div>
                                    <!-- <div class="tab-pane fade" id="pro-details2" role="tabpanel">
                                        <div class="easyzoom easyzoom--overlay  is-ready">
                                            <a href="assets/img/product-details/bl2.jpg">
                                                <img src="assets/img/product-details/l6-details-2.jpg" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pro-details3" role="tabpanel">
                                        <div class="easyzoom easyzoom--overlay  is-ready">
                                            <a href="assets/img/product-details/bl3.jpg">
                                                <img src="assets/img/product-details/l7-details-2.jpg" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="pro-details4" role="tabpanel">
                                        <div class="easyzoom easyzoom--overlay  is-ready">
                                            <a href="assets/img/product-details/bl4.jpg">
                                                <img src="assets/img/product-details/l8-details-2.jpg" alt="">
                                            </a>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-5 col-12">
                        <div class="product-details-content">
                            <h3 th:text="${product.name}"></h3>
                            <div class="rating-number">
                                <span>
                                    <th:block th:text="${sold}">
                                    </th:block> sold
                                </span>
                                <div class="quick-view-number">

                                </div>
                            </div>
                            <div class="details-price">
                                <th:block th:if="${discountPrice!=null}">
                                    <span th:if="${product.status == 1 || product.status == 2}">
                                        <i class="text-muted">
                                            <del
                                                th:text="${'$'+#numbers.formatDecimal(product.price, 1, 'COMMA', 2, 'POINT')}"></del>
                                        </i>
                                        <th:block
                                            th:text="${'$'+#numbers.formatDecimal(discountPrice , 1, 'COMMA', 2, 'POINT')}">
                                        </th:block>
                                    </span>
                                </th:block>
                                <th:block th:if="${discountPrice==null}">
                                    <span th:if="${product.status == 1 || product.status == 2}"
                                        th:text="${'$'+#numbers.formatDecimal(product.price , 1, 'COMMA', 2, 'POINT')}"></span>
                                </th:block>
                                <span th:if="${product.status == 3}">Unavailable</span>
                                <span th:if="${product.status == 2}"> - Cooming soon</span>
                                <span th:if="${product.status == 1 && product.stock == 0}"> - Out of stock</span>
                            </div>

                            <div class="quickview-plus-minus" th:if="${product.status==1 && product.stock > 0}">
                                <div class="cart-plus-minus">
                                    <input type="text" value="1" name="quan" id="quan" class="cart-plus-minus-box" min=1
                                        th:max="${product.stock}">
                                </div>
                                <div class="mt-3">
                                    &ThickSpace;/ <th:block th:text="${product.stock}"></th:block>
                                </div>
                                <div class="quickview-btn-cart">
                                    <a class="btn-hover-black"
                                        th:onclick="doAddToCart([[${product.id}]], $('#quan').val())"
                                        style="cursor: pointer;color:#fff">add to cart</a>
                                </div>
                            </div>
                            <div class="alert alert-warning mt-3"
                                th:if="${(product.status == 1 || product.status == 2) && ( (product.promotionCollection.size() > 0 && product.promotionCollection.?[promotionDetail.endDate.compareTo(#dates.createToday()) >= 0].size() > 0) || (product.category.promotionCollection.size() > 0 && product.category.promotionCollection.?[promotionDetail.endDate.compareTo(#dates.createToday()) >= 0].size() > 0) )}">
                                <a th:href="@{/promotion}"><strong class="">Promotion</strong></a>
                                <ul>
                                    <li
                                        th:each="promo : ${product.promotionCollection.?[promotionDetail.isDisabled==false].?[promotionDetail.isAlways==true or promotionDetail.endDate.compareTo(#dates.createToday()) >= 0]}">
                                        <i class="fas fa-gift fa-lg"></i>
                                        <a th:href="@{/promotion?(id=${promo.promotionDetail.id})}"
                                            th:text="${'&quot;' + promo.promotionDetail.name + '&quot;'}"></a>
                                        <th:block th:text="${': ' + product.name + ' '}">
                                        </th:block>
                                        <strong
                                            th:text="${' discount ' + (promo.percentage != null ? (promo.percentage + '%') : ('$' + #numbers.formatDecimal(promo.exactSaleOff , 0, 'POINT', 0, 'COMMA')))}">
                                        </strong>
                                        <th:block
                                            th:text="${promo.maxSaleOff != null ? ('(Max $' + #numbers.formatDecimal(promo.maxSaleOff , 0, 'POINT', 0, 'COMMA') + ')') : ''}">
                                        </th:block>
                                        <br>
                                        <i>
                                            <th:block
                                                th:text="${promo.minQuantity != null ? ('Minimum quantity to get discount: ' + promo.minQuantity + '.') : ''}">
                                            </th:block>
                                            <th:block
                                                th:text="${promo.maxQuantity != null ? ('Maximum quantity to have discount: ' + promo.maxQuantity + '.' ) : ''}">
                                            </th:block>
                                            <th:block
                                                th:text="${promo.limitedQuantity != null ? ('Discount quantity left: ' + promo.quantityLeft + '.' ) : ''}">
                                            </th:block>
                                            <th:block
                                                th:text="${promo.promotionDetail.isAlways == true ? 'Discount last permanently.' : ('Discount last from ' + #dates.format(promo.promotionDetail.startDate,'dd/MM/yyyy') + ' to ' + #dates.format(promo.promotionDetail.endDate,'dd/MM/yyyy') )}">
                                            </th:block>
                                        </i>
                                    </li>
                                    <li
                                        th:each="promo : ${product.category.promotionCollection.?[promotionDetail.isDisabled==false].?[promotionDetail.isAlways==true or promotionDetail.endDate.compareTo(#dates.createToday()) >= 0]}">
                                        <i class="fas fa-gift fa-lg"></i>
                                        <a th:href="@{/promotion?(id=${promo.promotionDetail.id})}"
                                            th:text="${'&quot;' + promo.promotionDetail.name + '&quot;'}"></a>
                                        <th:block th:text="${': All ' + product.category.name + ' '}">
                                        </th:block>
                                        <strong
                                            th:text="${' discount ' + (promo.percentage != null ? (promo.percentage + '%') : ('$' + #numbers.formatDecimal(promo.exactSaleOff , 0, 'POINT', 0, 'COMMA')))}">
                                        </strong>
                                        <th:block
                                            th:text="${promo.maxSaleOff != null ? ('(Max $' + #numbers.formatDecimal(promo.maxSaleOff , 0, 'POINT', 0, 'COMMA') + ')') : ''}">
                                        </th:block>
                                        <br>
                                        <i>
                                            <th:block
                                                th:text="${promo.minQuantity != null ? ('Minimum quantity to get discount: ' + promo.minQuantity + '.') : ''}">
                                            </th:block>
                                            <th:block
                                                th:text="${promo.maxQuantity != null ? ('Maximum quantity to have discount: ' + promo.maxQuantity + '.' ) : ''}">
                                            </th:block>
                                            <th:block
                                                th:text="${promo.limitedQuantity != null ? ('Discount quantity left: ' + promo.quantityLeft + '.' ) : ''}">
                                            </th:block>
                                            <th:block
                                                th:text="${promo.promotionDetail.isAlways == true ? 'Discount last permanently.' : ('Discount last from ' + #dates.format(promo.promotionDetail.startDate,'dd/MM/yyyy') + ' to ' + #dates.format(promo.promotionDetail.endDate,'dd/MM/yyyy') )}">
                                            </th:block>
                                        </i>
                                    </li>
                                </ul>
                            </div>

                            <div class="product-spec">
                                <div class="product-details-cati-tag mt-35">
                                    <ul>
                                        <li class="categories-title">Specifications :</li>
                                    </ul>
                                </div>
                                <div class="ml-3">
                                    <th:block th:if="${product.category.id le 9}"
                                        th:replace="~{/HTDShop/productdetail_template :: full-__${product.category.id}__} ?:~{}">
                                    </th:block>
                                    <th:block th:if="${product.category.id > 9}"
                                        th:replace="~{/HTDShop/productdetail_template :: full-other} ?:~{}">
                                    </th:block>
                                </div>

                            </div>


                            <div class="product-details-cati-tag mt-35">
                                <ul>
                                    <li class="categories-title">Categories :</li>
                                    <li><a th:href="@{/search?(category=${product.category.id})}"
                                            th:text="${product.category.name}"></a></li>
                                </ul>
                            </div>


                            <!-- <div class="product-share">
                                <ul>
                                    <li class="categories-title">Share :</li>
                                    <li>
                                        <a href="#">
                                            <i class="icofont icofont-social-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icofont icofont-social-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icofont icofont-social-pinterest"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icofont icofont-social-flikr"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-description-review-area pb-90">
            <div class="container">
                <div class="product-description-review text-center">
                    <div class="description-review-title nav" role=tablist>
                        <a class="active" href="#pro-dec" data-toggle="tab" role="tab" aria-selected="true">
                            Description
                        </a>
                        <a href="#pro-review" data-toggle="tab" role="tab" aria-selected="false">
                            Comments (
                            <th:block th:with="replySum=${#aggregates.sum(product.productCommentCollection.![productCommentReplyCollection.size()])}">
                                <th:block
                                    th:text="${product.productCommentCollection.size() + (replySum != null ? replySum : 0) }">
                                </th:block>
                            </th:block>
                                )
                        </a>
                    </div>
                    <div class="description-review-text tab-content">
                        <div class="tab-pane active show fade" id="pro-dec" role="tabpanel" style="margin-left: 10rem;">
                            <div class="detail-ellipsis" th:utext="${(product.description == null || product.description.isEmpty()) ? '&lt;p class=&quot;text-center&quot; &gt;(No description)&lt;/p&gt;' : product.description}"></div>
                            <div>
                                <button type="button" onclick="toggleDetail()" id="btnToggleDetail">Show more</button>
                            </div>
                        </div>
                        <div class="tab-pane fade text-left border border-secondary" id="pro-review"
                            role="tabpanel" >
                            <div class="card border-bottom border-secondary" th:if="${session.loggedInCustomer != null}"
                                style="background-color: lightyellow;">
                                <div class="card-body border-bottom border-warning">
                                    <form class="comment" action="product/doComment" method="post" enctype="application/x-www-form-urlencoded">
                                        <div class="d-flex">
                                            <input type="hidden" name="productid" th:value="${product.id}"/>
                                            <textarea type="text" class="form-control form-control" name="comment"
                                                placeholder="Comment on this product" style="resize: none;"></textarea>
                                            <!-- <div class="g-recaptcha" data-sitekey="6LdeYdoUAAAAAHL11wXzM80G7X_dNVEQAYp_V9JN" data-callback="checked"></div> -->
                                            <button type="submit" class="btn btn-secondary" style="height: auto;"><i class="fas fa-comment"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="card border-bottom border-secondary"
                                th:each="cm : ${product.productCommentCollection}"
                                style="background-color: lightyellow;">
                                <!-- /.card-header -->
                                <div class="card-body border-bottom border-warning">
                                    <div class="card-comment">
                                        <div class="comment-text">
                                            <span class="username">
                                                <th:block
                                                    th:text="${cm.customer.firstName + ' ' + cm.customer.lastName}">
                                                </th:block>
                                                <span class="text-muted float-right" th:text="${#dates.format(cm.createdAt, 'dd/MM/yyyy HH:mm')}">8:03 PM Today</span>
                                            </span><!-- /.username -->
                                            <th:block th:text="${cm.content}"></th:block>
                                            <button type="button" class="btn btn-secondary" style="height: auto;float: right
                                            ;" th:data-target="${cm.id}" th:if="${session.loggedInCustomer != null}" onclick="toggleReply(this)"><i class="fas fa-reply"></i></button>
                                        </div>
                                        <!-- /.comment-text -->
                                    </div>
                                    <!-- /.card-comment -->
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer card-comments" th:if="${cm.productCommentReplyCollection.size() > 0}">
                                    <div class="card-comment" th:each="cmr : ${cm.productCommentReplyCollection}" >
                                        <div class="comment-text">
                                            <span class="username">
                                                <th:block th:text="${cmr.customer != null ? (cmr.customer.firstName + ' ' + cmr.customer.lastName) : (cmr.staff.firstName + ' ' + cmr.staff.lastName)}"></th:block>
                                                <i class="text-muted" th:if="${cmr.staff != null}">(Staff)</i>
                                                <span class="text-muted float-right" th:text="${#dates.format(cmr.createdAt, 'dd/MM/yyyy HH:mm')}">8:03 PM Today</span>
                                            </span><!-- /.username -->
                                            <th:block th:text="${cmr.content}"></th:block>
                                        </div>
                                        <!-- /.comment-text -->
                                    </div>
                                    <!-- /.card-comment -->
                                </div>
                                <!-- /.card-footer -->
                                <div class="card-footer card-comments" th:if="${session.loggedInCustomer != null}" th:id="${cm.id}" style="display: none;">
                                    <div class="card-comment" th:if="${session.loggedInCustomer != null}"  >
                                        <form class="comment" action="product/doReply" method="post" enctype="application/x-www-form-urlencoded">
                                            <div class="comment-text">
                                                <span class="username">
                                                    
                                                </span>
                                                <div class="d-flex">
                                                    <input type="hidden" name="productid" th:value="${product.id}"/>
                                                    <input type="hidden" name="commentid" th:value="${cm.id}"/>
                                                    <div class="captcha"></div>
                                                    <input type="text" class="form-control form-control-sm"
                                                        placeholder="Reply to this comment." name="reply">
                                                    <button type="submit" class="btn btn-secondary" style="height: auto;"><i class="fas fa-reply"></i></button>
                                                </div>
                                            </div>
                                            
                                        </form>
                                    </div>
                                </div>
                                <!-- /.card-footer -->
                            </div>
                            
                            <!-- <a href="#">Be the first to write your review!</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- product area end -->


        <!-- Top product in category -->
        <div class="container">
            <h3 class="text-dark mb-0">Top product in <th:block th:text="${product.category.name}"></th:block></h3>
            <div class="text-center mb-5" th:if="${topProducts.size() le 0}" >(There is no products of this category sold yet)</div>
            <div class="d-flex mb-5" style="overflow-x: scroll; overflow-y: hidden;" th:if="${topProducts.size() > 0}">
                <div class="col-lg-6 col-md-6 col-xl-3" th:each="p : ${topProducts}">
                    <div class="product-wrapper mb-30">
                        <div class="product-img text-center">
                            <a th:href="@{/product(id=${p.id})}"
                                th:with="image = ${p.productImageCollection.?[mainImage==true]}">
                                <img th:src="@{/images/__${(image[0].thumbnailPath != null && !image[0].thumbnailPath.isEmpty())? image[0].thumbnailPath : image[0].imagePath}__}"
                                    th:if="${p.productImageCollection.size() > 0 && image.size() > 0}">
                                <img th:src="@{/images/__${(p.productImageCollection[0].thumbnailPath != null && !p.productImageCollection[0].thumbnailPath.isEmpty())? p.productImageCollection[0].thumbnailPath : p.productImageCollection[0].imagePath}__}"
                                    th:if="${p.productImageCollection.size() > 0 && image.size() == 0}">
                                <img th:src="@{/images/noimage.png}" alt=""
                                    th:if="${p.productImageCollection.size()==0}">
                            </a>
                            <span th:if="${shopSv.getDiscountPrice(p) lt p.price}"><i
                                    class="fas fa-gift text-warning"></i></span>
                            <div class="product-action">
                                <!-- <a class="animate-left" title="Wishlist" href="#">
                                                <i class="pe-7s-like"></i>
                                            </a> -->
                                <a class="animate-top" title="Add To Cart" style="color: #fff;cursor: pointer;"
                                    th:onclick="doAddToCart([[${p.id}]], 1)">
                                    <i class="pe-7s-cart"></i>
                                </a>
                                <!-- <a class="animate-right" title="Quick View" data-toggle="modal"
                                                data-target="#exampleModal" href="#">
                                                <i class="pe-7s-look"></i>
                                            </a> -->
                            </div>
                        </div>
                        <div class="product-content">
                            <h4><a th:href="@{/product(id=${p.id})}" th:text="${p.name}"></a></h4>
                            <span th:if="${p.status == 1 && p.stock > 0}">
                                <del th:if="${shopSv.getDiscountPrice(p) lt p.price}"
                                    th:text="${'$'+#numbers.formatDecimal(p.price, 1, 'COMMA', 2, 'POINT')}"
                                    class="text-muted"></del>
                                <th:block
                                    th:text="${'$'+#numbers.formatDecimal(shopSv.getDiscountPrice(p), 1, 'COMMA', 2, 'POINT')}">
                                </th:block>
                            </span>
                            <span th:if="${p.status == 1 && p.stock == 0}">
                                <th:block th:text="${'$'+#numbers.formatDecimal(p.price, 1, 'COMMA', 2, 'POINT')}"
                                    class="text-muted"></th:block>
                                - Out of stock
                            </span>
                            <span th:if="${p.status == 2}">
                                <del th:if="${shopSv.getDiscountPrice(p) lt p.price}"
                                    th:text="${'$'+#numbers.formatDecimal(p.price, 1, 'COMMA', 2, 'POINT')}"
                                    class="text-muted"></del>
                                <th:block
                                    th:text="${'$'+#numbers.formatDecimal(shopSv.getDiscountPrice(p), 1, 'COMMA', 2, 'POINT')}">
                                </th:block>
                                - Upcoming
                            </span>
                            <span th:if="${p.status == 3}">
                                Unavailable
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" id='modalHeader'>
                        <h4 class="modal-title" id="modalTitle">Confirm captcha</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modalBody">
                        <div id="g-recaptcha" class="g-recaptcha ml-auto mr-auto" data-sitekey="6LdeYdoUAAAAAHL11wXzM80G7X_dNVEQAYp_V9JN" data-callback="checked"></div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal" id='modalClose'>Cancel</button>
                        <a class="btn btn-danger" id="modalButton">Yes, delete this</a>
                    </div>
                </div>
            <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>


        <script>
            function onloadCallback() {
                // $("#pro-review").css("overflow-y", "scroll !important");
            }
        </script>
    </div>

    <th:block layout:fragment="additionalScript">
        <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
    </th:block>

    <script layout:fragment="script">
        var check = false;
        var form = null;
        function showModal(title) {
            $('#modalButton').attr('style', 'display:none;');
            $('#modalTitle').html(title);
            $('#modal').modal('show');
        }

        $("#quan").keypress(function (event) {
            if (event.which == 45 || event.which == 189) {
                event.preventDefault();
            }
        })
        $("#quan").on("keyup change clear", function () {
            if (+$(this).val() > +$(this).attr("max")) {
                $(this).val($(this).attr("max"));
            }
            if (+$(this).val() < 1) {
                $(this).val(1);
            }
        });

        $("form.comment").on("submit", function (e) {
            e.preventDefault();
            form = $(this);
            var validated = true;
            form.find("textarea, input[type='text']").each(function (i, e2) {
                $(e2).val($(e2).val().trim());
                if ($(e2).val() == "" || $(e2).val() == null) {
                    $(e2).focus();
                    Toast.fire({
                        type: 'error',
                        title: "Please input some content!",
                        timer: 3000
                    });
                    validated = false;
                }
            });
            if (validated) {
                if ($("#g-recaptcha-response").length) {
                    grecaptcha.reset();
                } else {
                    grecaptcha.render("g-recaptcha", { "sitekey": "6LdeYdoUAAAAAHL11wXzM80G7X_dNVEQAYp_V9JN", "callback": "checked" });
                }
                showModal("Confirm Captcha");
            }
        });

        function checked() {
            var formData = new FormData($(form)[0]);
            var gcaptcha = $("#g-recaptcha-response");
            formData.append(gcaptcha.attr("name"), gcaptcha.val());
            $.ajax({
                url: $(form).attr("action"),
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data == true) {
                        // grecaptcha.reset();
                        // check = false;
                        window.location.reload(true)
                    } else {
                        grecaptcha.reset();
                        $('#modal').modal('hide');
                        Toast.fire({
                            type: 'error',
                            title: "Captcha error, please try again!",
                            timer: 5000
                        });
                    }
                }
            });
        }
        function toggleReply(button) {
            var id = $(button).attr("data-target");
            $("#" + id).css("display", "block");
            $(button).css("display", "none");

        }
        // $.fn.overflown = function () { var e = this[0]; return e.scrollHeight > e.clientHeight || e.scrollWidth > e.clientWidth; }
        function isOverflown(element) {
            return element.scrollHeight > element.clientHeight || element.scrollWidth > element.clientWidth;
        }
        if (!isOverflown($("div.detail-ellipsis")[0])) {
            $("#btnToggleDetail").css("display", "none");
        }

        function toggleDetail() {
            if (!$("div.detail-ellipsis").hasClass("detail-show")) {
                $("#btnToggleDetail").html("Show less");
                $("div.detail-ellipsis").addClass("detail-show");
            } else {
                $("#btnToggleDetail").html("Show more");
                $("div.detail-ellipsis").removeClass("detail-show");
            }

        }
        // grecaptcha.render(
        //     container,
        //     parameters
        // )
    </script>
</body>

</html>