<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{HTDShop/layout}">

<head>
    <title>HTD Shop - Search</title>
    <th:block layout:fragment="additionalCss">
        <link rel="stylesheet" th:href="@{/resources/Content/fontawesome-free/css/all.min.css}">
        <link rel="stylesheet" th:href="@{/resources/Plugins/jquery-ui/jquery-ui.min.css}" />
        <link rel="stylesheet" th:href="@{/resources/Plugins/jquery-ui/jquery-ui.theme.min.css}" />
    </th:block>
    <style>
        .select2-search__field {
            height: auto;
        }

        .product-wrapper {
            height: 100%;
        }

        .product-wrapper:hover {
            border: #9628f08c solid 2px;
        }

        @media (min-width:1200px) {
            .product-list {
                height: 67rem;
            }

            .product-list2 {
                height: 65rem;
            }
        }


        @media (max-width:1200px) {
            .product-list {
                height: 116rem;
            }

            .product-list2 {
                height: 114rem;
            }
        }

        @media (max-width:768px) {
            .product-list {
                height: 206rem;
            }

            .product-list2 {
                height: 204rem;
            }
        }

        .select2 {
            width: 100%;
        }

        .product-img a img {
            max-height: 10rem;
            height: 100%;
            width: 100%;
            max-width: 100%;
            object-fit: contain;
        }

        .block-ellipsis {
            display: block;
            display: -webkit-box;
            max-width: 100%;
            height: 3.5rem;
            margin: 0 auto;
            line-height: 1.1;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
</head>

<body>
    <div layout:fragment="content">
        <div class="breadcrumb-area pt-10 pb-10">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <ul>
                        <li><a th:href="@{/}">home</a></li>
                        <li id="searchLabel">Search: <th:block
                                th:text="${(param.keyword != null && !param.keyword.isEmpty()) ? 'All with filters' : ('&quot;' + param.keyword + '&quot;')}">
                            </th:block>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="shop-page-wrapper shop-page-padding ptb-50">
            <div class="container-fluid">
                <div class="row" id="scrollHere">
                    <div class="col-lg-3">
                        <div class="shop-sidebar mr-50">
                            <div class="sidebar-widget mb-4">
                                <h3 class="sidebar-title">Search Products</h3>
                                <div class="px-3">
                                    <form id="searchKeyword" class="row">
                                        <input placeholder="Search Products..." type="text"
                                            th:value="${param.keyword != null? param.keyword : ''}" name="keyword"
                                            id="keyword" maxlength="100" class="form-control col-10">
                                        <button type="submit" class="col-2"><i class="ti-search"></i></button>
                                    </form>
                                </div>
                            </div>

                            <div class="sidebar-widget mb-4">
                                <h3 class="sidebar-title">Categories</h3>
                                <div class="sidebar-categories">
                                    <select class="select2" data-dropdown-css-class="select2-purple" name="category"
                                        id="category">
                                        <option value="0"
                                            th:selected="${param.category == null || param.category[0] == '0'}">All
                                        </option>
                                        <option th:each="cate : ${session.categories}" th:value="${cate.id}"
                                            th:text="${cate.name}"
                                            th:selected="${param.category!=null && T(Integer).parseInt(param.category) == cate.id}">
                                            All Categories
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <!-- <div class="sidebar-widget mb-4">
                                <h3 class="sidebar-title">Promotions filter</h3>
                                <div class="sidebar-categories">
                                    <select class="select2" data-dropdown-css-class="select2-purple" name="promotion"
                                        id="promotion">
                                        <option value="-1"
                                            th:selected="${param.promo == null || param.promo[0] == '0'}">All
                                        </option>
                                        <option th:each="cate : ${session.categories}" th:value="${cate.id}"
                                            th:text="${cate.name}"
                                            th:selected="${param.promo!=null && T(Integer).parseInt(param.promo[0]) == cate.id}">
                                            All Categories
                                        </option>
                                    </select>
                                </div>
                            </div> -->

                            <div class="sidebar-widget mb-4">
                                <h3 class="sidebar-title">Filter by Price</h3>
                                <div id="priceSlider" class="mb-3"></div>
                                <div class="d-flex">
                                    <form id="searchPrice" class="d-flex">
                                        <input type="number" placeholder="From..."
                                            th:value="${param.from!=null?param.from:'0'}" name="from" required min=0
                                            max=10000 id="from" class="form-control mr-2">
                                        <i class="fas fa-long-arrow-alt-right mt-3"></i>
                                        <input type="number" placeholder="To..."
                                            th:value="${param.to!=null?param.to:'10000'}" name="to" required min=10
                                            max=10000 id="to" class="ml-2 form-control">
                                    </form>

                                </div>

                            </div>



                            <div class="sidebar-widget mb-4" id="filters">

                            </div>


                            <div class="sidebar-widget mb-40">
                                <div class="d-flex mb-2">
                                    <button type="button" id="filter" class="py-2" style="width:100%">Filter</button>
                                </div>
                                <div class="d-flex">
                                    <button type="button" id="resetFilter" class="py-2" style="width:100%">Reset all
                                        filter</button>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-lg-9 product-list">
                        <div class="shop-product-wrapper res-xl res-xl-btn product-list2">
                            <div class="shop-bar-area">
                                <div class="shop-bar pb-60">
                                    <div class="shop-found-selector">
                                        <div class="shop-found">
                                            <p><span id="totalNumber"></span> product(s) found</p>
                                        </div>
                                        <div class="shop-selector">
                                            <label>Sort By : </label>
                                            <select name="psort" id="psort" style="width: auto;">
                                                <option value="default"
                                                    th:selected="${param.sort==null || param.sort[0].equals('default')}">
                                                    Default (Newest first)
                                                </option>
                                                <option value="priceasc"
                                                    th:selected="${param.sort!=null && param.sort[0].equals('priceasc')}">
                                                    Price low -> high
                                                </option>
                                                <option value="pricedesc"
                                                    th:selected="${param.sort!=null && param.sort[0].equals('pricedesc')}">
                                                    Price high -> low
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- <div class="shop-filter-tab">
                                        <div class="shop-tab nav" role=tablist>
                                            <a class="active" href="#grid-sidebar1" data-toggle="tab" role="tab" aria-selected="false">
                                                <i class="ti-layout-grid4-alt"></i>
                                            </a>
                                            <a href="#grid-sidebar2" data-toggle="tab" role="tab" aria-selected="true">
                                                <i class="ti-menu"></i>
                                            </a>
                                        </div>
                                    </div> -->
                                </div>
                                <div class="shop-product-content tab-content" id="result">

                                </div>
                            </div>
                        </div>
                        <div class="pagination-style mt-30 text-center" id="paging">

                        </div>



                    </div>
                </div>
            </div>


        </div>


        <!-- modal -->
        <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="pe-7s-close" aria-hidden="true"></span>
            </button>
            <div class="modal-dialog modal-quickview-width" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="qwick-view-left">
                            <div class="quick-view-learg-img">
                                <div class="quick-view-tab-content tab-content">
                                    <div class="tab-pane active show fade" id="modal1" role="tabpanel">
                                        <img src="assets/img/quick-view/l1.jpg" alt="">
                                    </div>
                                    <div class="tab-pane fade" id="modal2" role="tabpanel">
                                        <img src="assets/img/quick-view/l2.jpg" alt="">
                                    </div>
                                    <div class="tab-pane fade" id="modal3" role="tabpanel">
                                        <img src="assets/img/quick-view/l3.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="quick-view-list nav" role="tablist">
                                <a class="active" href="#modal1" data-toggle="tab" role="tab">
                                    <img src="assets/img/quick-view/s1.jpg" alt="">
                                </a>
                                <a href="#modal2" data-toggle="tab" role="tab">
                                    <img src="assets/img/quick-view/s2.jpg" alt="">
                                </a>
                                <a href="#modal3" data-toggle="tab" role="tab">
                                    <img src="assets/img/quick-view/s3.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="qwick-view-right">
                            <div class="qwick-view-content">
                                <h3>Handcrafted Supper Mug</h3>
                                <div class="price">
                                    <span class="new">$90.00</span>
                                    <span class="old">$120.00 </span>
                                </div>
                                <div class="rating-number">
                                    <div class="quick-view-rating">
                                        <i class="pe-7s-star"></i>
                                        <i class="pe-7s-star"></i>
                                        <i class="pe-7s-star"></i>
                                        <i class="pe-7s-star"></i>
                                        <i class="pe-7s-star"></i>
                                    </div>
                                    <div class="quick-view-number">
                                        <span>2 Ratting (S)</span>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adip elit, sed do tempor incididun ut labore
                                    et dolore magna aliqua. Ut enim ad mi , quis nostrud veniam exercitation .</p>
                                <div class="quick-view-select">
                                    <div class="select-option-part">
                                        <label>Size*</label>
                                        <select class="select">
                                            <option value="">- Please Select -</option>
                                            <option value="">900</option>
                                            <option value="">700</option>
                                        </select>
                                    </div>
                                    <div class="select-option-part">
                                        <label>Color*</label>
                                        <select class="select">
                                            <option value="">- Please Select -</option>
                                            <option value="">orange</option>
                                            <option value="">pink</option>
                                            <option value="">yellow</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="quickview-plus-minus">
                                    <div class="cart-plus-minus">
                                        <input type="text" value="02" name="qtybutton" class="cart-plus-minus-box">
                                    </div>
                                    <div class="quickview-btn-cart">
                                        <a class="btn-hover-black" href="#">add to cart</a>
                                    </div>
                                    <div class="quickview-btn-wishlist">
                                        <a class="btn-hover" href="#"><i class="pe-7s-like"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

    </div>

    <th:block layout:fragment="additionalScript">
        <script th:src="@{/resources/Plugins/jquery-ui/jquery-ui.min.js}"></script>
    </th:block>

    <script layout:fragment="script" th:inline="javascript">
        /*<![CDATA[*/
        var searched = +0;
        var oldCate = /*[[${param.category!=null? param.category : 0 }]]*/'';

        doSearch();

        var priceSlider = $("#priceSlider").slider({
            range: true,
            min: 0,
            max: 10000,
            values: [$("#from").val(), $("#to").val()],
            slide: function (event, ui) {
                $("#from").val(ui.values[0]);
                $("#to").val(ui.values[1]);
            },
            stop: function (event, ui) {
                doSearch(1, null, false);
            }
        });

        $("#category").on("change", function () {
            doSearch(1, null, true);
        });

        $("#searchKeyword").on("submit", function (e) {
            e.preventDefault();
            doSearch(1, null);
        });

        $("#searchPrice").on("change", function (e) {
            e.preventDefault();
            if (+$("#from").val() > +$("#to").val()) {
                $("#from").val(0);
            }
            priceSlider.slider("option", "values", [$("#from").val(), $("#to").val()]);
            doSearch();
        });

        $("#filter").on("click", function () {
            doSearch(1, null, null);
        });

        $("#psort").on("change", function () {
            doSearch(1, $(this).val(), false);
        });

        $("#resetFilter").on("click", function () {
            $("#from").val(0);
            $("#to").val(10000);
            priceSlider.slider("option", "values", [0, 10000]);
            $("#keyword").val("");
            $("#psort").val("default");
            $("#category").val(0).trigger("change");
        });


        function doSearch(page, sort, cateChanged) {
            // Validate filters
            doValidateFilters();

            // Start building url and do ajax
            var searchUrl = /*[[@{/search/result}]]*/'';
            var href =  /*[[@{/search}]]*/'';
            var kParam = $("#keyword").val().trim();
            var cParam = /*[[${param.category!=null? param.category : 0 }]]*/'';
            var styleParam = /*[[${param.style!=null? param.style : '' }]]*/"";
            var pageParam = /*[[${param.page!=null? param.page : 1 }]]*/1;
            var fromParam = $("#from").val();
            var toParam = $("#to").val();
            var sortParam = /*[[${param.sort!=null?param.sort:'default'}]]*/"default";
            var cateChanged = (cateChanged == null ? false : cateChanged);
            if (parseInt($("#category").val()) != parseInt(oldCate) || searched == 0) {
                cateChanged = true;
                oldCate = parseInt($("#category").val());
            }
            cParam = parseInt($("#category").val());
            sortParam = $("#psort").val();
            if (sort != null) {
                sortParam = sort;
            }
            if (page != null) {
                pageParam = page;
            }
            // Get advanced url
            var advanced = getAdvancedSearchString(cParam, cateChanged);
            // Create url
            var urlparams = "";

            if (cParam != "" && parseInt(cParam) != 0) {
                urlparams += "category=" + encodeURIComponent(cParam);
            }
            if (kParam != "") {
                urlparams += "&keyword=" + encodeURIComponent(kParam);
            }
            if (pageParam != "" && parseInt(pageParam) > 1) {
                urlparams += "&page=" + encodeURIComponent(pageParam);
            }
            if (fromParam > 0) {
                urlparams += "&from=" + encodeURIComponent(fromParam);
            }
            if (toParam < 10000) {
                urlparams += "&to=" + encodeURIComponent(toParam);
            }
            if (sortParam != "default") {
                urlparams += "&sort=" + encodeURIComponent(sortParam);
            }
            if (styleParam != "" && styleParam != "grid") {
                urlparams += "&style=" + encodeURIComponent(styleParam);
            }
            if (urlparams + advanced != "") {
                searchUrl += "?" + urlparams + advanced;
                href += "?" + urlparams + advanced;
            }

            if (history.pushState) {
                $("#result").animate({ 'opacity': '0.0' }, 200, function () {
                    $("#result").html("");
                    $.ajax({
                        url: searchUrl,
                        method: 'POST',
                        cache: false,
                        success: function (data) {
                            $("#result").html(data);
                            $("#totalNumber").html($("#result").find("#totalProduct").val());
                            renderPaging(parseInt($("#result").find("#totalPage").val()), pageParam);
                            $("#result").animate({ 'opacity': '1.0' }, 200);
                            $("#searchLabel").html("Search: " + (kParam == "" ? "All with filters" : ("\"" + kParam + "\"")));
                            history.pushState('', 'HTD Shop - Search', href);
                        }
                    });
                });
            } else {
                location.href = href;
            }
            searched++;

            // $([document.documentElement, document.body]).animate({
            //     scrollTop: $("#scrollHere").offset().top
            // }, 500);
        }



        function doValidateFilters() {
            // Keyword
            $("#keyword").val($("#keyword").val().trim());

            // Price filter
            if (!$("#searchPrice")[0].checkValidity()) {
                $("#from").val(0);
                $("#to").val(10000);
            }
            var pricemin = +$("#from").val() || 0;
            var pricemax = +$("#to").val() || 10000;
            if (pricemin > pricemax) {
                $("#from").val(0);
            }

            // TDP
            if ($("#tdpmin").length) {
                if (!$("#filterTdp")[0].checkValidity()) {
                    $("#tdpmin").val(0);
                    $("#tdpmax").val(2000);
                }
                var vTdpMin = +$("#tdpmin").val() || 0;
                var vTdpMax = +$("#tdpmax").val() || 2000;
                if (vTdpMin > vTdpMax) {
                    $("#tdpmin").val(0);
                }
            }

            // Memory Slot
            if ($("#mms").length) {
                var vMms = +$("#mms").val() || 0;
                if (vMms < 0) {
                    $("#mms").val(0);
                }
                if (vMms > 20) {
                    $("#mms").val(20);
                }
            }

            // Memory
            if ($("#mm").length) {
                var vMm = +$("#mm").val() || 0;
                if (vMm < 0) {
                    $("#mm").val(0);
                }
                if (vMm > 1000000) {
                    $("#mm").val(1000000);
                }
            }

            // Screen Size
            if ($("#ss").length) {
                var vSs = +$("#ss").val() || 0;
                if (vSs < 0) {
                    $("#ss").val(0);
                }
                if (vSs > 200) {
                    $("#ss").val(200);
                }
            }
        }


        function renderPaging(totalPage, curPage) {
            var pageStr = "<ul>";
            if (curPage > 1) {
                pageStr += '<li><a style="cursor: pointer;" onclick="doSearch(' + (curPage - 1) + ', null, false)"><i class="ti-angle-left"></i></a></li>'
            }
            for (let i = 1; i <= totalPage; i++) {
                pageStr += '<li class="' + (i == curPage ? 'active' : '')
                    + '">';
                if (i == curPage) {
                    pageStr += "<a>" + i + "</a>";
                } else {
                    pageStr += "<a onclick='doSearch(" + i + ", null, false)' style='cursor: pointer;'>" + i + "</a>";
                }
                pageStr += "</li>";
            }
            if (curPage < totalPage) {
                pageStr += '<li><a style="cursor: pointer;" onclick="doSearch(' + (curPage + 1) + ', null, false)"><i class="ti-angle-right"></i></a></li>'
            }
            pageStr += "</ul>";
            $("#paging").html(pageStr);
        }

        function getAdvancedSearch(cateid, params, cateChanged) {
            var advancedSearchUrl = /*[[@{/search/getAdvancedSearch?cateid=}]]*/'';
            advancedSearchUrl += cateid;

            if (params != null) {
                advancedSearchUrl += params;
            }
            // console.log(advancedSearchUrl);
            if (cateChanged == true) {
                $("#filters").html("");
                $.ajax({
                    url: advancedSearchUrl,
                    method: 'POST',
                    cache: false,
                    success: function (data) {
                        $("#filters").html(data);
                        $("#filters").find('.select2bs4').select2({
                            theme: 'bootstrap4'
                        });
                        $("#filters").find('.select2').select2();
                        $("#filters .select2").css("width", "100%");
                        $("#filters select").on("change", function () {
                            doSearch(1, null, false);
                        });
                        $("#filters input").on("keyup clear", function () {
                            doSearch(1, null, false);
                        });
                    }
                });
            }

        }

        function getAdvancedSearchString(category, cateChanged) {
            var str = "";
            var cateid = category;

            // Check for old paramerter
            var manuParam = /*[[${param.manu!=null? param.manu : '' }]]*/'';
            var skParam = /*[[${param.sk!=null? param.sk : '' }]]*/'';
            var tdpminParam = /*[[${param.tdpmin!=null? param.tdpmin : 0 }]]*/'';
            var tdpmaxParam = /*[[${param.tdpmax!=null? param.tdpmax : 2000 }]]*/'';
            var coParam = /*[[${param.co!=null? param.co : '' }]]*/'';
            var thrParam = /*[[${param.thr!=null? param.thr : '' }]]*/'';
            var srParam = /*[[${param.sr!=null? param.sr : '' }]]*/'';
            var csParam = /*[[${param.cs!=null? param.cs : '' }]]*/'';
            var mtParam = /*[[${param.mt!=null? param.mt : '' }]]*/'';
            var ffParam = /*[[${param.ff!=null? param.ff : '' }]]*/'';
            var mmsParam = /*[[${param.mms!=null? param.mms : 0 }]]*/'';
            var mmParam = /*[[${param.mm!=null? param.mm : 0 }]]*/'';
            var itfParam = /*[[${param.itf!=null? param.itf : '' }]]*/'';
            var mmmParam = /*[[${param.mmm!=null? param.mmm : 0 }]]*/'';
            var psuwParam = /*[[${param.psuw!=null? param.psuw : 0 }]]*/'';
            var psufParam = /*[[${param.psuf!=null? param.psuf : '' }]]*/'';
            var stParam = /*[[${param.st!=null? param.st : '' }]]*/'';
            var rsParam = /*[[${param.rs!=null? param.rs : '' }]]*/'';
            var ssParam = /*[[${param.ss!=null? param.ss : 0 }]]*/'';

            // Re check when number of searches > 0
            if (searched > 0) {
                manuParam = $("#manu").length && !cateChanged ? $("#manu").val() : "";
                skParam = $("#sk").length && !cateChanged ? $("#sk").val() : "";
                tdpminParam = $("#tdpmin").length && !cateChanged ? $("#tdpmin").val() : 0;
                tdpmaxParam = $("#tdpmax").length && !cateChanged ? $("#tdpmax").val() : 2000;
                coParam = $("#co").length && !cateChanged ? $("#co").val() : 0;
                thrParam = $("#thr").length && !cateChanged ? $("#thr").val() : 0;
                srParam = $("#sr").length && !cateChanged ? $("#sr").val() : "";
                csParam = $("#cs").length && !cateChanged ? $("#cs").val() : "";
                mtParam = $("#mt").length && !cateChanged ? $("#mt").val() : "";
                ffParam = $("#ff").length && !cateChanged ? $("#ff").val() : "";
                mmsParam = $("#mms").length && !cateChanged ? $("#mms").val() : 0;
                mmParam = $("#mm").length && !cateChanged ? $("#mm").val() : 0;
                itfParam = $("#itf").length && !cateChanged ? $("#itf").val() : "";
                mmmParam = $("#mmm").length && !cateChanged ? $("#mmm").val() : 0;
                psuwParam = $("#psuw").length && !cateChanged ? $("#psuw").val() : 0;
                psufParam = $("#psuf").length && !cateChanged ? $("#psuf").val() : "";
                stParam = $("#st").length && !cateChanged ? $("#st").val() : "";
                rsParam = $("#rs").length && !cateChanged ? $("#rs").val() : "";
                ssParam = $("#ss").length && !cateChanged ? $("#ss").val() : 0;
            }


            switch (parseInt(cateid)) {
                case 1:
                    str += (manuParam != "" ? "&manu=" + encodeURIComponent(manuParam) : "")
                        + (skParam != "" ? "&sk=" + encodeURIComponent(skParam) : "")
                        + (tdpminParam > 0 ? "&tdpmin=" + encodeURIComponent(tdpminParam) : "")
                        + (tdpmaxParam < 2000 ? "&tdpmax=" + encodeURIComponent(tdpmaxParam) : "")
                        + (coParam != 0 ? "&co=" + encodeURIComponent(coParam) : "")
                        + (srParam != "" ? "&sr=" + encodeURIComponent(srParam) : "");
                    break;
                case 2:
                    str += (manuParam != "" ? "&manu=" + encodeURIComponent(manuParam) : "")
                        + (skParam != "" ? "&sk=" + encodeURIComponent(skParam) : "")
                        + (csParam != "" ? "&cs=" + encodeURIComponent(csParam) : "")
                        + (mtParam != "" ? "&mt=" + encodeURIComponent(mtParam) : "")
                        + (ffParam != "" ? "&ff=" + encodeURIComponent(ffParam) : "")
                        + (mmsParam > 0 ? "&mms=" + encodeURIComponent(mmsParam) : "");
                    break;
                case 3:
                    str += (manuParam != "" ? "&manu=" + encodeURIComponent(manuParam) : "")
                        + (csParam != "" ? "&cs=" + encodeURIComponent(csParam) : "")
                        + (mtParam != "" ? "&mt=" + encodeURIComponent(mtParam) : "")
                        + (tdpminParam > 0 ? "&tdpmin=" + encodeURIComponent(tdpminParam) : "")
                        + (tdpmaxParam < 2000 ? "&tdpmax=" + encodeURIComponent(tdpmaxParam) : "")
                        + (itfParam != "" ? "&itf=" + encodeURIComponent(itfParam) : "")
                        + (mmParam > 0 ? "&mm=" + encodeURIComponent(mmParam) : "");
                    break;
                case 4:
                    str += (manuParam != "" ? "&manu=" + encodeURIComponent(manuParam) : "")
                        + (mtParam != "" ? "&mt=" + encodeURIComponent(mtParam) : "")
                        + (mmParam > 0 ? "&mm=" + encodeURIComponent(mmParam) : "")
                        + (mmmParam > 0 ? "&mmm=" + encodeURIComponent(mmmParam) : "");
                    break;
                case 5:
                    str += (manuParam != "" ? "&manu=" + encodeURIComponent(manuParam) : "")
                        + (psufParam != "" ? "&psuf=" + encodeURIComponent(psufParam) : "")
                        + (psuwParam > 0 ? "&psuw=" + encodeURIComponent(psuwParam) : "");
                    break;
                case 6:
                    str += (manuParam != "" ? "&manu=" + encodeURIComponent(manuParam) : "")
                        + (stParam != "" ? "&st=" + encodeURIComponent(stParam) : "")
                        + (ffParam != "" ? "&ff=" + encodeURIComponent(ffParam) : "")
                        + (itfParam != "" ? "&itf=" + encodeURIComponent(itfParam) : "")
                        + (mmParam > 0 ? "&mm=" + encodeURIComponent(mmParam) : "");
                    break;
                case 7:
                    str += (manuParam != "" ? "&manu=" + encodeURIComponent(manuParam) : "");
                    break;
                case 8:
                    str += (manuParam != "" ? "&manu=" + encodeURIComponent(manuParam) : "")
                        + (ffParam != "" ? "&ff=" + encodeURIComponent(ffParam) : "")
                        + (psufParam != "" ? "&psuf=" + encodeURIComponent(psufParam) : "");
                    break;
                case 9:
                    str += (manuParam != "" ? "&manu=" + encodeURIComponent(manuParam) : "")
                        + (rsParam != "" ? "&rs=" + encodeURIComponent(rsParam) : "")
                        + (ssParam > 0 ? "&ss=" + encodeURIComponent(ssParam) : "");
                    break;
                default:
                    break;
            }
            //console.log(str);
            getAdvancedSearch(cateid, str, cateChanged);
            return str;
        }

        //Initialize Select2 Elements
        $('.select2').select2();

        //Initialize Select2 Elements
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        });
        $(".select2").css("width", "100%");

        /*]]>*/
    </script>
</body>

</html>