<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{HTDShop/layout}">

<head>
    <title>HTD Shop - Search</title>
    <th:block layout:fragment="additionalCss">
        <link rel="stylesheet" th:href="@{/resources/Content/fontawesome-free/css/all.min.css}">
    </th:block>
    <style>
        .select2-search__field {
            height: auto;
        }

        @media (max-width:1200px) {
            .product-list {
                height: 114rem;
            }

            .product-list2 {
                height: 112rem;
            }
        }

        @media (min-width:1200px) {
            .product-list {
                height: 65rem;
            }

            .product-list2 {
                height: 63rem;
            }
        }

        .select2 {
            width: 100%;
        }
    </style>
</head>

<body>
    <div layout:fragment="content">
        <div class="breadcrumb-area pt-10 pb-10"
            style="background-image: linear-gradient(141deg, #7906d88c 0%, #fff 51%, #7906d88c 75%);">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <ul>
                        <li><a th:href="@{/}">home</a></li>
                        <li id="searchLabel">Search: <th:block
                                th:text="${(param.keyword != null && !param.keyword.isEmpty()) ? 'All with filters' : ('&quot;' + param.keyword + '&quot;')}">
                            </th:block>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="shop-page-wrapper shop-page-padding ptb-100">
            <div class="container-fluid">
                <div class="row" id="scrollHere">
                    <div class="col-lg-3">
                        <div class="shop-sidebar mr-50">
                            <div class="sidebar-widget mb-5">
                                <h3 class="sidebar-title">Search Products</h3>
                                <div class="sidebar-search">
                                    <form id="searchKeyword">
                                        <input placeholder="Search Products..." type="text" th:value="${param.keyword}"
                                            name="keyword" id="keyword" maxlength="100" class="form-control">
                                        <button type="submit"><i class="ti-search"></i></button>
                                    </form>
                                </div>
                            </div>

                            <div class="sidebar-widget mb-5">
                                <h3 class="sidebar-title">Categories</h3>
                                <div class="sidebar-categories">
                                    <select class="select2bs4" data-dropdown-css-class="select2-purple" name="category"
                                        id="category">
                                        <option value="0" th:selected="${T(Integer).parseInt(param.category) == 0}">All
                                        </option>
                                        <option th:each="cate : ${session.categories}" th:value="${cate.id}"
                                            th:text="${cate.name}"
                                            th:selected="${T(Integer).parseInt(param.category) == cate.id}">
                                            All Categories
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="sidebar-widget mb-5" id="filters">

                            </div>

                            <div class="sidebar-widget mb-5">
                                <h3 class="sidebar-title">Filter by Price</h3>
                                <div class="d-flex">
                                    <form id="searchPrice" class="d-flex">
                                        <input type="number" placeholder="From..."
                                            th:value="${param.from!=null?param.from:'0'}" name="from" required min=0
                                            max=10000 id="from" class="form-control mr-2">
                                        <i class="fas fa-long-arrow-alt-right mt-3"></i>
                                        <input type="number" placeholder="To..."
                                            th:value="${param.to!=null?param.to:'10000'}" name="to" required min=10
                                            max=10000 id="to" class="ml-2 form-control">
                                    </form>
                                </div>
                            </div>

                            <div class="sidebar-widget mb-40">
                                <div class="d-flex mb-2">
                                    <button type="button" id="filter" class="py-2" style="width:100%">Filter</button>
                                </div>
                                <div class="d-flex">
                                    <button type="button" id="resetFilter" class="py-2" style="width:100%">Reset all
                                        filter</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-9 product-list">


                        <div class="shop-product-wrapper res-xl res-xl-btn product-list2">
                            <div class="shop-bar-area">
                                <div class="shop-bar pb-60">
                                    <div class="shop-found-selector">
                                        <div class="shop-found">
                                            <p><span id="totalNumber"></span> product(s) found</p>
                                        </div>
                                        <div class="shop-selector">
                                            <label>Sort By : </label>
                                            <select name="psort" id="psort" style="width: auto;" onchange="doSearch()">
                                                <option value="default"
                                                    th:selected="${param.sort==null || param.sort.equals('default')}">
                                                    Default (Newest first)
                                                </option>
                                                <option value="priceasc"
                                                    th:selected="${param.sort!=null && param.sort.equals('priceasc')}">
                                                    Price low -> high
                                                </option>
                                                <option value="pricedesc"
                                                    th:selected="${param.sort!=null && param.sort.equals('pricedesc')}">
                                                    Price high -> low
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- <div class="shop-filter-tab">
                                        <div class="shop-tab nav" role=tablist>
                                            <a class="active" href="#grid-sidebar1" data-toggle="tab" role="tab" aria-selected="false">
                                                <i class="ti-layout-grid4-alt"></i>
                                            </a>
                                            <a href="#grid-sidebar2" data-toggle="tab" role="tab" aria-selected="true">
                                                <i class="ti-menu"></i>
                                            </a>
                                        </div>
                                    </div> -->
                                </div>
                                <div class="shop-product-content tab-content" id="result">

                                </div>
                            </div>
                        </div>
                        <div class="pagination-style mt-30 text-center" id="paging">

                        </div>



                    </div>
                </div>
            </div>


        </div>


        <!-- modal -->
        <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="pe-7s-close" aria-hidden="true"></span>
            </button>
            <div class="modal-dialog modal-quickview-width" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="qwick-view-left">
                            <div class="quick-view-learg-img">
                                <div class="quick-view-tab-content tab-content">
                                    <div class="tab-pane active show fade" id="modal1" role="tabpanel">
                                        <img src="assets/img/quick-view/l1.jpg" alt="">
                                    </div>
                                    <div class="tab-pane fade" id="modal2" role="tabpanel">
                                        <img src="assets/img/quick-view/l2.jpg" alt="">
                                    </div>
                                    <div class="tab-pane fade" id="modal3" role="tabpanel">
                                        <img src="assets/img/quick-view/l3.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="quick-view-list nav" role="tablist">
                                <a class="active" href="#modal1" data-toggle="tab" role="tab">
                                    <img src="assets/img/quick-view/s1.jpg" alt="">
                                </a>
                                <a href="#modal2" data-toggle="tab" role="tab">
                                    <img src="assets/img/quick-view/s2.jpg" alt="">
                                </a>
                                <a href="#modal3" data-toggle="tab" role="tab">
                                    <img src="assets/img/quick-view/s3.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="qwick-view-right">
                            <div class="qwick-view-content">
                                <h3>Handcrafted Supper Mug</h3>
                                <div class="price">
                                    <span class="new">$90.00</span>
                                    <span class="old">$120.00 </span>
                                </div>
                                <div class="rating-number">
                                    <div class="quick-view-rating">
                                        <i class="pe-7s-star"></i>
                                        <i class="pe-7s-star"></i>
                                        <i class="pe-7s-star"></i>
                                        <i class="pe-7s-star"></i>
                                        <i class="pe-7s-star"></i>
                                    </div>
                                    <div class="quick-view-number">
                                        <span>2 Ratting (S)</span>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adip elit, sed do tempor incididun ut labore
                                    et dolore magna aliqua. Ut enim ad mi , quis nostrud veniam exercitation .</p>
                                <div class="quick-view-select">
                                    <div class="select-option-part">
                                        <label>Size*</label>
                                        <select class="select">
                                            <option value="">- Please Select -</option>
                                            <option value="">900</option>
                                            <option value="">700</option>
                                        </select>
                                    </div>
                                    <div class="select-option-part">
                                        <label>Color*</label>
                                        <select class="select">
                                            <option value="">- Please Select -</option>
                                            <option value="">orange</option>
                                            <option value="">pink</option>
                                            <option value="">yellow</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="quickview-plus-minus">
                                    <div class="cart-plus-minus">
                                        <input type="text" value="02" name="qtybutton" class="cart-plus-minus-box">
                                    </div>
                                    <div class="quickview-btn-cart">
                                        <a class="btn-hover-black" href="#">add to cart</a>
                                    </div>
                                    <div class="quickview-btn-wishlist">
                                        <a class="btn-hover" href="#"><i class="pe-7s-like"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

    </div>


    <script layout:fragment="script" th:inline="javascript">
        /*<![CDATA[*/
        var searched = +0;
        var oldCate = /*[[${param.category!=null? param.category : 0 }]]*/'';
        doSearch();

        $("#category").on("change", function () {
            //getAdvancedSearch($(this).val(), null, true);
            doSearch(null, null, true);
        });

        $("#searchKeyword").on("submit", function (e) {
            e.preventDefault();
            doSearch();
        });

        $("#searchPrice").on("submit", function (e) {
            e.preventDefault();
            if (+$("#from").val() > +$("#to").val()) {
                $("#from").val(0);
            }
            doSearch();
        });

        $("#filter").on("click", function () {
            doSearch(1, "default", null);
        });

        $("#resetFilter").on("click", function () {
            $("#from").val(0);
            $("#to").val(10000);
            $("#keyword").val("");
            $("#psort").val("default");
            $("#category").val(0).trigger("change");

        });

        $("#sort").on("change", function () {

        });


        function doSearch(page, sort, cateChanged) {

            // Start building url and do ajax
            if (+$("#from").val() > +$("#to").val()) {
                $("#from").val(0);
            }
            var searchUrl = /*[[@{/search/result}]]*/'';
            var href =  /*[[@{/search}]]*/'';
            var kParam = $("#keyword").val();
            var cParam = /*[[${param.category!=null? param.category : 0 }]]*/'';
            var styleParam = /*[[${param.style!=null? param.style : '' }]]*/"";
            var pageParam = 1;
            var fromParam = $("#from").val();
            var toParam = $("#to").val();
            var sortParam = /*[[${param.sort!=null?param.sort:'default'}]]*/"default";
            var cateChanged = (cateChanged == null ? false : cateChanged);
            if (parseInt($("#category").val()) != parseInt(oldCate) || searched == 0) {
                cateChanged = true;
                oldCate = parseInt($("#category").val());
            }
            cParam = parseInt($("#category").val());
            sortParam = $("#psort").val();
            if (sort != null) {
                sortParam = sort;
            }

            if (page != null) {
                pageParam = page;
            }
            // Get advanced
            var advanced = getAdvancedSearchString(cParam, cateChanged);
            console.log("advanced: " + advanced);
            // Create url
            searchUrl += "?" + "category=" + encodeURIComponent(cParam) + "&keyword=" + encodeURIComponent(kParam) + "&style=" + encodeURIComponent(styleParam) + "&page=" + encodeURIComponent(pageParam) + "&from=" + encodeURIComponent(fromParam) + "&to=" + encodeURIComponent(toParam) + "&sort=" + encodeURIComponent(sortParam) + "&" + advanced;
            href += "?" + "category=" + encodeURIComponent(cParam) + "&keyword=" + encodeURIComponent(kParam) + "&style=" + encodeURIComponent(styleParam) + "&page=" + encodeURIComponent(pageParam) + "&from=" + encodeURIComponent(fromParam) + "&to=" + encodeURIComponent(toParam) + "&sort=" + encodeURIComponent(sortParam) + "&" + advanced;
            if (history.pushState) {
                $("#result").animate({ 'opacity': '0.0' }, 200, function () {
                    $("#result").html("");
                    $.ajax({
                        url: searchUrl,
                        method: 'POST',
                        cache: false,
                        success: function (data) {
                            $("#result").html(data);
                            $("#totalNumber").html($("#result").find("#totalProduct").val());
                            renderPaging(parseInt($("#result").find("#totalPage").val()), pageParam);
                            $("#result").animate({ 'opacity': '1.0' }, 200);
                            $("#searchLabel").html("Search: " + (kParam == "" ? "All with filters" : ("\"" + kParam + "\"")));
                            history.replaceState('', 'HTD Shop - Search', href);
                        }
                    });
                });
            } else {
                location.href = href;
            }
            searched++;

            // $([document.documentElement, document.body]).animate({
            //     scrollTop: $("#scrollHere").offset().top
            // }, 500);
        }


        function renderPaging(totalPage, curPage) {
            var pageStr = "<ul>";
            if (curPage > 1) {
                pageStr += '<li><a style="cursor: pointer;" onclick="doSearch(' + (curPage - 1) + ', null, false)"><i class="ti-angle-left"></i></a></li>'
            }
            for (let i = 1; i <= totalPage; i++) {
                pageStr += '<li class="' + (i == curPage ? 'active' : '')
                    + '">';
                if (i == curPage) {
                    pageStr += "<a>" + i + "</a>";
                } else {
                    pageStr += "<a onclick='doSearch(" + i + ", null, false)' style='cursor: pointer;'>" + i + "</a>";
                }
                pageStr += "</li>";
            }
            if (curPage < totalPage) {
                pageStr += '<li><a style="cursor: pointer;" onclick="doSearch(' + (curPage + 1) + ', null, false)"><i class="ti-angle-right"></i></a></li>'
            }
            pageStr += "</ul>";
            $("#paging").html(pageStr);
        }

        function getAdvancedSearch(cateid, params, cateChanged) {
            var advancedSearchUrl = /*[[@{/search/getAdvancedSearch?cateid=}]]*/'';
            advancedSearchUrl += cateid;

            if (params != null) {
                advancedSearchUrl += "&" + params;
            }
            // console.log(advancedSearchUrl);
            if (cateChanged == true) {
                $("#filters").html("");
                $.ajax({
                    url: advancedSearchUrl,
                    method: 'POST',
                    cache: false,
                    success: function (data) {
                        $("#filters").html(data);
                        $("#filters").find('.select2bs4').select2({
                            theme: 'bootstrap4'
                        });
                        $("#filters .select2").css("width", "100%");
                        // $("#filters").find("select").on("change", function () {
                        //     doSearch();
                        // });
                    }
                });
            }

        }

        function getAdvancedSearchString(category, cateChanged) {
            var str = "";
            var cateid = category;

            var skParam = /*[[${param.sk!=null? param.sk : '' }]]*/'';
            var tdpminParam = /*[[${param.tdpmin!=null? param.tdpmin : 0 }]]*/'';
            var tdpmaxParam = /*[[${param.tdpmax!=null? param.tdpmax : 10000 }]]*/'';
            var coParam = /*[[${param.co!=null? param.co : '' }]]*/'';
            var thrParam = /*[[${param.thr!=null? param.thr : '' }]]*/'';
            var srParam = /*[[${param.sr!=null? param.sr : '' }]]*/'';
            switch (parseInt(cateid)) {
                case 1:
                    str += "sk=" + encodeURIComponent($("#sk").length ? $("#sk").val() : skParam)
                        + "&tdpmin=" + encodeURIComponent($("#tdpmin").length ? $("#tdpmin").val() : tdpminParam)
                        + "&tdpmax=" + encodeURIComponent($("#tdpmax").length ? $("#tdpmax").val() : tdpmaxParam)
                        + "&co=" + encodeURIComponent($("#co").length ? $("#co").val() : coParam)
                        //+ "&thr=" + ($("#thr").length ? $("#thr").val() : thrParam)
                        + "&sr=" + encodeURIComponent($("#sr").length ? $("#sr").val() : srParam);
                    break;
                default:
                    break;
            }
            getAdvancedSearch(cateid, str, cateChanged);
            return str;
        }

        //Initialize Select2 Elements
        $('.select2').select2();

        //Initialize Select2 Elements
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        });
        $(".select2").css("width", "100%");

        /*]]>*/
    </script>
</body>

</html>